.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
	transition:		    @transition;
}

.transform (@transform) {
	-webkit-transform: @transform;
	-moz-transform:    @transform;
	-ms-transform:     @transform;
	-o-transform:      @transform;
	transform:		   @transform;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
	@opacityPercentage: @opacity * 100;
	-webkit-opacity:	@opacity;
	-moz-opacity: 		@opacity;
	filter: ~"alpha(opacity = @{opacityPercentage})";
	opacity:			@opacity;
}
