/***POP PUP ESTILO**/
.show_popup{
    display: block;
}

.hide_popup{
    display: none;
}

.welcome{
    text-align:center;
    margin-bottom:16px;
}

#background_popup{ 
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: #000;
    opacity: .70;
    z-index: 70;
} 

#container_popup{ 
    color:#fff;
    width:auto;
    height:auto;
    padding:40px;
    border-radius: 10px ;
    position:absolute;
    max-width:650px;
    background:green;
    margin-left:50%;
    left:-325px;
    top:30px;
    background: #fff;
    z-index: 71; 
    /*text-align: center;*/
    vertical-align: middle; 
}

#content_popup{
    width:570px;

    p{
        font-family: 'Open Sans', sans-serif;
        color: #919191;/*gris*/
        padding:0px;
        margin:2px;
    }
}

#close_popup{
    position:absolute;
    top:20px;
    right:26px;
    background-color:none;
    width:18px;
    height:18px;
    z-index: 172;
    cursor:pointer;
    background-image: url("@{cdn}/themes/swapwink-bootstrap/img/close.png"); 
}

#user-form{
    min-height: 200px !important;
    padding:0px !important;
    margin:0px !important;
}

.logo-email{
    width:100px;
    margin:20px;
}

.caption{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', 'Helvetica', sans-serif!important;
    color: #919191;/*gris*/
}

.space{
    padding:0px;
    margin:0px;
    height:20px;
}

#send_register{
    position:relative;
    float:right;
    width:130px;
    color:#fff;	
}

@media (max-width: 767px){
    #container_popup{ 
        width:650px;
        padding:40px;
        top:16px;
    }

    #content_popup{
        width:100%;
    }

    #user-form{
        width:100%;
    }
}

@media (max-width: 650px){
    #container_popup {
        width: 100%;
        padding: 40px;
        top: 16px;
        max-width: none;
        left: 0;
        margin-left: 0;
    }
}
