@font-face {
  font-family: SwapIcons;
  src: url(https://d224v694zcq7e8.cloudfront.net/themes/default/css/fonts/swaptastica.woff);
}

.ico {
  font-family: SwapIcons;
  font-size: inherit;
  font-style: normal;

  &.ico-one:before {
    content: '\31';
  }
  
  &.ico-two:before {
    content: '\32';
  }
  
  &.ico-three:before {
    content: '\33';
  }
  
  &.ico-reactivate:before {
    content: '\42';
  }
  
  &.ico-users:before {
    content: '\61';
  }

  &.ico-trash:before {
    content: '\62';
  }

  &.ico-clock:before {
    content: '\63';
  }

  &.ico-tag:before {
    content: '\64';
  }

  &.ico-settings:before {
    content: '\65';
  }

  &.ico-device:before {
    content: '\66';
  }

  &.ico-card:before {
    content: '\67';
  }

  &.ico-user:before {
    content: '\68';
  }

  &.ico-scanner:before {
    content: '\69';
  }

  &.ico-report:before {
    content: '\6A';
  }
  
  &.ico-check:before {
    content: '\6B';
  }

  &.ico-marker:before {
    content: '\6C';
  }

  &.ico-world:before {
    content: '\6D';
  }
  
  &.ico-share:before {
    content: '\6E';
  }
  
  &.ico-pencil-blank:before {
    content: '\6F';
  }

  &.ico-locations:before {
    content: '\70';
  }
  
  &.ico-calendar:before {
      content : '\71';
  }
  
  &.ico-filter:before {
      content : '\72';
  }

  &.ico-star:before {
    content: '\73';
  }

  &.ico-phone:before {
    content: '\74';
  }

  &.ico-coupon:before {
    content: '\75';
  }
  
  &.ico-access:before {
    content: '\76';
  }
  
  &.ico-page:before {
    content: '\77';
  }

  &.ico-times:before {
    content: '\78';
  }

  &.ico-plus:before {       
    content: '\79';
  }
  
  &.ico-graph-bar:before {
    content: '\7A';
  }
}