@darkGreen: #15686b;
@grayText: #3c3c3c;
@grayLighter: #7d7d7d;
@grayLightest: #f2f5f7;
@greenBtn: #20DC9C;
@pink: #f63260;
@darkPink: #df2550;
@grayIcon: #d2d2d2;
@iconText: #747474;
@green: #00dca2;

@font-face {
    font-family: "Telegrama";
    src: url(Telegrama-Render.woff);
}

.fa:before {
    margin-right: 0;
}

.coupon-content-preview{
    background: #fff;
    border-bottom: 0;
    margin-bottom: 16px;
    padding: 0 0;
    
    .border-radius(4px);
    
    .coupon-image-container{
        text-align: center;
        margin-bottom: 16px;
        position: relative;
        
        img{
            max-width: 100%;
        }
    }

    .coupon-container {
        background: transparent;
        padding: 20px 0;
    }

    .coupon-info-container {
        .title-text {
            font-size: 25px;
            margin: 32px 0;
            color: @darkGreen;
            font-style: normal;
        }

        .description-text {
            font-size: 16px;
            margin: 32px 0;
            color: @grayText;
            font-style: italic;
            white-space: pre-line;
            word-break: break-word;
        }
    }

    .affiliate-container {
        color: #00dca2;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;
        
        a {
            color: #00dca2;
        }
    }
}

button.exchange {
    background: #20dc9c;
    color: #FFFFFF;
    border: 0 none;
    height: 26px;
    line-height: initial;
}

.ms-container {
    width: auto;

    .ms-selectable li.ms-elem-selectable, .ms-selection li.ms-elem-selection {
        padding: 10px 15px;
    }
    .ms-list {
        height: 250px;
    }
    .ms-selectable li.ms-hover, .ms-selection li.ms-hover {
        background-color: #1cc08a;
    }
}

.location-container {
    font-size: 16px;
    margin: 30px 0;
    color: #3c3c3c;

    .fa {
        color: #27e0b1;
    }
}

.coupons-lists {
    margin-top: 16px;
}

a.a-guest {
    display: block;
    padding-top: 20px;
}

.googlemap-content {
    width: 100%;
    height: 160px;
}

.url_website {
    word-break: break-all;
}

.affiliate-preview {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #f3f3f3;

    .affiliate-logo {
        margin-bottom: 16px;

        figure {
            width: 94px;
            height: 94px;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
            text-align: center;
            
            .border-radius(100%);

            img {
                width: 94px;
                
                .border-radius(0);
            }
        }
    }
}

.warning-low {
    color: #FF0000 !important;

    i.fa {
        color: #FF0000 !important;
    }
}

div.coupon-container {
    background-color: #fff;
}

div.coupon-info-container {
    width: 100%;
}

.category-coupon{
    font-size:16px;
    color:@green;

    .ico{
        color:@greenBtn;
        font-size: 20px;
    }
}

.btn {
    color: #333;

    &:hover {
        color: #23527c;
    }
    
    &.btn-default{
        background-color: #fff;
        color: #333   
    }
}

.pagination{
    > li {
        &:first-child{
            > a,
            > span {
                margin-left: 0;
                border-color: transparent;
                color: white;
                background-color: #3b4658;
                
                .border-radius(50%);
            }
        }

        &:last-child{
            > a,
            > span {
                margin-left: 0;
                border-color: transparent;
                color: white;
                background-color: #3b4658;
                
                .border-radius(50%);
            }
        }
    }

    .active{
        > a,
        > span,
        > a:hover,
        > span:hover,
        > a:focus,
        > span:focus {
            background-color: #20dc9c;
            color: #fff;
        }
    }

    li{
        > a,
        > span {
            color: #3b4658;
            font-size: 1em;
            display: block;
            behavior: url(PIE.htc);
            margin: 0 2px;
            border: hidden;
            
            .border-radius(50%);
        }
    }
}

.affiliate-container{
    figure {
        display: inline-block;
        height: 35px;
        overflow: hidden;
        vertical-align: middle;
        width: 35px;

        .border-radius(100%);

        img {
            width: 35px;
        }
    }
}

.alert {
    font-size: 25px;
    font-weight: 600;
    color: #fff;

    &.alert-expired {
        background: #d94a3e;
        padding: 0px;
        
        .border-radius(0);
    }

    &.alert-runout {
        background: #ff9600;
        padding: 0px;
        
        .border-radius(0);
    }
}

.share {
    font-size: 16px;
    color: #00dca2;
    margin: 32px 0;
}

.valid-in {
    font-size: 16px;
    color: #00dca2;
    margin: 32px 0;

    .openModalMapSubsidiary {
        color: @grayText;
        text-decoration: underline;
        cursor: pointer;
        font-style: italic;
    }
}

.share .social-item {
    float: none;
    display: inline-block;

    a {
        display: block;
        text-align: center;
        width: 30px;
        height: 30px;
        border: 1px solid #00dca2;
        
        .border-radius(100%);
    }

    .fa {
        font-size: 16px;
        color: #aeaeae;
        line-height: 28px;
    }
}

.coupon-action-boton {
    float: none;

    button {
        font-size: 20px;
        white-space: inherit;
    }

    .request-button {
        .border-radius(0);
    }

    .one-click-save-button,
    .exchange,
    .btn-unique{
        background: @greenBtn;
        color: #FFFFFF;
        height: auto;
        border: 0 none;
        line-height: initial;
        width: 100%;
        font-weight: 300;
        
        .border-radius(0);

        &:hover{
            background-color:@darkGreen;
        }
    }

    .btn-swap-green,
    .btn-swap-pink{
        width:100%;
    }
}

.btn-swap-green,
.btn-swap-pink{
    color: #FFFFFF;
    height: auto;
    border: 0 none;
    line-height: initial;
    font-weight: 300;
    
    .border-radius(0);

    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
    }
}

.btn-swap-green{
    background-color: @greenBtn;

    &:hover, &:focus, &:active{
        background-color:@darkGreen;
    }
}

.btn-swap-pink{
    background-color: @pink;

    &:hover, &:focus, &:active{
        background-color:@darkPink;
    }
}

.coupon-icons {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 16px;

    span{
        color:@grayText;
    }

    .ico{
        color:@greenBtn;
        font-size:20px;
        font-style: normal;
    }

    .ico.red{
        color:red;
    }
}

.options-container{
    padding-left:10px;

    .dropdown-header{
        color:#000;
        font-size:16px;
        text-align: center;
        font-weight: bold;
    }

    .dropdown-menu{
        li{
            a.dark{
                color:@grayText;
                text-align: center;
            }
            a.light{
                color:@grayLighter;
            }
            a.dark,a.light{
                &:hover, &:active, &:focus {
                    color: @green;
                    background-color: transparent;
                }
            }
        }
    }
}

.options-caret{
    background-color:transparent;
    border: hidden;

    span{
        color:@green;
    }
}

.ico-custom {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: center center;
    vertical-align: top;

    &.ico-clock {
        background-image: url('@{cdn}/themes/coupon/img/ico-reloj.png');
    }

    &.ico-coupon-green {
        background-image: url('@{cdn}/themes/coupon/img/ico-coupon-green.png');
    }

    &.ico-coupon-gray {
        background-image: url('@{cdn}/themes/coupon/img/ico-coupon-gray.png');
    }

    &.ico-coupon-red {
        background-image: url('@{cdn}/themes/coupon/img/ico-coupon-red.png');
    }

    &.ico-tag {
        background-image: url('@{cdn}/themes/coupon/img/ico-tag.png');
    }

    &.ico-star {
        background-image: url('@{cdn}/themes/coupon/img/ico-star-green.png');
    }

    &.ico-user {
        background-image: url('@{cdn}/themes/coupon/img/ico-user.png');
    }

    &.ico-upload {
        background-image: url('@{cdn}/themes/coupon/img/ico-upload.png');
    }

    &.ico-logout {
        background-image: url('@{cdn}/themes/coupon/img/ico-logout.png');
    }
}

.navbar{
    min-height: 80px;
}

.navbar-head{
    .navbar-brand{
        margin-top: 16px;
    }

    .coupon-search-content {
        position: relative;
        margin: 26px 0 16px;

        [type="text"]{
            height: 28px;
            padding: 4px 30px 4px 10px;
            
            .border-radius(20px);
        }

        .fa {
            &.fa-search {
                position: absolute;
                top: 6px;
                right: 10px;
            }
        }
    }

    .container-messages-notifications{
        margin-right: 0;

        .notification-head.navbar-buttons.actual{
            background: #17c187;
            box-shadow: none;
        }

        .container-messages{
            margin-right: 0;

            .box-messages {
                top: 80px;
                background: #fff;
                border: 0;
                box-shadow: 0 3px 4px #f0f0f0;
                .border-radius(0);

                & > .arrow{
                    top: -12px;
                    right: 0px;
                    left: initial;
                    border-bottom: 12px solid #fff;
                }
            }
        }
    }


    .navbar-buttons{
        padding: 19px 20px 19px;
        background: transparent;

        .fa{
            font-size: 26px;
            color: #fff;
        }

        &:hover{
            background: transparent;

            .box-shadow(none);
        }
    }
    .control-panel{
        height: 80px;
        background: transparent;

        &:hover{
            background: #17c187;

            .box-shadow(none);
        }

        .drop-list{
            top: 80px;
            padding: 0;
            
            .border-radius(0);

            .user-list-winks{
                background: #1b2d4c;
                color: #fff;
            }

            .ico-custom{
                margin: 0 10px;
            }

            span.arrow{
                right: 0;
                border-bottom: 10px solid #1b2d4c;

                &:after {
                    display: none;
                }
            }

            ul li{
                border-bottom: 1px solid #f0f0f0;

                .fake-link,
                a{
                    padding: 4px 8px;
                    display: block;
                }

                a{
                    color: #9d9d9d;
                    font-size: 15px;

                    &:hover{
                        color: #9d9d9d;
                        background: #f0f0f0;
                    }
                }
            }
        }
    }

    .user-avatar{
        width: auto;
        height: auto;
        overflow: initial;
        
        .border-radius(0);
    }

    .user-avatar figure{
        width: 60px;
        height: 60px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        
        .border-radius(100%);

        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;

        img{
            width: 100%;
        }
    }
}

.dropdown-categories{
    .btn-categories{
        font-size: 16px;
        color: #bbbbbb;
        background: transparent;
        border: 1px solid;
        display: block;
        width: 100%;
        max-width: 170px;
        text-align: left;
        position: relative;
        padding: 4px 20px 4px 10px;
        
        .border-radius(4px);

        .caret{
            position: absolute;
            right: 10px;
            top: 50%;
            
            .transform(translateY(-50%));
        }
    }

    .dropdown-menu{
        padding: 0 0;
        min-width: 170px;

        li a:hover,
        li a:focus {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

        li a{
            padding: 4px 10px;
            display: block;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
    }
}

.openModalLocation{
    font-size: 20px;
    color:@greenBtn;

    &:hover{
        color: @grayText;
    }

    i{
        color:@greenBtn;

        &:hover{
            color:@grayText;
        }
    }
}

.nav-tabs {
    border:none;

    >li.active>a,
    >li.active>a:hover,
    >li.active>a:focus {
        border:none;
        background-color:#3b4859;
        color:#fff;
    }
    >li>a:hover {
        border:none;
    }

    >li>a {
        border: none;
        background-color:#ebebeb;
        padding-top:10px;
        padding-bottom: 10px;
        text-align: center;
        font-size:12pt;
        margin: 0;
        color:#3b4859;
        width:100%;

        .border-radius(0);
    }
}

.nav{
    padding-left: 0;
    padding-right:0;

    >li>a:hover,
    >li>a:focus {
        background: #3b4859;
        color:#fff;
    }
}

input.input-tab{
    height:100%;
    width:80%;
    
    .border-radius(0);
}

button.button-tab{
    width:20%;
    height:40px;
    background:#20dc9c;
    color:#fff;
    
    .border-radius(0);
}

button.button-tab > span{
    color:#fff;
}

h5.tab-header{
    margin: 0;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:15px;
    color:#334457;
}

p.tab-description{
    color:#727176;
    padding-left:15px;
    padding-right:15px;
}

.facebook-login {
    background-color: #4E69A2;
    border-color: #435a8b #3c5488 #334c83;
    color: #fff;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.footer-wrapper{
    color: #fff;
    font-size: 13px;

    a,
    .fa,
    h6{
        color: #fff;
    }

    h6{
        font-size: 13px;
        margin-top: 16px;
        text-decoration: underline;
    }

    .btn-footer{
        border: 1px solid #39ffbc;
        background: #2aeeab;

        .border-radius(0);
    }

    .social-item-footer{
        float: none;
        display: inline-block;

        a {
            display: block;
            text-align: center;
            width: 30px;
            height: 30px;
            border: 1px solid #fff;
            
            .border-radius(100%);
        }

        .fa{
            font-size: 16px;
            color: #fff;
            line-height: 28px;
        }
    }

    ul, ol {
        padding: 0 0 0 15px;
    }
}

.footer-rights{
    background: #1b2d4c;
    color: #fff;

    p{
        margin: 10px 0;
    }
}

.categories-select-location{
    margin: 16px 0;
}

.cols-content{
    position: relative;
}

.cols-content:before{
    content:'';
    position: absolute;
    left: 30%;
    top: 0;
    bottom: 0;
    background: #f3f3f3;
    width: 2px;
}

.user-heading.cols-content:before{
    left: 16%;
}

.user-heading.affiliate-view {
    background: #fff;
    padding: 20px;
    
    .border-radius(4px);
}

/** Modal **/

#modal{
    .modal-content{
        background-color: @grayLightest;
        padding: 15px;
    }

    .modal-header{
        color: @darkGreen;
        font-size: 25px;
        text-align: center;
        border:hidden;
    }

    .modal-message {
        color: @grayText;
        font-size: 16px;

        .text-center {
            p {
                color: @grayText;
                font-size: 20px;
                font-style: italic;
                font-weight: 300;

                span {
                    color: @greenBtn;
                }
            }
        }

        .code-text, .unique-text{
            color:@darkGreen !important;
            font-size: 35px !important;
            text-align: center;
            font-weight: 600 !important;
            font-style: normal !important;
        }

        .unique-text{
            background-color: #ffffff;
            padding: 15px 15px;
        }
    }

    .btn-modal{
        color: #ffffff;
        font-size: 20px;
        background-color: @greenBtn;
        font-weight: 300;

        &:hover{
            background-color: @darkGreen;
        }
    }

    .modal-footer{
        border: hidden;
    }
}

/** /MODAL **/

/** Header Download App**/

@darkBlue: #1b2d4c;

.download-app-header{
    background-color:@darkBlue;
    height:35px;

    .container section{
        color:#fff;
        padding:7px;
        font-weight: 300;
        margin:0;

        a{
            display: inline-block;
            margin-left:5px;
            i {
                color: #fff;
                font-size: 14px;
                height: 20px;
                width: 20px;
                padding: 2px;
                border: 1px #fff solid;
                text-align: center;
                
                .border-radius(50%);
            }
        }

        .dropdown {
            clear: none;
            float: right;
            margin-top: 1px;
            margin-left:5px;

            div{
                width:20px;
                border: hidden;
                background-image: url('@{cdn}/themes/default/img/flags.png');
                background-repeat: no-repeat;
                margin-top:4px;
                
                .border-radius(0);

                &.us {
                    height: 11px;
                    background-position: -5241px 0px;

                }

                &.mx {
                    height: 12px;
                    background-position: -3556px 0px;
                }
            }

            .dropdown-menu{
                background-color:#1b2d4c;
                border:hidden;
                max-width:50px;
                min-width: 50px;

                li{
                    a{
                        margin:0;
                        width:100%;
                        background-color: transparent;
                        text-align: center;
                        padding:0;

                        &:hover{
                            background-color: transparent;
                        }

                        div{
                            margin:0 auto;
                        }
                    }

                }
            }

        }

    }
}

/*ICONS*/
.ico-custom {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: center center;
    vertical-align: top;
    background-repeat: no-repeat;
    color:@grayIcon;
}
.ico-custom.ico-device {
    vertical-align: middle;
    background-image: url('@{cdn}/themes/admin/img/ico-device-small.png');
}
.ico-custom.ico-subsidiaries {
    vertical-align: middle;
    background-image: url('@{cdn}/themes/admin/img/ico-subsidiaries.png');
}
.ico-custom.ico-admins {
    vertical-align: middle;
    background-image: url('@{cdn}/themes/admin/img/ico-admins.png');
}
.ico-custom.ico-solution-coupon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url('@{cdn}/themes/admin/img/ico-solution-coupon.png');
}
.ico-custom.ico-solution-business {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url('@{cdn}/themes/admin/img/ico-solution-business.png');
}

/*Icons Affiliate*/

div.icons-affiliate{
    color: @green;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 0;

    i{
        color:@grayIcon !important;
        font-size:20px;
    }

    .txt-icon{
        color:@iconText;
        font-weight: 300;
        font-size: 10px;
    }
}

/*Affiliate View*/
.affiliate-view{

    .affiliate-name{
        font-weight: normal;
        color:@green;
    }

    .affiliate-description{
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        color: @grayText;
        margin-top:15px;
        padding:0;
    }

    .affiliate-contact-info{
        margin-top:15px;
        padding:0;

        p, a{
            color:#828282;
            font-size: 16px;
            font-weight: 300;
        }

        a:hover{
            color:@green;
        }

        i{
            color:@greenBtn;
            font-size:16px;
        }

    }

    div.icons-affiliate{
        color: @green;
        font-size: 20px;
        font-weight: 300;
        padding: 15px 0;

        i{
            color:@grayIcon !important;
        }

        .txt-icon{
            color:@iconText;
            font-weight: 300;
            font-size: 10px;
        }
    }

    .affiliate-subsidiaries{
        color:#828282;
        font-size: 16px;
        font-weight: 300;

        h2{
            color:@darkBlue;
            font-weight: 300;
            font-size:20px;
            margin-bottom: 15px;
        }

        h5{
            color:@green;
            font-size:20px;
            font-weight: 300;
            font-style: italic;
        }

        a.loadSubsidiary{
            color:#828282;
            font-size: 16px;
            font-weight: 300;
            border:hidden;
        }

        i{
            color:@greenBtn;
            font-size: inherit;
            margin-right:5px;
        }
    }

    .logo-container{
        margin:auto;
        position:relative;
        height:94px;
        width:94px;
        background:transparent;
    }

    span.follow, span.followed{
        top:-5px;
        right:-5px;
        height:30px;
        width:30px;
        position:absolute;
        background-size:100%;
    }

    span.follow{
        vertical-align: middle;
        background-image: url('@{cdn}/themes/default/img/follow.png');

        &:hover{
            background-image: url('@{cdn}/themes/default/img/follow-over.png');
        }
    }

    span.followed{
        vertical-align: middle;
        background-image: url('@{cdn}/themes/default/img/followed.png');

        &:hover{
            background-image: url('@{cdn}/themes/default/img/followed-over.png');
        }
    }
}

.gal-container{
    padding:0;
    margin: 15px 0;
}

.gal-preview{
    padding:0 0 3px 3px;
    height:100px;
    overflow: hidden;
    position:relative;
    cursor: pointer;

    img{
        position:relative;
        height:100%;
        margin:auto;
    }

    span{
        font-size:30px;
        text-align: center;
        color:#ffffff;
        height:100%;
        width:100%;
        position:absolute;
        z-index:2;
        top:28px;
        font-style: italic;
    }

}

.preview-op{
    position:absolute;
    opacity: 0.6;
    background-color:#000;
    color:#ffffff;
    height:100%;
    width:100%;
    z-index: 1;
    bottom:3px;
}

/** /Header Download App**/

@media only screen and (max-width: 768px) {
    .categories-select-location{
        .dropdown-categories .btn-categories{
            max-width: initial;
        }
    }

    .footer-wrapper {
        text-align: center;
        font-size: 16px;
    }
}

.coupon-icons i.fa.fa-star-o{color:#20dc9c;vertical-align:middle;font-size:24px}
.coupon-icons i.fa.fa-star{color:#fdd623;vertical-align:middle;font-size:24px}
.amount-winks{margin-right:10px;vertical-align:middle}

.container_exchanged_by{
    figure{
        display: inline-block;
        width: 35px;
        height: 35px;
        overflow: hidden;
        vertical-align: middle;
        border-radius: 100%;
        background-clip: padding-box;
        border: 2px solid #fff;
        margin-right: -14px;
        background: #fff;
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }

    span{
        background: #cdcdcd;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding: 2px;
        vertical-align: middle;
        display: inline-block;
        line-height: 28px;
        font-size: 10px;
        border: 2px solid #fff;
    }
}

.download-app-header .link{
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 30px;
}
.download-app-header .link:hover{
    color: #fff;
}

.geolocation-header{
    background-color: #ff005a;
    position:relative;
}

.geolocation-header div.container p {
    font-size:14px;
    color: #ffffff;
    font-weight:300;
    text-align:center;
    margin:0 auto;
    padding-top:20px;
    padding-left:20px;
    clear:none;
    float:left;
}

.geolocation-header div.container img{
    clear:none;
    float:left;
    margin: 0 auto;
}

.geolocation-header div.container p span{
    text-decoration: underline;
    font-style: italic;
}

.geolocation-header div.container button{
    border: 1px #ffffff solid;
    background: transparent !important;
    color:#ffffff;
    padding:5px 10px;
    margin-top:15px;
    width:100%;
    font-size:12px;
}

.geolocation-header div.container div.row{
    padding: 10px 0px;
    vertical-align:middle;
}
.geolocation-header div.container div.row > div{
    padding:0;
}

.close-geolocation{
    position:absolute;
    right:25px;
    top:10px;
}

.close-geolocation span{
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 18px;
    margin-top: 15px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.dropdown-user-menu .user-avatar{
    height: 80px!important;
}

.dropdown-user-menu .user-avatar figure img {
    max-width: 100%;
    max-height: 100%;
}

.navbar-head .dropdown-menu{
    min-width: 200px;
    right: -10px;
    left: auto;
    border-radius: 0;
    border: 0;
    padding: 0;
}

.navbar-head .dropdown-menu > li > a{
    padding: 5px 8px;
    color: #9d9d9d;
    font-size: 15px;
}

.navbar-head .dropdown-menu > li + li {
    border-top: 1px solid #f0f0f0;
}

.navbar-head .ico-custom {
    margin: 0 10px;
}

.dropdown-user-menu-notification .fa {
    color: #fff;
    font-size: 26px;
    padding: 27px 20px;
}

.navbar-head .dropdown-user-menu-notification .dropdown-menu{
    min-width: 400px;
}

.dropdown-user-menu-notification #numNotification.label {
    position: absolute;
    padding: 2px;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 11px;
    font-weight: 700;
    color: #eea831;
    text-align: center;
    background: #333736;
    -webkit-box-shadow: 0 0 2px #000;
    -moz-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.dropdown-user-menu-notification .view-all{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    background: #fff;
    border-radius: 0px 0px 6px 6px;
    border-top: 1px solid #b8b8b8;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.dropdown-user-menu-notification .request-list{
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    color: #9e9e9e !important;
}

.fa.remove-notification{
    padding: 4px;
}

.dropdown-user-menu-notification .empty{
    text-align: center;
    font-size: 18px;
    padding: 16px;
}

.dropdown-user-menu-notification .view-all a {
    color: #20dc9c;
}

.dropdown-user-menu-notification .fa.fa-spinner{
    color: #000;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    display: block;
}

.dropdown-user-menu-notification .request-list a{
    color: #9e9e9e !important;
}

.dropdown-user-menu-notification .request-list .fa{
    font-size: 16px;
}