.container-messages{
    height: 100%;

    .box-messages{
        position     : absolute;
        top          : 56px;
        display      : none;
        background   : #00dca2;
        height       : 300px;
        border-radius: 6px;
        z-index      : 1;
        border       : 1px solid #00dca2;
        float        : none;
        margin-left  : -338px;

        > .arrow{
            position     : absolute;
            display      : block;
            top          : -10px;
            height       : 0;
            width        : 0;
            right        : 150px;
            left         : 355px;
            border-bottom: 12px solid #00dca2;
            border-left  : 13px solid rgba(0, 0, 0, 0);
            border-right : 13px solid rgba(0, 0, 0, 0);
        }

        h3{
            font-size    : 17px;
            color        : #fff;
            margin       : 0 auto;
            padding      : 15px 15px;
            font-weight  : bold;
            background   : #00dca2;
            border-radius: 6px 6px 0px 0px;
        }

        .view-all{
            font-size    : 17px;
            font-weight  : bold;
            text-align   : center;
            margin       : 0 auto;
            position     :absolute;
            background   :  #fff;
            border-radius: 0px 0px 6px 6px;
            border-top   : 1px solid #b8b8b8;
            left         : 0px;
            right        : 0px;
            bottom       : 0px;
        }
    }

    .view-all a{
        color: #20dc9c; 
    }

    .request-list,
    .message-list{ 
        background: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        height    : 225px;
        width     : 400px;
        color: #9e9e9e !important;

        a{ 
            color: #9e9e9e !important;
        }
    }

    .empty{
        display: block;
        text-align: center;
        padding: 8px;
    }
}

#preview-messages .row,
#preview-friend-requests .row,
#preview-notification-requests .row{ 
    border-bottom : 1px solid #b8b8b8; 
    padding-top   : 20px;
    padding-bottom: 20px;
}

#preview-messages b > a,
#preview-friend-requests b > a,
#preview-notification-requests b > a{
    color: #2A8973;
}

.friend-btn,
.friend-btn.active {
    padding              : 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    border-radius        : 20px;
    border               : 1px solid transparent;
    background           : none;
    text-align           : center;
    vertical-align       : middle;
    white-space          : nowrap;
}

.friend-btn:focus,
.friend-btn:hover {
    color          : #333;
    text-decoration: none;
}
