/* Mixins */
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1px;
}
.hide-text {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}
