/* Mixins */

.clearfix {
	display: inline-block;
  
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
	* html & { height: 1px }
}

.opacity(@opacity) {
	-webkit-opacity: @opacity;
	   -moz-opacity: @opacity;
	        opacity: @opacity;
	/*IE8*/
	@opacity-ie: @opacity * 100;
	filter: alpha(opacity=@opacity-ie);
}

.transition(@args) {
	-webkit-transition: @args;
	   -moz-transition: @args;
	    -ms-transition: @args;
	     -o-transition: @args;
	        transition: @args;
}

.transform (@transform) {
	-webkit-transform: @transform;
	-moz-transform:    @transform;
	-ms-transform:     @transform;
	-o-transform:      @transform;
	transform:         @transform;
}

.backface-visibility(@args) {
	-webkit-backface-visibility: @args;
  	   -moz-backface-visibility: @args;
	    -ms-backface-visibility: @args;
	     -o-backface-visibility: @args;
	        backface-visibility: @args;
}

.transform(@args) {
	-webkit-transform: @args;
	   -moz-transform: @args;
	    -ms-transform: @args;
	     -o-transform: @args;
	        transform: @args;
}

.box-shadow(@args){
	-webkit-box-shadow: @args;
       -moz-box-shadow: @args;
	    -ms-box-shadow: @args;
	     -o-box-shadow: @args;
            box-shadow: @args;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}