/*! main 2.0.6 */
@cdn: "https://d224v694zcq7e8.cloudfront.net";
@fontFamily: 'Poppins', sans-serif;
@import 'modulos/mixins.less';
@import 'modulos/select2.less';

.gradient{
    background: #20dc9c;
    background: -moz-linear-gradient(left, #20dc9c 0%, #20caff 100%);
    background: -webkit-linear-gradient(left, #20dc9c 0%,#20caff 100%);
    background: linear-gradient(to right, #20dc9c 0%,#20caff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20dc9c', endColorstr='#20caff',GradientType=1 );
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//@import url('@{cdn}/themes/default/css/main.css');

/*Pagination*/
.pagination > li > a, .pagination > li > span {   
    border-radius: 50%;
    font-size: 14pt;
    font-style: italic;
    margin-left: 10px;
}

.pagination > li:last-child > a:hover,
.pagination > li:last-child > span:hover,
.pagination > li:first-child > a:hover,
.pagination > li:first-child > span:hover{
    color:#20dc9c;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span{
    background-color:transparent;
    border-color: transparent;
    color:#20dc9c;
    border-radius: 50%;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color:#20dc9c;
    border:hidden;
}

.nav.nav-tabs{
    background-color:#FFFFFF;
    border:hidden;
    padding-top:15px;
    padding-left:15px;
}

.nav.nav-tabs li a{
    margin-left: 0;
    border-radius: 0;
    color:#333334;
    font-weight: 300;
    font-style: normal;
}

.nav.nav-tabs li a:hover, .nav.nav-tabs li.active a{
    border: 1px #20DC9C solid;
    margin-left: 0;
    border-radius: 0;
    background-color:transparent;
    color:#20DC9C;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.hide {
    display: none;
}

.clearfix {
    clear: both;
    display: block;
}

.container-fluid {
    max-width: 1200px;
}

.btn{
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.12);

    &.btn-green,
    &.btn-swap-green,
    &.btn-success{
        background: #20dc9c;
        .gradient
    }

    &.btn-cancel{
        background: #d5d5d5;
        color: #878787;
    }

    &.btn-dark-blue{
        background: #3b4658;

        &:hover{
            color: #ccc;
        }
    }

    &.btn-red{
        background: #e84e52;

        &:hover{
            color: #ccc;
        }
    }

    &.btn-full-size{
        width: 100%;
    }

    &.btn-default{
        background: #d2d3d3;
    }

    .fa{
        margin: 0 4px;
    }

    .phantom-btn{
        color:#000;
    }
}

.acciones{
    width: 100px;
    height: 100%;
    vertical-align: middle;

    .btn{
        white-space: inherit;
    }

    .number{
        font-size: 60px;
        font-weight: 700;
        padding-top: 50px;
    }

    .label{
        font-size: 14px;
    }
}

.single-action-full-size{
    position: relative;
    padding: 0!important;
    width: 100px;
    height: 100%;

    .btn-full-size{
        height: 100%!important;
        padding: 2px 6px;
    }
}

.fake-col{
    display: table-cell;
}

.uppercase{
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 10px 0;
}

.wrapper{
    font-size: 13px;
    height: 100%;
    width: 100%;
    float: left;
}

.main-header {
    margin: 0 35px;
    padding: 5px 0;

    .logo-content{
        float: left;
        margin:0 5px;
        text-align: center;
        font-size: 40px;
        color: #20dc9c;
        vertical-align: middle;
        line-height: 68px;
    }

    h2{
        font-size: 18px;
        margin: 0 0;
        padding: 0 0;
        color: #333334;
        font-weight: 700;
    }

    .view-name{
        margin: 0 0;
        color: #c1c2c2;
        text-transform: uppercase;
    }

    .col-left{
        font-size: 9px;
        padding: 24px 0;
        float: left;
    }

    .col-right{
        float: right;
    }

    .control-panel{
        height: inherit;
        padding: 0;

        .user-name .name{
            display: block;
            padding: 22px 10px;
            margin: 0 10px;
            border-left: 1px solid #d2d3d3;
            border-right: 1px solid #d2d3d3;
        }

        .navbar-right{
            margin-right: 0;
        }	

        .btn-default{
            background: transparent;
            border: 0 none;
            padding-top: 0;
            padding-bottom: 0;

            img{
                width: 72px;
                height: 72px;
                border-radius: 100%;
                background: #E0E7EC;
            }
        }
    }
}

[role="main"]{
    padding: 26px 35px;
}

.main-footer {
    color: #595959;
    font-size: 12px;
    padding: 16px 35px;

    a{
        color: #595959;
    }

    p{
        margin: 0 0;
    }

    .col-1{
        float: left;
    }

    .col-2{
        float: right;
    }
}

body {
    font-family: @fontFamily;
    font-weight: 400;
    font-size: 1.2em;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    background: #F7F8FC;
}

.outer-wrapper {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    padding-left: 256px;
    display: table;
}

#adminmenuback{
    width: 256px;
    height: 100%;
    background-color: #fff;
    top: 0px;
    left: 0;
    bottom: 0px;
    color: rgb(68, 68, 68);
    display: block;
    font-size: 13px;
    outline-color: rgb(68, 68, 68);
    outline-style: none;
    outline-width: 0px;
    position: absolute;
}

.menu-lateral{
    width: 256px;
    margin-left: -256px;
    position: relative;
    float: left;
    z-index: 2;

    .logo-content{
        display: block;
        text-align: center;
        padding: 12px 24px;
        font-size: 32px;
    }

    .icon-logo{
        color: #0DF2BA;
        background: linear-gradient(to right, #0DF2BA 0%, #20CAFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ul{
        clear: left;
        padding: 0;
        list-style: none;

        a{
            display: block;
            text-align: left;
            padding: 0 5px;
            position: relative;
            color: #5A6978;
            font-size: 16px;
            font-weight: 500;
            padding: 24px;

            &:hover,
            &.current{
                background: rgba(13, 242, 186, 0.15);
                color: #20DC9C;

                :after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 5px;
                    background: #0df2ba;
                    background: -moz-linear-gradient(top, #0df2ba 0%, #1abced 100%);
                    background: -webkit-linear-gradient(top, #0df2ba 0%,#1abced 100%);
                    background: linear-gradient(to bottom, #0df2ba 0%,#1abced 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0df2ba', endColorstr='#1abced',GradientType=0 );
                }
            }

            [class^="icon-"]{
                font-size: 20px;
                vertical-align: middle;
                font-size: 24px;
            }

            .legend{
                padding-left: 16px;
            }
        }		
    }
}

.control-panel:hover .user-info p,
.control-panel:hover .user-info a,
.control-panel:hover .user-info .fa {
    color: #333!important;
}

.content-links{
    font-size: 12px; 
    font-weight: 700;
    margin-bottom: 24px;

    .nav-tabs {
        border-bottom: 0 none;
    }

    .nav-tabs > li > a{
        padding-left: 0;
        border: 0;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus{
        background-color: transparent;
        border: 0 none;

        text-decoration: none;

        &:after {
            content: '';
            display: block;
            width: 50%;
            border-top: 3px solid #000;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    a{
        color: #3b4658;
        text-transform:uppercase;
        margin-right: 20px;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }
}

.underline{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 32px;

    &:after {
        content: '';
        display: block;
        width: 70px;
        border-top: 3px solid #000;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

textarea{
    width: 100%;
    background: #fafafa;
    border: 1px solid #e9e9e9;
}

[type=text],
[type=password],
[type=date],
[type=number],
[type=url],
[type=email],
select,
textarea {
    font-family: @fontFamily;
    background: #fafafa;
    border: 1px solid #e9e9e9;

    font-size: 12px;
    padding: 4px 8px;
    border-radius: 0;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.device{

    &.device-create{
        background: #fff;
        display: table;
        width: 100%;
        height: 100%;
        margin-bottom: 32px;

        .description{
            padding: 10px 30px 20px;
        }

        textarea{
            height: 64px;
            resize: none;
        }
    }	
}

.fa-2{
    font-size: 20px;
}


.coupon,
.reward{
    height: 100%;
    background: #fff;
    margin-bottom: 5px;
    display: table;
    width: 100%;

    figure{
        width: 250px;
        height: 200px;
        line-height: 200px;
        overflow: hidden;
        text-align: center;
        position: relative;

        img{
            max-width: 100%;
            max-height: 100%;
        }

        &:after{
            content: '';
            position: absolute;
            width: 90%;
            height: 90%;
            left: 5%;
            top: 5%;
            border: 1px dashed #fff;
        }
    }

    .image-actions{
        text-align: center;
    }

    footer{
        hr{
            margin: 0 15px;
        }

        a{
            color: #a3a3a3;
        }

        i{
            color: #20dc9c;;
        }
    }

    .coupon-content,
    .reward-content {
        padding: 10px 20px;
        vertical-align: top;
        font-size: 12px;
        color: #a3a3a3;
        width: 100%;

        h2{
            font-size: 16px;
            color: #3b4658;
            font-weight: 700;
            margin: 0 0 10px;
            max-height: 16px;
            overflow: hidden;
        }
    }

    &.coupon-create,
    &.reward-create{
        margin-bottom: 32px;

        figure{
            position: relative;
            cursor: pointer;

            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;
                padding: 10px;
                display: table;
                color: #3b4658;
                line-height: initial;

                .fa{
                    font-size: 36px;
                }

                .content{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        textarea{
            height:80px;
            resize: none;
        }

        .fake-row{
            .btn{
                width: 100%;
            }
        }

        .single-action-full-size {
            width: 82px;
        }

        .coupon-content,
        .reward-content{
            h2{
                overflow: initial;
                max-height: initial;
            }
        } 
    }

    &.coupon-approval,
    &.reward-approval{
        .fake-row{
            .btn{
                width: 100%;
                height: 80px;
            }
        }

        .coupon-content,
        .reward-content {
            .creation-date{
                color: #1cc08a;
                margin: 0 0 10px;
                font-weight: 700;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    width: 50px;
                    border-top: 1px solid #d5d5d5;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            .description{
                margin-bottom: 10px;
                max-height: 50px;
                overflow: hidden;
            }
            p{
                margin:0 0;
            }
        }
    }
}

.custom-table-swap{
    margin: 10px 0;
    font-size: 13px;
    color: #959595;

    table{
        background: #fff;
    }

    thead{
        background: #d9d9d9;
        color: #3b4658;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
    }

    table{
        background: #fff;
    }

    strong{
        color: #333334;
        font-size: 14px;
        font-weight: 700;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td{
        padding: 5px;
    }

    .figure{
        width: 92px;

        figure{
            margin: -5px;
        }
    }

    p{
        margin: 0 0;
    }
}

.title{
    font-weight: 700;
    color: #3b4658;
    font-size:12px;
    text-transform: uppercase;
}

.title-underscore{
    font-size: 16px;
    font-weight: 700;
    color: #3b4658;
    position: relative;
    margin-bottom: 14px;

    &:after {
        content: '';
        display: block;
        width: 50px;
        border-top: 1px solid #d5d5d5;
        position: absolute;
        bottom: -6px;
        left: 0;
    }
}

.white-panel{
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 5px;
}

.modal-backdrop{
    z-index: 1030;
}

.button-coupon {
    margin: 0 15px;
    text-align: center;
}

.credit-amount{
    padding: 1px 26px;
    font-size: 28px;
    font-weight: bold;
    line-height: 66px;
    vertical-align: middle;

    .currency{
        font-size: 16px;
        font-weight: 500;
        color: #20CAFF;
        text-transform: uppercase;
    }

    img{
        width: 20px;
        height: 20px;
    }
}

.summary-statistics{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 400;

    .content{
        .number{
            font-size: 3em;
            color: #20CAFF;
        }

        .label{
            color: #929DA9;
            white-space: initial;
        }
    }

    footer{
        background: #20dd9d;
        padding: 10px;
        color: #fff;
        font-weight: 600;
    }
}

.button-coupon{
    width: 100%;
    height: 100%;
    line-height: 100px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.accept{
    background-color: rgb(32,220,156);
    color: rgb(50,70,68);

}

.cancel{
    background-color: rgb(213,213,213);
    color: rgb(135,135,135);
}

.last-col{
    color: #fff;
    background-color: rgb(32, 220, 156);
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    width: 100px;
}

.select2-container--krajee{
    margin-bottom: 5px;

    .select2-dropdown{
        z-index: 10000;
    }

    .select2-search.select2-search--inline{
        float: none;
        width: initial;
    }
}

.dropdown{
    .separator {
        height: 1px;
        background: #e6e6e6;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    h2{
        padding: 3px 10px;
        font-size: 18px;
        line-height: 32px;
    }
}

body.body-iframe,
html.iframe{
    background: #fff;
    height: initial;
}

/* Estilos reporte */

@colorFemale: #ed1c24;
@colorMale: #3a7db7;

.color-female{
    color: @colorFemale;
}

.color-male{
    color: @colorMale;
}

.bgcolor-female{
    background-color: @colorFemale;
}

.bgcolor-male{
    background-color: @colorMale;
}

.report-container{

    .table-head,
    .table-report th{
        font-size: 14px!important;
        background: #e7e7e7!important;
        padding: 4px 10px!important;
    }

    .table-report{
        h1, h2, h3, h4, h5, h6{
            margin: 0 0;
        }
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td{
        border-top: 0!important;
        border-bottom: 1px solid #ddd!important;
    }

    .fw-normal{
        font-weight: 400;
    }

    .title-green{
        color: #20dc9c;
        margin-top: 32px;
    }

    .affiliate_logo{
        width: 36px;
        border-radius: 100%;
    }

    .coupon_sumary{
        width: 100%;

        tr{
            background: #fff;
            border-bottom: 10px solid #EDEDED;
        }

        td{
            padding: 10px;
            vertical-align: top;

            &.separador-gris{
                border-left: 2px solid #ededed;
            }

            &.separador-verde{
                border-left: 3px solid #20dc9c;
            }
        }

        .col-1{
            width: 100px;
        }

        .col-3{
            width: 110px;
        }
    }

    .coupon_sumary .coupon-image,
    .table-report .coupon-image{
        max-width: 80px;
        outline: 2px dotted white;
        outline-offset: -5px;
    }

    .graph-bar{
        position: relative;
        height:10px;

        .bar{
            height:10px;
            float:left;
        }
    }

    .credit-coin-small{
        width: 20px;
    }

    .no-margin{
        margin: 0 0;
    }

    .fa-star.green{
        color: #20dc9c;
    }

    .table-ages{
        tr td:last-child{
            font-weight: 700;
        }

        td,
        th{
            padding: 4px 8px;
            text-align: center;
        }

        .graph-bar{
            width: 100px;
        }
    }

    .fa-big{
        font-size: 75px;
    }
}

.phantom-btn {
    color:#000;

    &:hover{
        color:#20dc9c;
    }
}

div.solutions,
div.solution-square {
    float: left;
}

div.solutions{
    padding: 22px 0;
}

#btn-dropdown-menu-solutions{
    background: transparent;
    border: none;
    height: 66px;
}

.dropdown-menu-solutions{
    color: #20dc9c;

    [class^="icon-"],
    [class*=" icon-"]{
        font-size: 20px;
        vertical-align: middle;
        display: inline-block;
        width: 40px;
        text-align: center;
    }

    .link-solution > img {
        width: 32px;
    }
    
    > li > a {
        padding: 10px;

        &:hover{
            background: rgba(13,242,186,0.15);
            color: #20DC9C;
        }
    }
}

a.link-solution {
    display: block;
    height: 100%;
    padding: 0 8px;
    border-right: 1px solid #6b7786;
    font-size: 20px;
    padding: 0 13px;
}

.solution-label{
    width: 0;
    visibility: hidden;
    display: inline-block;
}

.link-solution {
    color: #6b7786;
}

.link-solution.current{
    color: #20dc9c;
}

.link-solution:focus {
    text-decoration: none;
}

body.view-affiliate-selector{
    .outer-wrapper{
        padding: 0;
    }

    .main-header {
        border-bottom: 2px solid #20dc9c;
        background: #fff;
        padding-left: 0;
        margin: 0 0;

        .col-left{
            display: none;
        }

        .logo-content{
            background: transparent;
        }
    }

    [role="main"] {
        padding: 30px 60px;
    }

    .menu-lateral,
    #adminmenuback
    {
        display: none;
    }
}

.ico-custom {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: center center;
    vertical-align: top;
    background-repeat: no-repeat;

    &.ico-clock {
        background-image: url("@{cdn}/themes/coupon/img/ico-reloj.png");
    }

    &.ico-device{
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-device-small.png");
    }

    &.ico-subsidiaries{
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-subsidiaries.png");
    }

    &.ico-admins{
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-admins.png");
    }

    &.ico-solution-coupon{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-coupon.png");
    }

    &.ico-solution-business{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-business.png");
    }

    &.ico-solution-rewards{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-reward.png");
    }

    &.ico-solution-contest{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-contest.png");
    }

    &.ico-solution-ask{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-ask.png");
    }   
}

.comming-soon{
    position: relative;
}

.comming-soon .overlay{
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    display: none;
    text-align: center;
    position: absolute;
    line-height: 300%;
}

.comming-soon:hover .overlay{
    display: block;
    background: #20dc9c;
    color: #fff;
}


.card{
    display: block;
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;

    &.card-btn{
        border-left: 4px solid #fff;
        border-right: 4px solid #fff;
        font-weight: 300;
        color: #7d7d7d;
        font-size: 14px;

        strong{
            font-weight: 500;
        }

        &:hover{
            border-left-color: #20dc9c;
        }
    }

    .fa::before{
        margin-right: 0;
    }

    .card-header{
        .fa{
            font-weight: 300;
            color:#20dc9c;
        }

        .dropdown button{
            background: none;
            border: 0;
        }
    }

    .card-figure{
        border: 1px solid #20dc9c;
        overflow: hidden;
        border-radius: 100%;
        padding: 4px;
        background: #fff;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 0 auto;

        .figure{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            overflow: hidden;
            background: #f7f8f9;
            display: inline-block;
        }

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card-figure.small{
        width: 60px;
        height: 60px;
    }

    .card-title{
        font-size: 13px;
        text-align: center;
        color: #7d7d7d;
        margin: 5px 0;
    }

    .card-meta-info{
        text-align: center;
        color: #20dc9c;
        font-weight: 300;
        font-size: 21px;

        label{
            font-size: 8px;
            color: #747474;
            font-style: italic;
        }

        &.small{
            font-size: 10px;
        }
    }
}

.preview-affiliate{
    margin-top: 15px;
    margin-bottom: 15px;
}

.preview-affiliate a:focus{
    text-decoration: none;
}

.btn-create-affilate{
    height: 392px;
    padding: 136px 0;

    .figure{
        text-align: center;
        font-size: 52px;
        color: #20dc9c;
        font-weight: 300;
        line-height: 90px;
    }
}

.welcome-dashboard{
    font-size: 20px;
    color: #969696;
    font-weight: 300;
    font-style: italic;

    span{
        color: #20dc9c;
    }
}

.btn-create-subsidiary{
    text-align: center;
    height: 522px;

    .border{
        border: 2px solid #20dc9c;
        padding: 3px;
        height: 100%;
    }

    a{
        display: block;
        background: #f7f8f9;
        height: 100%;
        font-size: 14px;
        padding: 146px 0;
        color: #7d7d7d;

        .figure{
            font-size: 80px;
            font-weight: 100;
            color: #20dc9c;
        }
    }
}

.panel-subsidiary{
    color: #7d7d7d;
    min-height:390px;
    margin-bottom: 5px;

    .row{
        margin: 0 -5px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding: 0 5px;
    }

    .panel-body{
        padding: 0 5px;
    }

    .panel-heading{
        background: #fff;
        border: 0;
    }

    .map-holder{
        margin: 0 -5px;

        img{
            width: 100%;
        }
    }

    &.disable{
        opacity: 0.5;
    }

    h2{
        font-size: 14px;
        font-weight: 600;
        font-style: italic;
        max-height: 16px;
        overflow: hidden;
        margin: 0 0;
        color: #5a6978;
        margin: 0 0 5px;
    }

    .card-data{
        font-size: 10px;
        font-weight: 300;
        font-style: italic;
        height: 215px;

        label{
            color: #20dc9c;
            font-weight: 300;
            font-style: normal;
            margin-bottom: 0;
        }

        .fix-row-height{
            max-height: 32px;
            line-height: 16px;
            overflow: hidden;
        }
    }

    .user-figure{
        width: 24px;
        height: 24px;
        border-radius: 100%;
        overflow: hidden;
        display: inline-block;

        & + .user-figure{
            margin-left: -10px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.item-panel-subsidiary{
    margin-bottom: 30px;
}

.card-actions{
    &.row{
        margin: 0 -1px;

        [class^="col-lg-"],
        [class^="col-md-"],
        [class^="col-sm-"],
        [class^="col-xs-"] {
            padding: 0 1px;
        }
    }

    .fa{
        color: #20dc9c;
    }
}

.search-input{
    position: relative;

    [type="text"]{
        padding-right: 30px;
    }

    .fa.fa-search {
        color: #20dc9c;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}


.user-heading{
    margin-bottom: 20px;

    h1 {
        margin-bottom: 5px;
    }

    .user-avatar-profile {
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        .border-radius(100%);

        img {
            width: 100%;
            height: 100%;
        }

        .overlay{
            cursor:  pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: #fff;
            font-size: 18px;
            background: rgba(0,0,0,.7);
            opacity: 0;

            p{
                width: 100%;
                position: absolute;
                top: 50%;
            }

            &:hover{
                opacity: 1;
            }
        }
    }

    .user-block{
        padding:30px 0;
    }

    .aside-block{
        margin: 0 -15px;
    }

    .wrapper-avatar{
        border: 1px solid #20dc9c;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        padding: 4px;

        .border-radius(100%);
    }

    .user-avatar-profile {
        width: 90px;
        height: 90px;
        overflow: hidden;
        position: relative;

        .border-radius(100%);

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .overlay{
            cursor:  pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: #fff;
            font-size: 18px;
            background: rgba(0,0,0,.7);
            opacity: 0;

            p{
                width: 100%;
                position: absolute;
                top: 50%;
                font-size: 12px;
                .transform(translateY(-50%));
            }

            &:hover{
                opacity: 1;
            }
        }
    }

    .user-block{
        padding:30px 0;
    }

    .aside-block{
        margin: 0 -15px;
    }

    .form-control {
        border-left: 0;
        border-top: 0;
        border-right: 0;
        box-shadow: none;
    }

    .control-label{
        font-size: 15px;
        font-weight: 300;
        color: #24e0b0;
    }

    [type=text], [type=password], [type=date], [type=number], [type=url], [type=email], select, textarea {
        border: 1px solid #dfdfdf;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: none;
        background: transparent;
        .border-radius(4px);
    }

    select{
        border-radius: 0;
        border: 1px solid!important;
    }

    .has-success .form-control,
    .has-error .form-control{
        box-shadow: none;
    }

    .affiliate-menu{
        list-style-type: none;
        margin: 0 0 16px;
        padding: 0 0;
        border-top: 1px solid #f0f0f0;

        li{
            border-bottom: 1px solid #f0f0f0;;
            padding: 10px 5px;

            a{
                display: block;
            }
        }
    }

    .logo-affiliate{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .select2-container,
    .select2-container .select2-choice,
    .select2-container-multi .select2-choices{
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #dfdfdf;

        .border-radius(4px);
    }

    .select2-container-multi .select2-choices li.select2-search-choice{
        .border-radius(4px);
    }

    .select2-container.form-control{
        border-bottom: 0;
    }
}

.btn-swap-white, .btn-proces-white {
    color: #00C481;
    background: #fff;
    border: 1px solid #e7e7e7;
}

.upload-input {
    cursor: pointer;
    overflow: hidden;
    height: 50px;

    .fa{
        font-size: 30px;
        margin: 0 4px;
    }

    .fa:before {
        margin-right: 0!important;
    }
}

.new-content-links{
    margin-bottom: 0;

    .nav-tabs > li{
        background: #e0e7ea;
    }

    .nav-tabs > li > a{
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 0;
    }

    .nav-tabs > li.active > a:after,
        .nav-tabs > li > a:hover:after,
        .nav-tabs > li > a:focus:after,
        .nav-tabs > li.active:first-child:before,
        .nav-tabs > li.active:last-child:after{
        display: none;
    }

    .nav-tabs > li:first-child{
        border-top-left-radius: 2px;
    }

    .nav-tabs > li:last-child{
        border-top-right-radius: 2px;
    }

    .nav-tabs > li.active{
        background: #fff;
        z-index: 1;
        padding-top: 2px;
        margin-top: -2px;
    }

    .nav-tabs > li.active:before,
        .nav-tabs > li.active:after{
        content: '';
        display: block;
        width: 16px;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: #fff;
        z-index: -1;
    }

    .nav-tabs > li.active:after {
        right: -8px;
        transform: skew(20deg);
    }

    .nav-tabs > li.active:before {
        left: -8px;
        transform: skew(-20deg);
    }
}

.tab-content-links{
    background: #fff;
    padding: 10px;

    .custom-table-swap thead{
        background: transparent!important;
        color: #20dc9c;
    }

    .table-bordered{
        border: 0;
    }

    .table-striped > tbody > tr:nth-of-type(odd){
        background: trasparent;
    }

    .custom-table-swap thead{
        th{
            border: 0!important;
            text-transform: none;
            font-weight: 400;
        }

        a{
            color: #20dc9c;
            text-transform: none;
            font-weight: 400;
        }
    }
}

.card.card-btn.active{
    border-left-color: #20dc9c;
}

.view-recharge .credit-amount{
    text-align: center;
    font-size: 40px;
    color: #555555;
    background: #fff;
    margin: 0 0 10px;
    padding: 40px 5px;
    height: auto;
}

.item-payment-system{
    height: 70px;
    width: 100%;
    display: table;

    .item{
        display: table-cell;
        vertical-align: middle;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}


.btn-add-role-user{
    text-align: center;
    padding: 40px 0 16px;

    .border{
        .figure{
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: 2px solid #20dc9c;
            margin-bottom: 24px;
            display: inline-block;
            line-height: 28px;
            font-size: 30px;
            color: #20dc9c;
            font-weight: 300;
        }
    }
}

.ui-autocomplete{
    z-index: 10000;

    .user-avatar-mini{
        width: 30px;
        height: 30px;
    }
}

.dropdown-menu .credit-amount{
    height: auto;
}

.user-avatar .dropdown-menu{
    padding: 0 2px;
    border-radius: 0;
}

.user-avatar .dropdown-menu::before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 14px 12px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    right: 0;
    top: -14px;
    z-index: 100;
    content: '';
}

.user-avatar .dropdown-menu > li > a,
.user-avatar .dropdown-menu > li > span{
    padding: 3px 10px;
    line-height: 32px;
    font-size: 15px!important;
}

.user-avatar .caret{
    color: #0DF2BA;
}

.fa-user-swapwink{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('@{cdn}/themes/default/img/user-placeholder.png') no-repeat center center;
    vertical-align: middle;
}

.fa-sign-out-swapwink{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('@{cdn}/themes/default/img/logout.png') no-repeat center center;
    vertical-align: middle;
}

.fa-sign-out-swapwink-green{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('@{cdn}/themes/default/img/logout-green.png') no-repeat center center;
    vertical-align: middle;
}

.fa-cog-swapwink{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('@{cdn}/themes/default/img/settings.png') no-repeat center center;
    vertical-align: middle;
}

.fa-back-swapwink{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('@{cdn}/themes/default/img/back.png') no-repeat center center;
    vertical-align: middle;
}

.user-avatar .dropdown-menu .logo-affiliate {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.user-avatar .dropdown-menu .logo-affiliate img{
    max-width: 100%;
    max-height: 100%;
}

.sw-custom-dropdown-option-menu {
    background: none;
    border: none;
    padding: 0 2px;

    .fa{
        color: #20dc9c;
    }
}

.panel.panel-default{
    border: 0;
    border-radius: 0;
}

.create-button{
    background-color:#20dc9c;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding:5px 10px;
    max-width: 150px;
    text-align:center;
    text-transform: none;
    margin-bottom: 5px;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.12);

   .gradient
}


.ico-wallet{
    height: 32px;
    width: 32px;
    background-image: url(../ico-wallet.png);
    background-position: center center;
    background-size: 18px 18px;
    display: inline-block;
    border-radius: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-color: rgba(13, 242, 186, 0.21);
}


.main-header{
    .btn{
        box-shadow: none;
        border-radius: 0;
    }

    .notifications{
        padding: 16px 0;
        float: left;

        .dropdown{
            float: left;
        }


        .dropdown-toggle{
            background-color: rgba(13, 242, 186, 0.21);
            border-radius: 100%;
            width: 40px;
            height: 40px;
            padding: 5px;
            margin: 0 3px;
            border: 0;

            i{
                display: block;
                border-radius: 100%;
                line-height: 30px;
                height: 30px;
                width: 30px;
                background: #0df2ba;
                background: -moz-linear-gradient(-45deg, #0df2ba 0%, #20caff 100%);
                background: -webkit-linear-gradient(-45deg, #0df2ba 0%,#20caff 100%);
                background: linear-gradient(135deg, #0df2ba 0%,#20caff 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0df2ba', endColorstr='#20caff',GradientType=1 );
            }

            .badge{
                position: absolute;
                top: 0;
                right: 0;
                background: #E84B4B;
            }
        }
    }
}

.btn-group{
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.12);

    .btn-group,
    .btn{
        box-shadow: none;
        border-radius: 0;
    }

    .btn-group:first-child .dropdown .btn{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .btn-group:last-child .dropdown .btn{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

.soft-hide{
    display: none;
}

.menu-lateral .header-menu{
    border-bottom: 2px solid #F7F8FC;
}

.menu-lateral .header-menu .fa.fa-chevron-down,
.menu-lateral .header-menu .fa.fa-chevron-up{
    color: #21d397;
}

.menu-lateral a:focus{
    text-decoration: none;
    outline: none;
    outline-offset: initial;
}

.panel-heading{
    position: relative;
}

.panel-heading:after{
    content: '';
    border-top: 1px solid #f7f8fc;
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
}

.panel-swapwink{
    .panel-heading{
        color: #292F36;
        font-size: 13px;
        font-weight: 600;

        .label{
            color: #292F36;
        }
    }
}

.menu-bars{
    font-size: 32px;
    color: #20dc9c;
    padding: 15px;
}

.icon-pin{
    font-size: 10px!important;
}

@media only screen and (max-width: 990px) {
    .outer-wrapper{
        padding-left: 0;
        display: block;
    }

    .wrapper{
        float: none;
    }

    .coupon {
        height: auto;
        display: block;

        figure {
            width: 100%;
            height: auto;
            line-height: initial;

            &::after {
                width: initial;
                height: initial;
                left: 5px;
                top: 5px;
                bottom: 5px;
                right: 5px;
            }

            img {
                max-height: none;
            }
        }
    }

    .fake-col{
        display: block;
    }

    .acciones,
    .single-action-full-size,
    .last-col{
        width: 100%;
    }

    .acciones .number{
        font-size: 30px;
        padding: initial;
        margin: 0 0;
    }

    .coupon.coupon-create{	
        .fake-col {
            display: block;
        }

        .acciones,
        .single-action-full-size{
            width: 100%;
        }
    }

    .menu-lateral{
        float: none;
        margin: 0;
        position: absolute;
        left: -200%;

        -webkit-transition: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
        transition: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);

        ul{
            width: 100%;
            margin: 0 0;
        }

        .header-submenu-content{
            display: none!important;
        }

        .soft-hide{
            display: block;
        }
    }

    body.menu-open{
        overflow: hidden;
        position: absolute;
        height: 100%;
        width: 100%;

        .menu-lateral{
            left: 0;
            z-index: 4;
            background: #fff;
            height: 100%;
            width: 250px;
            display: block;
            overflow: auto;
        }

        .menu-overlay{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,0.5);
            z-index: 1;

            -webkit-transition: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
            transition: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
        }

        .outer-wrapper{
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .main-header{
        z-index: initial;
        background: #fff;
        margin: 0;

        .dropdown-menu{
            right: 0;
            left: inherit;
        }
    }

    .main-footer {
        margin-right: 0;
        padding: 10px;
    }

    #adminmenuback{
        display: none;
    }

    [role="main"]{
        padding: 26px 15px 160px;
    }

    .credit-amount{
        font-size: 16px;
    }

    .nmt{
        table, 
        thead, 
        tbody, 
        th, 
        td, 
        tr{ 
            display: block; 
        }

        table{
            border: 0;
        }

        thead tr{ 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr{
            border: 1px solid #ccc;
            margin-bottom: 16px;
        }

        td{ 
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%!important; 
            white-space: normal;
            text-align:left;
        }

        td:before { 
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            text-align:left;
            font-weight: bold;
        }

        td:before{
            content: attr(data-title);
        }
    }
}