@font-face {
  font-family: 'swapwink-icons';
  src:  url('../fonts/swapwink-icons.eot?jghoqu');
  src:  url('../fonts/swapwink-icons.eot?jghoqu#iefix') format('embedded-opentype'),
    url('../fonts/swapwink-icons.ttf?jghoqu') format('truetype'),
    url('../fonts/swapwink-icons.woff?jghoqu') format('woff'),
    url('../fonts/swapwink-icons.svg?jghoqu#swapwink-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'swapwink-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-polls:before {
  content: "\e914";
}
.icon-credits:before {
  content: "\e912";
}
.icon-pin:before {
  content: "\e913";
}
.icon-logo:before {
  content: "\e911";
}
.icon-contest:before {
  content: "\e900";
}
.icon-exchange-code:before {
  content: "\e901";
}
.icon-rewards:before {
  content: "\e902";
}
.icon-swapwink:before {
  content: "\e903";
}
.icon-config:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-users:before {
  content: "\e906";
}
.icon-admin:before {
  content: "\e907";
}
.icon-report:before {
  content: "\e908";
}
.icon-sticker:before {
  content: "\e909";
}
.icon-sale:before {
  content: "\e90a";
}
.icon-earnings:before {
  content: "\e90b";
}
.icon-product:before {
  content: "\e90c";
}
.icon-winkboard:before {
  content: "\e90d";
}
.icon-ask:before {
  content: "\e90e";
}
.icon-bell:before {
  content: "\e90f";
}
.icon-message:before {
  content: "\e910";
}
