.format_normal, .format_bold, .format_italics, .format_underline
{
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-style: normal;
	font-weight: light;
	text-decoration: none;
	font-size:13px;
	margin:0px;
	padding:0px;
}

.format_italics
{
	font-style: italic !important;
}

.format_bold
{
	font-weight: bold !important;
}

.format_underline
{ 
	text-decoration: underline !important;
}

.size_img
{
	height:13px;
	margin:0px;
	padding:0px;
}

/* Círculos de colores numerados */
span.circle {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  display: inline-block;
  font-weight: bold;
  line-height:28px;
  text-align: center;
  width: 28px;
  margin:0px;
  padding:0px;
}

ul.dropdown-menu
{
	border-radius: 5px;
	border-color:#20dc9c;
	width:250px !important;
	margin:0px;
	padding:15px;
	
}

ul.dropdown-menu li
{
	position:relative !important;
	float:left;
	width:auto;
	padding:0px;
	padding-top:8px;
	padding-bottom:8px;
}

ul.dropdown-menu li img
{
	width:35px;
	heigth:35px;
	padding-left:5px;
}

#conversation,#online
{
	background:#f3f3f3;
	border-radius: 14px;
	padding:25px;
	height:350px;
	overflow-y: scroll;
	overflow-x: hidden;
}


#online  img
{
	margin-right:10px;
}


#conversation label
{
	display:inline-block;
}

#online img,#conversation img
{
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height:40px;
  width: 40px;
}


 input[type="text"]
{
	background:#f3f3f3 !important;
	border-radius: 5px !important;
	margin-left:10px;
}

#online
{
	height:435px;
	padding-top:20px;
	padding-right:0px;	
}

#online li
{
	list-style:none;
	word-wrap: break-word;
	width:100%;
	padding:0px;
	margin:0px;
	margin-bottom:20px;
}

#chat_warning
{
	width:38px;
	height:38px;
	visibility: hidden;
}


#conversation li
{
	display:block;
	margin-bottom:10px;
	clear:both;
	list-style:none;
}

.col-avatar
{
	width:7%;
	height:40px;
	margin:0px;
	padding:0px;
	text-align:center;
	word-wrap: break-word;
}


.col-msg
{
	width:92%;
	border-radius:5px;
	margin:0px;
	padding:10px 25px; /*top y bottom -rigth y left*/
	word-wrap: break-word;
}

.my_msg label
{
	position:relative !important;
	float:right;
	margin-bottom:35px;
	
}



.other_msg label
{
	position:relative !important;
	float:left;
	margin-bottom:35px;
}



.btn-default
{
	border:none !important;
}

.btn-default:hover
{
	border-radius:0px !important;
}