html{
	height: 100%;
}

.container.container-login{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 10%;
	padding-bottom: 50px;
	min-height: 100%;
	
	#logo-login{
		width: 50%;
	}
	
	.img-responsive-custom{
		max-width:100%;
	}

	.container_form{
		max-width: 300px;
		margin: 0 auto;
		text-align: center;

		.form-control{
			border-radius: 0;
		}
		
		.margin_top_fields{
			margin-top: 10px;
		}
		
		.fields-container{
			margin-bottom: 16px;
			overflow:inherit;

			.form-group{
				position:relative;
				
				input {
					width: 250px;
					.box-shadow(none);
					margin-bottom: 0;
				}
			}
		}
		
		.error-login{
			display:none!important;
		}
		
		.form-group.has-error.text-danger{
			border:1px solid rgba(255,0,0,0.8);
			border-radius:4px;
			
			.input-group-addon:first-child{
				border-color:#f00;
			}
		}
		
		[type="submit"] {
			background: #594537;
			color: #fff;
		}
	}

	.content-center{
		text-align: center;
	}
}

.body-login .footer-login {
  position: static;
  height: 50px;
  margin-top: -50px;
}

@media (max-width: 990px){
	.container.container-login .container_form .fields-container .form-group input {
		width: 100%;
	}
}

@media (max-width: 767px){
    .container.container-login{
		margin-top: 0% !important;
		min-height: initial;
		
		.logo_carita{
			margin-left: 5%;
		}
		
		.footer-login {
			position: relative;
		}

		.container_form{
			margin-top: 5%;
			
			.fields-container .form-group input{
				width:100%;
			}
		}
    }
}
