@media only screen and (max-width: 880px) {
	.user-winks {
		left: 25%;
		margin-left: 0;
	}
	
	.container-messages-notifications{
		.fa:before {
			margin-right: 0;
		}
	}
}

@media only screen and  (max-width: 700px){

	.user-winks {
		left: 110px;
	}
	
	.grid-view > div{
		width: 100%;
		overflow: auto;
	}
	
	li.page{
		display:none!important;
	}
}

@media only screen and (max-width: 650px) {
	.user-winks {
		width: 50%;
		left: 50%;
		margin-left: -25%;
	}

	.navbar-head .navbar-buttons {
		width: 100%;
		height: auto;
	}
	
	.navbar-head .container-messages-notifications .container-messages{
		display: block;
		width: 25%;
		margin-right: 0;
		float: left;
	}
	
	.navbar-head .container-messages-notifications{
		clear:both;
		width: 100%;
		padding: 0;
		text-align:center;
		
		.fa{
			font-size: 22px;
		}
	}
	
	.navbar-head .container-messages-notifications .container-messages{
		position: static;
	}
	
	.container-messages .box-messages{
		top: 118px;
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	
	.container-messages .box-messages > .arrow {
		display: none;
	}
	
	.container-messages .request-list, .container-messages .message-list{
		width: 100%;
	}
	
	.navbar-head .navbar-buttons::after {
		content: '';
		position: absolute;
		display: block;
		bottom: -20px;
		height: 0;
		width: 0;
		left: 6px;
		border-bottom: 12px solid #00dca2;
		border-left: 13px solid rgba(0,0,0,0);
		border-right: 13px solid rgba(0,0,0,0);
		visibility:hidden;
		
		-moz-transition: all .1s;
		-webkit-transition: all .1s;
		-ms-transition: all .1s;
		transition: all .1s;
	}
	
	.navbar-head .navbar-buttons.actual::after {
		visibility:visible
	}
}


@media only screen and (max-width: 400px) {
	.user-winks {
		width: 50%;
		left: 60px;
		margin-left: 0;
	}
	
	.navbar-head .navbar-brand {
		margin-top: 15px;
		width: 50px;
		height: auto;
		padding: 0 0;
	}
}