@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500italic,500,700,700italic);

body {
	color: #2e8773;
	background:#F3F3F3;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	display: block;
	height: 100%;
}

a{
	color: #20DC9C;
	
	&:hover, &:focus {
		color: #594537;
	}
}

input,
select,
textarea,
label,
.ui-spinner,
.form-control{
	font-family: "Roboto", "Helvetica", sans-serif !important;
	color: #919191;
}

label{
	display: block;
}

[type=text],
[type=password],
[type=date],
[type=number],
[type=url],
[type=email],
select,
textarea{
	background: none;
	border: 1px solid #31db9e;
	font-size: 13px;
	padding: 8px 10px;
	margin-bottom: 10px;
	width: 100%;
	
	.border-radius(2px);
	
	&:focus{
		border-color: #D1D1D1;
		outline: none;
	}
}

textarea{
	height: 100px;
	resize: vertical;
}

select{
	border-bottom-width: 2px;
	border-top-width: 1px;

	&[multiple],
	&[size] {
		height: 100px;
		resize: vertical;
	}
}

#breadcrumbs {
	margin-top: 15px;
	.separator {
		margin-left: 10px;
		margin-right: 0px;
	}
}

#card-recharge {
	margin-right: 10px;
}

#survey-grid {
	.button-column {
		width: 350px;
	}
}

/* ##################### OVERWRITING COMPONENTS ##################### */

/* Form elements */

input:focus {
	color: #666;
}

.form-control {
	height: 35px;
}

.form-group {
	display: table;
	width: 100%;
}

.upload-input {
	cursor: pointer;
	overflow: hidden;
	height: 50px;
	
	.fa {
		margin-top: 9px;
	}
	
	[type="file"] {
		position: absolute;
		top: 0;
		left: -1901px;
		font-size: 200px;
		
		cursor: pointer;
		z-index: 2;
		
		.opacity(0);
	}
}

.errorMessage {
	background: #FC4747;
	color: #FFF;
	padding: 5px 10px;
	height: 25px;
	font-size: 13px;
	display: table;
	margin-bottom: 10px;
	margin-top: 10px;
	
}

.has-error{
	input,
	select,
	textarea,
	.select2-choice,
	.select2-container-active .select2-choice {
		border-color: #E4B4B4;
		color: #9E3333;
	}
	
	.select2-choice .select2-arrow {
		border-color: #E4B4B4;
	}
	
	input:focus,
	select:focus,textarea:focus {
		border-color: #DB7979;
	}
}

.has-success {
	input,
	select,
	textarea,
	.select2-choice,
	.select2-container-active .select2-choice {
		border-color: #B4E4C1;
		color: #585;
	}
	
	.select2-choice .select2-arrow {
		border-color: #B4E4C1;
	}
	
	input:focus, select:focus, textarea:focus {
		border-color: #4AC06F;
	}
}

label span.required {
	color: red;
}

.ui-datepicker {
	overflow: hidden;
	
	td.ui-datepicker-current-day,
	.ui-datepicker-header {
		background: #20DC9C;
	}
	
	table {
		border-top: 0;
		
		-webkit-border-top-right-radius: 0;
		-webkit-border-top-left-radius: 0;
		   -moz-border-top-right-radius: 0;
		   -moz-border-top-left-radius: 0;
			    border-top-right-radius: 0;
			    border-top-left-radius: 0;
	}
	
	td {
		span,
		a {
			color: #20DC9C;
		}
	}
}

.ui-datepicker-next .ui-icon,
.ui-datepicker-prev .ui-icon {
	overflow: auto;
	
	&:before {
		color: #fff;
		display: block;
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;
		font: normal normal normal 17px/1 FontAwesome;
	}
}

.ui-datepicker-next .ui-icon{
	margin-left: -3px !important;
}

.ui-datepicker-prev .ui-icon{
	margin-left: -4px;
}

.ui-datepicker-next .ui-icon:before{
	content: "\f105";
}

.ui-datepicker-prev .ui-icon:before{
	content: "\f104";
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;

	&:hover{
		background: #03CA87;
	}
}

/* Icons */

.fa.approved-icon {
	font-size: 21px;
}

.fa {
	color: #594537;
	
	&:before {
		margin-right: 10px;
	}
}

/* Buttons */

.btn {
	padding: 8px 12px;
	margin-bottom: 10px;
	
	.fa{
		vertical-align: middle;
	}
}

.btn-swap-white,
.btn-swap-aqua,
.btn-swap-brown{
	position: relative;
	top: 0;
	
	.transition (all 0.2s);
	.box-shadow(none);	
}

.btn-swap-white,
.btn-proces-white{
	color: #00C481;
	background: #fff;
	border: 1px solid #E7E7E7;

	&.active,
	&:focus {
		color: #00C481;
		outline: none;
		background: #fff;		
		position: relative;
		top: 0;
		border: 1px solid #E7E7E7;
	}
}

.phantom-btn {
	border: 1px solid transparent;
	background: none;
	
	&.active,
	&:focus {
		border: 1px solid transparent;
		background: none;
	}
}

.btn-swap-white {
	&:hover {
		color: #00C481;
		outline: none;
		background: #fff;
		top: -2px;
		border: 1px solid #D3D3D3;
		
		.box-shadow(0 -3px #DFDFDF inset);
	}
	
	&:active {
		outline: none;
		top: 0;
		
		.box-shadow(0 3px #DFDFDF inset);
	}
	
	.fa,
	&.fa {
		color: #00C481;
	}
}

@darkGreen: #15686b;
@greenBtn: #20DC9C;

.btn-swap-green {
	border-radius: 0;
	background: @greenBtn;
	color: #FFFFFF;
	height: auto;
	border: 0 none;
	line-height: initial;
	width: 100%;
	font-weight: 300;

	&:hover{
		background-color:@darkGreen;
	}
}

.btn-swap-brown {
	outline: none;
	background: #594337;
	color: #fff;
	border: 1px solid #594337;
	position: relative;
	top: 0;
	
	.transition(all 0.2s);	
	.box-shadow(none);
	
	.fa{
		color: #fff!important;
		font-size: 20px;
	}
	
	&:hover {
		background: #6F5442;
		
		.box-shadow(0 -4px #553E2E inset);
	}
	
	&.active,
	&:focus {
		outline: none;
		top: 0;
		background: #594337;
		color: #fff;
		border: 1px solid #594337;
		
		.box-shadow(0 4px #553E2E inset);
	}
}

.btn-swap-aqua{
	background: #5edbc7;
	color: #fff;
	font-weight: 700;
	
	outline: none;
	position: relative;
	top: 0;

	.transition(all 0.2s);
	
	&:hover,
	&:active,
	&:focus{
		outline: none;
		color: #5edbc7;
		background: #fff;
		top: -2px;
		border: 1px solid #5edbc7;
		
		.box-shadow(0 -3px #5edbc7 inset);
	}

	&:focus{
		top: 0;
	}
}

.btn-swap-brown:hover{
	color: #fff;
	outline: none;
	top: -2px;
}

.btn-swap-green .fa,
.btn-swap-brown .fa,
.btn-swap-aqua .fa {
	color: #fff;
}




/* Tabs */

.swap-tab {
	.tabs {
		padding: 0;
		margin: 0;
		display: table;
		width: 100%;
		
		li {
			float: left;
			margin-right: 3px;
			list-style: none;
			height: 100%;
	
			&:first-child {
				margin-left: 0;
			}
	
			a {
				height: 35px;
				text-decoration: none;
				color: #6D6D6D;
				text-decoration: none;
				color: #6D6D6D;
				display: block;
				width: 100%;
				padding: 8px 20px;
				background: #F8F8F8;
				border: 1px solid #E4E4E4;
				
				.transition(all 0.2s);
				
				&.active {
					height: 40px;
					margin-top: -5px;
					padding-top: 11px;
					font-weight: bold;
					color: #1BCAE2;
					background: #FFF;
				}
			}
	
			&:hover a {
				background: #fff;
			}
		}
	}
	
	.view {
		padding: 10px;
		padding-top: 20px;
	}
}

/* Select 2 */
.select2-result {
	.choosen_create,
	.choosen_item {
		padding: 5px 15px;
		width: 100%;
		display: block;
	}
  
	p.choosen_item {
		margin: 0;
	}
}

.select2-container p.choosen_item {
	margin: 0;
	line-height: 20px;
}

.select2-container-active .select2-choice {
	border-color: #CFCFCF;
}

.select2-results {
	.choosen_create .add-icon {
		background-image: url(../img/add-icon-gray.png);
	}
	.select2-highlighted .choosen_create .add-icon {
		background-image: url(../img/add-icon.png);
	}
}

.select2-search .choosen_create {
	position: absolute;
	top: 3px;
	right: 7px;
	text-indent: -9999px;
	width: 25px;
	height: 27px;
}

.select2-drop-above .select2-search .choosen_create {
	top: 7px;
}

/* Select 2 Multiple */

.select2-container-multi {
	&.select2-container-active {
		.box-shadow(none);
	}
	
	.select2-choices, &.select2-container-active .select2-choices {
		border: 1px solid #D8D8D8;
		background: #fff;

		.box-shadow(none);
	}
	
	&.select2-dropdown-open .select2-choices {
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		   -moz-border-bottom-right-radius: 0;
		   -moz-border-bottom-left-radius: 0;
		        border-bottom-right-radius: 0;
		        border-bottom-left-radius: 0;
	}
	
	&.select2-container-active .select2-choices {
		border-color: #C4C4C4;
	}
	
	&.permission-select .select2-choices {
		height: 70px !important;
	}
	
	.select2-choices li {
		&.select2-search-choice {
			background: #F8F8F8;
			border-color: #CACACA;
			color: #6D6D6D;
			padding: 4px 8px 4px 18px;

			.box-shadow(none);
		}
		
		&.select2-search-choice-focus {
			background: #D50101;
			color: #fff;
			border-color: #AD0000;
		}
	
		&.select2-search-choice p {
			margin-bottom: 0;
		}
	}
}

.vertical-select2 {
	.select2-choices li.select2-search-choice {
		float: none;
		margin-right: 5px;
		margin-top: 6px;
	}
	&.select-with-icon {
		.select2-choices li.select2-search-choice:before {
			content: "";
			width: 13px;
			height: 14px;
			display: block;
			float: left;
			margin-right: 5px;
			margin-top: 5px;
			margin-left: 3px;
		}
		
		&.document-icon .select2-choices li.select2-search-choice:before {
			content: "\f0c6";
			font-size: 16px;
			font-family: 'FontAwesome';
		}
	}
}

/* ##################### CUSTOM COMPONENTS ##################### */

.drop-list {
	display: none;
	background: #FFF;
	border: 1px solid #ECEBEB;
	right: 0;
	padding: 10px 0px;
	position: absolute;
	top: 60px;
	z-index: 5;
	
	.box-shadow(0px 1px 4px 0px rgba(0, 0, 0, 0.1));
	
	ul {
		min-width: 150px;
		list-style: none;
		padding: 0;
		margin: 0;
	
		li {
			float: none;
			width: 100%;
			color: #9E9E9E;
			white-space: nowrap;
			line-height: 34px;
			height: 34px;
			margin: 0;

			a {
				color: #9E9E9E;
				white-space: nowrap;
				line-height: 34px;
				height: 34px;
				margin: 0;
				
				padding: 0 20px;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
				display: block;
				text-decoration: none;
		
				&:hover {
					background: #20DC9C;
					color: #FFF;
					
					.fa {
						color: #fff;
					}
				}
			}
			
			&.separator {
				height: 1px;
				background: #E6E6E6;
				margin-top: 2px;
				margin-bottom: 2px;
			}

			&.text-item {
				padding: 0 17px;
				height: 22px;
				line-height: 27px;
				color: #B8B8B8;
				margin-bottom: 3px;
			}
		}
	}
	
	span.arrow {
		border-bottom: 10px solid #E2E2E2;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		display: block;
		height: 0;
		position: absolute;
		width: 0;
		top: -10px;
		right: 18px;
	
		&:after {
			content: " ";
			border-bottom: 10px solid #fff;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			display: block;
			height: 0;
			position: absolute;
			width: 0;
			top: 1px;
			right: -10px;
		}
	}
}

/* ##################### Login ##################### */

body.body-login {
	background: no-repeat center #00dca2;
	height:100%;
}

.login-container {
	max-width: 690px;
	min-width: 450px;
	margin-top: 140px;
	overflow: hidden;
	
	.logo-container {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.buttons-col {
	margin-top: 60px;
}

.fields-container {
	overflow: hidden;
	background: #fff;
  
	input {
		background: none;
				
		.box-shadow(none);
	}
	
	.form-group {
		border: none;
		border-bottom: 1px solid #dfdfdf;
		margin-bottom: 0;
	}
	
	.form-control {
		height: 45px;
	}
	
	.form-group:last-child {
		border: none;
	}
	
	.input-group-addon {
		background: none;
		border: none;
		color: #BEBDBD;
		width: 50px;
		
		.fa {
			width: 20px;
			text-align: center;
			&:before {
				margin-right: 0;
			}
		}
	}
	
	.form-group input {
		border: none;
		width: 300px;
	}
}

.login-container input[type="submit"] {
	margin-top: 20px;
	height: 40px;
	border: none;
	background: #594537;
	color: #FFF;
	
	&:hover {
		background: #6F5442;
	}
}

.footer-login {
	text-align: center;
	padding-top: 10px;
	color: white;
	width: 100%;
}

.error-login {
	padding: 5px 10px;
	height: 25px;
	font-size: 13px;
	display: block;
	float: left;
	background: #FC4747;
	margin-bottom: 6px;
	color: #FFF;
	position: absolute;
	right: 5px;
	top: 12px;
}

.login-separator {
	margin: 0;
	border-bottom: 1px solid #51F5CA;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 15px;
	margin-top: 15px;
	display: block;
	
	span {
		background: #00DCA2;
		color: #FFF;
		position: absolute;
		left: 50%;
		top: -7px;
		width: 117px;
		display: block;
		text-align: center;
		margin-left: -58px;
	}
}

.facebook-login {
	background-color: #4E69A2;
	border-color: #435A8B #3C5488 #334C83;
	color: #fff;
	margin: 0 auto;
	display: block;
	margin-top: 5px;
	
	&:hover {
		color: #fff;
		background: #536EA8;
	}
	
	.fa {
		width: 20px;
		text-align: left;
		margin-right: 5px;
		border-right: 1px solid #334C83;
		color: #fff;
		
		&:hover {
			color: #fff;
		}
	}
}

/* ##################### HEADER ##################### */

.navbar-wrapper {
	width: 100%;
	display: block;
	background: #20dc9c;
	margin-bottom: 0px;
	padding-right: 0;
	border: none;
}

.navbar-head {
	max-width: 1170px;
	height: 60px;
	margin: 0 auto;
	display: block;
	
	#home_url{
		float: left;
	}

	.control-panel{
		&:hover{
			background: #3b4859;
			.box-shadow(inset 1px 0 3px 0px #000);
		}
	}	

	.user-avatar {
		width: 42px;
		height: 42px;
		overflow: hidden;
		
		.border-radius(100%);
		
		img {
			height: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	
	.user-info {
		text-align: right;
		padding-top: 8px;
		height: 100%;
		width: 100%;
		margin: 0 0;
		
		.user-name {
			font-size: 13px;
			margin: 0;
			margin-right: 10px;
			margin-top: 13px;
			
			.fa::before{
				margin-right: 0;
			}
		}
		
		.name{
			display:none;
		}
	}
	
	p,
	a {
		color: #fff;
	}
	
	.navbar-brand {
		height: 53px;
		padding: 0 15px;
		margin-top: 7px;
	}
	
	.container-messages-notifications{
		float: right;
		
		.container-messages{
			float:left;
			position: relative;
			margin-right: 1px;
		}
	}

	.navbar-buttons {
		padding: 20px 22px;
		text-align: center;
		position: relative;
		cursor: pointer;
		float: left;
		background:#1cc08a;

		.transition(all 0.2s);
		
	
		&:hover,
		&.actual{
			background: #3b4859;
			
			.box-shadow(inset 1px 0 3px 0px #000);
			
			.fa{
				color:#fff;
			}
		}
		
		.fa {
			color: #594337;
			font-size: 19px;
			
			&::before{
				margin-right: 0;
			}
		}
		
		.label {
			position: absolute;
			padding: 2px;
			right: 8px;
			top: 8px;
			width: 20px;
			height: 20px;
			line-height: 18px;
			font-size: 11px;
			font-weight: 700;
			color: #eea831;
			text-align: center;
			background: #333736;
			
			.box-shadow(0 0 2px #000);
			.transition(all 0.2s);
		}
		
		&:hover .label {
			background: #20dc9c;
			color: #fff;
		}
	}
	
	.control-panel .drop-list h2{
		font-size: 20px;
		margin: 0 15px;
	}
}

.user-winks {
	font-weight: 700;
	padding: 5px 15px 5px 30px;
	height: 28px;
	width: 170px;
	text-align: center;
	color: #FFF;
	position: relative;
	position:absolute;
	top: 16px;
	left: 50%;
	margin-left: -85px;
	background:#333535;
	color:#fff;
	
	.transition(all 0.2s);
	
	.fa {
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 28px;
		padding: 8px 0 0 10px;
		border-left: none;
		color: #eea831;
		background: #1d1d1d;
	}
}

.control-panel {
	cursor: pointer;
	height: 59px;
	padding: 0 10px;
	background: #1cc08a;
	position: relative;
	
	&:hover {
		.user-info {
			p,
			a,
			.fa	{
				color: #fff;
			}
		}
	}
	
	.drop-list {
		width: 200px;
		li .fa:before {
			margin-right: 7px;
		}
	}
}

/* Menu */

.menu-bar {
	width: 100%;
	margin: 0 auto;
	display: table;
	background: #11CA8B;
	
	ul {
		clear: left;
		margin: 0;
		padding: 0;
	
		li {
		  float: left;
		  width: 50%;
		  list-style: none;
	  
			a {
				text-align: center;
				padding: 11px;
				cursor: pointer;
				width: 100%;
				display: block;
				color: #FFF;
				
				&:hover {
					text-decoration: none;
					background: #594537;
					color: #FFF;
				}
				
				.fa {
					color: #fff;
					bottom: -3px;
					position: relative;
				}
			}
	  
			&:first-child a {
				border-right: none;
				
				-webkit-border-top-right-radius: 0;
				-webkit-border-bottom-right-radius: 0;
				   -moz-border-top-right-radius: 0;
				   -moz-border-bottom-right-radius: 0;
						border-top-right-radius: 0;
				        border-bottom-right-radius: 0;
			}
	  
			&:last-child a {
				-webkit-border-top-left-radius: 0;
				-webkit-border-bottom-left-radius: 0;
				   -moz-border-top-left-radius: 0;
				   -moz-border-bottom-left-radius: 0;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
			}
	  
			a .fa:before {
				font-size: 22px;
			}
		}
	}
}

.swap-breadcrumbs {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 1170px;
	
	.separator {
		margin-left: 10px;
	}
	
	a:last-child {
		color: #594337;
		font-weight: bold;
	}
}

/* ##################### CONTENT ##################### */

.content {
	min-height: 550px;
	max-width: 1170px;
	margin: 0 auto;
	margin-top: 15px;
	clear: left;
	padding: 15px;
	
	.border-radius(4px);
	
	h2 {
		font-size: 17px;
		font-weight: bold;
		
		.fa:before {
			margin-right: 5px;
			font-weight: normal;
		}
		
		+ .details-row {
		  border-top: 1px solid #E4E4E4;
		  padding-top: 10px;
		}
	}
	
	.row .row {
		/*margin: 0;*/
	}
}

h1 {
	color: #594537;
	display: inline-block;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 25px;
	line-height: 1.5;
	margin-top: 0;
	padding: 3px 0;
}

h2, h3, h4, h5, h6{
	color: #3b4859;
}

.details-row {
	margin-bottom: 10px;
}

.labeling {
	font-weight: bold;
	margin-bottom: 5px;
}

/* Rewards profile */

.reward-picture-profile {
	width: 220px;
	height: 220px;
	overflow: hidden;
	
	.border-radius(100%);
	
	img {
		height: 100%;
	}
}

.reward-codes-list ul {
	margin-top: 4px;
	list-style: none;
	padding: 0;
	
	li {
		width: 100%;
		border: 1px solid #E7E7E7;
		margin-bottom: 4px;
		padding: 7px 15px;

		&.used {
			.opacity(0.7);
		}
	}
}

/* Error page */

.error-container {
	margin-top: 30px;
	margin-left: 70px;
	width: 47%;
	
	h1 {
		font-size: 70px;
		font-weight: bold;
		margin-bottom: 10px;
	
		+ p {
			font-size: 20px;
		}
	}
}

/* Reward Thumbs list */

#list-reward {
	.items {
		display: block;
		clear: both;
	}
	
	.pager {
		margin: 5px 0 0 0;
		display: block;
		float: none;
		clear: both;
		text-align: center;
		margin-top: 20px;
	}
}

.items .row {
	margin: 0;
}

.pager ul {
	a {
		color: #00C481;
		font-weight: normal;
		border: none;
		border: 1px solid #E7E7E7;
		position: relative;
		top: 0;
		
		.transition(all 0.2s);
		.border-radius(100%);
		
		&:hover {
			color: #00C481;
			outline: none;
			background: #fff;
			top: -2px;
			border: 1px solid #D3D3D3;
			
			.box-shadow(0 -3px #DFDFDF inset);
		}
		
		&:active,
		&:focus{
			outline: none;
			top: 0;
			
			.box-shadow(0 3px #DFDFDF inset);
		}
    
		&:link,
		&:visited {
			color: #00C481;
			font-weight: normal;
			border: 1px solid #E7E7E7;
			position: relative;
			top: 0;

			.transition(all 0.2s);
			.border-radius(100%);
		}
	}
	
	.page a {
		width: 40px;
		height: 40px;
		line-height: 37px;
	}

	.selected a {
		background: #20DC9C;
		color: #FFF;
		font-weight: bold;
		border: none;
		cursor: default;
    
		&:hover,
		&:active,
		&:focus{
			border: none;
			top: 0;

			.box-shadow(none);
		}
	}
  
	.next a,
	.previous a {
		color: #fff;
		background: #594337;
		border: 1px solid #594337;
		font-size: 14px;
		padding: 10px 15px;
		
		.border-radius(20px);
		
		&:hover{
			color: #fff;
			background: #6F5442;
    
			.box-shadow(0 -4px #553E2E inset);
		}
		
		&:active,
		&:focus{
			outline: none;
			top: 0;

			.box-shadow(0 4px #553E2E inset);
		}
	}
	
	.last a,
	.first a {
		display: none !important;
	}
  
	.next a .fa,
	.previous a .fa {
		color: #fff;
	}
  
	.next a {
		.fa:before {
			margin-right: 0;
			margin-left: 5px;
		}
	}
}

.yiiPager {
	.next {
		position: absolute;
		bottom: 0px;
		right: 15px;
	}
  
	.previous {
		position: absolute;
		bottom: 0px;
		right: 15px;
		right: initial;
		left: 15px;
	}
	
	.next.hidden,
	.previous.hidden {
		display: inline !important;
		visibility: visible !important;
		
		.opacity(0.6);
	}

	.next.hidden a:hover,
	.previous.hidden a:hover,
	.next.hidden a:active,
	.previous.hidden a:active,
	.next.hidden a:active:focus,
	.previous.hidden a:active:focus {
		top: 0;
		background: #594337;
		cursor: default;
		
		.box-shadow(none);
	}
}

.thumb-item {
	cursor: pointer;
	color: inherit;
	display: block;
	padding: 10px;
	
	.border-radius(4px);
	.transition(all 0.2s);

	.thumb-details {
		margin-top: 32px;
		max-height: 55px;
		overflow: hidden;
				
		h3 {
			font-size: 14px;
			font-weight: 500;
			text-align: center;
			margin: 0;
			overflow: hidden;
			background: #3b4859;
			color: #fff;
			margin: 0 20px;
			padding: 5px;
			
			.border-radius(20px);
		}
	}
	
	.thumb-image {
		width: 100%;
		background: #F8F8F8;
		overflow: hidden;
		position: relative;

		.border-radius(100%);
		
		.thumb-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(32, 220, 156, 0.71);
			
			.transition(all 0.2s);
			.border-radius(100%);
			.opacity(0);
			
			.fa {
				font-size: 26px;
				color: #fff;
				text-align: center;
				
				.transition(all .2s);
				
				&:before {
					margin-right: 0;
				}
			}
			
			p {
				text-align: center;
				position: absolute;
				width: 100%;
				top: 50%;
				color: #FFF;
				font-size: 26px;
				font-weight: bold;
				margin: 0 0;

				text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
			}
		}
		.unavailable {
			background: rgba(158, 158, 158, 0.71);
		}
    
		img {
			width: 100%;
		}
	}
	
	
	&.selected{
		background: rgb(207, 207, 207);
	}
	
	&.last-item {
		margin-right: 0;
	}
	
	&:hover {
		background: #fff;
		border-color: #d4d4d4;
		text-decoration: none;
		color: inherit;
		
		h3 {
			color: #20DC9C;
		}
		
		.thumb-image .thumb-overlay {
			.opacity(1);
		}
	}
  
	&:active {
		border-bottom-width: 1px;
		border-top-width: 3px;
	}
}

.index_surveys_list {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		a {
			width: 100%;
			padding: 10px;
			height: 80px;
			border-bottom: 1px solid #E2E2E2;
			display: block;
		}
	
		.type_survey {
			font-size: 40px;
			float: left;
			margin-right: 20px;
			width: 15%;
			text-align: center;
			margin-top: 10px;
		}
		
		.heading {
			float: left;
			width: 65%;
			
			h3 {
				margin: 0;
				margin-bottom: 5px;
				margin-top: 4px;
				color: #20DC9C;
				font-size: 22px;
			}
		}
		
		.heading p {
			margin: 0;
			color: #808080;
		}
	
		.remaining_status {
			float: left;
			width: 5%;
		}
	
		.winks {
			float: left;
			width: 15%;
			color: #20DC9C;
			margin-top: 19px;
			margin-bottom: 0;
			font-size: 16px;
	  
			.fa {
				margin-left: 5px;
			}
		}
		
		&:hover {
			color: #fff;
			background: #20DC9C;
			border-bottom-color: #20DC9C;
			
			.winks {
				color: #fff;
				.fa {
					color: #fff;
				}
			}

			.heading p,
			.heading h3,
			.type_survey{
				color: #fff;
			}
		}
	}
}

.user-heading{
	margin-bottom: 20px;

	h1 {
		margin-bottom: 5px;
	}

	.user-avatar-profile {
		width: 150px;
		height: 150px;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		
		.border-radius(100%);

		img {
			width: 100%;
			height: 100%;
		}
		
		.overlay{
			cursor:  pointer;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			text-align: center;
			color: #fff;
			font-size: 18px;
			background: rgba(0,0,0,.7);
			opacity: 0;
			
			p{
				width: 100%;
				position: absolute;
				top: 50%;
			}
			
			&:hover{
				opacity: 1;
			}
		}
	}
	
	.user-block{
		padding:30px 0;
	}
	
	.aside-block{
		margin: 0 -15px;
	}
}

.company-logo-profile{
	.overlay{
		cursor:  pointer;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		color: #fff;
		font-size: 18px;
		background: rgba(0,0,0,.7);
		opacity: 0;
		
		p{
			width: 100%;
			position: absolute;
			top: 50%;
		}
		
		&:hover{
			opacity: 1;
		}
	}
}

.aside-block{
	text-align: center;
	padding: 30px;
	font-weight: 700;
	font-size: 20px;
	color: #3b4859;
	
	.fa{
		color: #3b4859;
		display: block;
		
		&::before{
			margin-right: 0;
		}
	}
	
	.number-block{
		font-size: 40px;
		font-weight: 300;
		color: #24dd9e;
		
	}
	
	.winks{
		background: #24dd9e;
		color: #fff;
		
		.fa{
			color: #fff;
		}
		
		.number-block{
			color: #3b4859;
		}
	}
}

.winks{
	background: #24dd9e;
	color: #fff;
	
	.fa{
		color: #fff;
	}
	
	.number-block{
		color: #3b4859;
	}
}

.user-avatar-mini {
	width: 50px;
	height: 50px;
	
	.border-radius(100%);
}


/* ##################### FOOTER ##################### */

.footer-wrapper {
	padding: 20px 0;
	width: 100%;
	font-size: 13px;
	color: #FFF;
	margin-top: 100px;
	background: #1ACF91;
}

.footer {
	max-width: 1170px;
	display: block;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;

	.list-inline {
		margin: 0;
		padding: 0;
	}

	a {
		color: #fff;
	}
}

/*** CONTENT ***/

.grid-view {
	padding: 0;
	
	.button-column {
		width: 190px;
		padding: 3px 17px;
		padding-top: 6px;
		
		.fa:before{
			  margin-right: 0;
		}
	}
	
	.pager{
		text-align:center!important;
	}
}

table {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	
	th {
		font-size: 14px;
		padding: 18px 16px;
		border-bottom-width: 1px;
	}
}

.table > thead > tr > th {
	font-size: 14px;
	padding: 18px 16px;
	border-bottom-width: 1px;
}

th a {
	color: #594337;
}

.table > tbody > tr td {
	padding: 10px;
}

a {
	&.asc {
		padding-right: 10px;
		background-position: right;
		background-repeat: no-repeat;
	}
	&.desc {
		padding-right: 10px;
		background-position: right;
		background-repeat: no-repeat;
	}
}

.check-yes .fa {
	color: #33CC33;
}

.check-no .fa {
	color: #E4E4E4;
}

.status-uploaded {
	border-left: #CC0033 3px solid;
}

.status-reviewed {
	border-left: #FFCC66 3px solid;
}

.status-approved {
	border-left: #33CC33 3px solid;
}

.popover-content {
	padding: 0px;
}

/* crop avatar */

.content-resize-avatar {
	margin: 0 0;
	padding: 0 0;
	background-color: #fff;
}

.avatar-original {
	float: left;
	width: 366px;
	
	img {
		max-width: 100%;
	}
}

.avatar-preview {
	border: 1px #e5e5e5 solid;
	float: left;
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 200px;
}

.upload-input input[type="file"] {
    
	left: 0px !important;
	font-size: 30px !important;
        height:55px;
        margin-top:-3px; 
        width:98%;
        background-color:red;
        
}

/*mensajes*/

.visiblehide {
	display: none;
}

#viewMessage {
	overflow-x: hidden;
	overflow-y: auto;
	height: 250px;
	width: 100%;

	.view {
		padding: 15px 15px 15px 75px;
		word-break: break-word;
		
		.user-avatar{
			float: left;
			margin-left: -60px;
			
			img{
				width: 45px;
				height: 45px;
				
				.border-radius(100%);
			}
		}
		
		.user-name {
			color: #3b4658;
			font-size: 14px;
			font-weight: 500;
		}
		
		.message{
			color: #2e8773;
		}
		
		.date{
			float: right;
			font-size: 12px;
		}
	}
	
	/*
	.view.myself{
		padding: 15px 75px 15px 15px;
		.user-avatar{
			float: right;
			margin-right: -60px;
			
			img{
				width: 45px;
				height: 45px;
				
				.border-radius(100%);
			}
		}
		
		.user-name,
		.message{
			text-align: right;
		}
		
		.date{
			float:left;
		}
	}
	*/
	
	.myself{
		background: #f3f3f3;
	}
}

#userGridMessages_c0 {
	display: none;
}

#userGridMessages {
	color: #fff;
	
	.avatar-container {
		width: 25px;
	
		img {
			width: 25px;
			height: 25px;
			border-radius: 100%;
		}
	}
	
	.user-name{
		font-size: 14px;
		font-weight: 500;
		color: #3b4658;
	}

	.last-message{
		color: #2e8773;
	}
	
	tr{
		background: #f3f3f3;
		
		&:hover{
			td{
				color: #fff;
				background: #3b4658!important;
			}
			
			.user-name,
			.last-message{
				color: #fff;
			}
		}
	}

	tr:nth-child(even){
		background: #fff;
		
		td:nth-child(odd){
			background: #fff;
		}
	}
}

.messages-user-list h2 {
	margin-top: 0;
	padding-top: 20px;
	color: #fff;
}

/* login */

.colorWhite {
	color: #fff;
	
	a,
	&:hover {
		color: #fff;
	}
}

.drop-listx {
	width: 200px;
}

.cursor-pointer {
	cursor: pointer;
}

/* ESTILOS FINALES 1.0 */

.header-block{
	color: #2e8773;
	margin-bottom: 20px;

	h2{
		margin:0 0;
		font-size: 45px;
		color: #1cc08a;
		font-weight: 300;
	}
}

.header-destacado{
	background: #3b4658;
	padding: 15px 0;
	
	h2{
		margin: 0 0;
		font-size: 20px;
		color: #fff;
		line-height: 30px;
	}
}

.input-search{
	line-height: 30px;
	position: relative;
	
	input{
		height:30px;
		padding-right: 50px;
	}
	
	.fa{
		border-left: 1px solid;
		position:absolute;
		top: 0;
		right: 0;
		width: 46px;
		
		&::before{
			margin-left:10px;
		}
	}
}

.table{
	td{
		border-top: 0 none!important;
	}
	
	td:nth-child(odd){
		background: #f3f3f3;
	}
	
	tr:nth-child(even){
		background: #f3f3f3;
		
		td:nth-child(odd){
			background: #e8e8e8;
		}
	}
}

.table-sw-business{
	thead{
		background-color: #20DC9C;
		th{
			padding: 10px!important;
		}
		
		a{
			color: #fff;
		}
	}

	td{
		background: #fff!important;
	}
	
	.fa:before {
		margin-right: 0;
	}
	
	.button-column{
		text-align: center;
	}
}

.table-bordered,
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
  border: 2px solid #f3f3f3;
}

.style-table{
	font-size: 14px;
	color: #2e8773;
	
	p{
		margin: 0 0;
	}
	
	strong{
		font-size: 18px;
		font-weight: 500;
		color: #3b4658;
	}
	
	small{
		color: #3b4658;
		font-weight: 500;
	}

	.icon.fa{
		font-size: 25px;
		color: #384454;

		&::before{
			margin-right:0px;
		}
	}
	
	.fa.fa-star{
		font-size: 25px;
		color: #eea831;
	}
	
	.fa.fa-clock-o{
		font-size: 25px;
		color: #1cc08a;
	}
	
	td{
		&.td-icon{
			width: 70px;
			text-align: center;
			vertical-align: middle;
		}
		
		&.td-winks{
			width: 180px;
			text-align: center;
		}
		
		&.td-time{
			width: 250px;
		}
	}
}

.container-afiliates{
	text-align: center;
	
	.list-afiliates{
		margin: 0 0;
		padding:0 0;
		list-style-type: none;
		font-size: 15px;
		
		li{
			border-top: 1px solid #f3f3f3;
			padding: 15px;
		}
		
		a{
			color: #858585;
		}
	}
}

.content-friend-avatar{
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	color: #3b4658;
	height: 100px;
	padding: 10px 0;
	overflow: hidden;
	
	img{
		width: 64px;
		height: 64px;
		
		.border-radius(100%);
	}
}

.tabpanel-user-view{
	.nav-tabs{
		border-bottom: 0;
		
		li + li{
			border-left: 1px solid #fff;
		}
		
		> li{
			width: 33%;
			text-align: center;
			font-weight: 700;
			font-size: 20px;
			color: #858585;
			background: #e4e9e9;
			
			a{
				color: #858585;
				border: 0 none;
			}
			
			&:hover{
				a{
					border: 0 none;
				}
			}
			
			&.active{
				background: #3b4859;
				>a,
				>a:hover,
				>a:focus{
					background: none;
					border: 0 none;
					color: #fff;
				}
				
				a{
					&:after {
						bottom: 0;
						left: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(255, 255, 255, 0);
						border-bottom-color: #fff;
						border-width: 10px;
						margin-left: -10px;
					}
				}
			}
		}		
	}
	
	.tab-pane{
		padding: 16px;
	}
}

.panel-footer,
.panel-body{
	.alert{
		margin-bottom: 0;
	}
}

.category-filters{
	ul{
		margin: 0 0 16px;
		padding:0 0;
		list-style-type: none;
	}

	.filters{
		.title{
			padding: 10px 5px;
			text-align: center;
			font-size: 15px;
			font-weight: 500;
			color: #2aa07f;
			border-top: 1px solid #f3f3f3;
			border-bottom: 1px solid #f3f3f3;
		}
		
		.filter{
			position: relative;
			display: block;
			padding: 5px 40px;
			background: #f3f3f3;
			color: #3b4859;
			font-weight: 500;
			font-size: 14px;
			margin: 0 10% 10px;
			
			.border-radius(20px);
			
			.fa-close{
				position: absolute;
				right: 10px;
				top: 7px;
				
				&::before{
					margin-right: 0;
				}
			}
		}
		
		li{
			text-align: center;
		}
	}
	
	.category-list{
		
	}
}

.header-message{
	background: #3b4658;
	padding: 16px 0;
	color: #20dc9c;
	font-weight: 700;
	font-size: 20px;
	
	.to-user{
		overflow: hidden;
		padding: 5px 0;
	}
	
	.btn{
		font-size: 12px;
	}
}

#formTextArea{
	padding: 30px;
	background: #f3f3f3;
}

.title-bold{
	margin: 0 0!important;
	padding: 20px 0;
	display: block;
	font-size: 20px!important;
	font-weight: 700!important;
	color: #20dc9c!important;
}

.header-underline{
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 32px;
}

.table-friend-list{
	.user-avatar{
		width:64px;
		
		img{
			width: 64px;
			height: 64px;
		}
	}
	
	.user-name{
		padding-top: 30px;
		padding-bottom: 30px;
		a{
			color: #3b4658;
			font-size: 14px;
			font-weight: 500;
		}
	}
	
	.button-column{
		text-align: center;
		vertical-align: middle!important;
	}
	
	.btn{
		margin:0 5px;
	}
	
	tr,
	td{
		background: #fff!important;
	}

	tr + tr	td{
		border-top: 1px solid #f3f3f3!important;
	}	
}

.addthis_sharing_toolbox{
	text-align: center;
}


/* Estilos sw-business*/

/* Buttons */

.btn {
	padding              : 8px 12px;
	.border-radius(2px);
}

.btn-sw-business-white,
.btn-sw-business-white.active {
	color             : #00C481;
	outline           : none;
	background        : #fff;
	
	position          : relative;
	top               : 0;
	border            : 1px solid #E7E7E7; 
	
	.transition (all 0.2s);
	.box-shadow (none);
}

.phantom-btn,
.phantom-btn.active,
.phantom-btn:focus {
	border: 1px solid transparent;
	background: none;
}

.btn-sw-business-white:hover,
.btn-sw-business-white:focus {
	color             : #00C481;
	outline           : none;
	background        : #fff;
	top               : -2px;
	border            : 1px solid #D3D3D3;
	
	.box-shadow (0 -3px #DFDFDF inset);
}

.btn-sw-business-white:active {
	outline           : none;
	top               : 0;
	
	.box-shadow (0 3px #DFDFDF inset);
}

.btn-sw-business-white .fa,
.btn-sw-business-white.fa {
	color: #00C481;
}

.fa{
	font-size: 16px;
	color: #594537;
}

.fa:before {
	margin-right: 10px;
}

.btn-sw-business-green,
.btn-sw-business-green.active {
	font-weight		  : 700;
	color             : #3b4657;
	outline           : none;
	background        : #31db9e;
	position          : relative;
	border            : 1px solid #31db9e;
	top               : 0;
	
	.transition (all 0.2s);
	.box-shadow (none);
}

.btn-sw-business-green:hover,
.btn-sw-business-green:focus {
	color             : #3b4657;
	outline           : none;
	background        : #31db9e;
	top: -2px;

	.box-shadow (0 -4px #33b086 inset);
}

.btn-sw-business-green:active,
.btn-sw-business-green:active:focus {
	outline           : none;
	top               : 0;

	.box-shadow (0 4px #33b086 inset);
}

.btn-sw-business-green .fa,
.btn-sw-business-green.fa,
.btn-sw-business-blue .fa,
.btn-sw-business-blue.fa,
.btn-sw-business-cancel .fa,
.btn-sw-business-cancel.fa{
	color: #fff;
}

.btn-swap-white .fa,
.btn-swap-white.fa{
	color: #31db9e;
}

.btn-sw-business-blue,
.btn-sw-business-blue.active {
	font-weight		  : 700;
	color             : #fff;
	outline           : none;
	background        : #3b4657;
	position          : relative;
	border            : 1px solid #3b4657;
	top               : 0;
	
	.transition (all 0.2s);
	.box-shadow (none);
}

.btn-sw-business-blue:hover,
.btn-sw-business-blue:focus {
	outline           : none;
	color             : #fff;
	top: -2px;

	.box-shadow (0 -4px #3b4657 inset);
}

.btn-sw-business-cancel,
.btn-sw-business-cancel.active{
	background-color: #ea4446;
	color: #fff;
	font-weight: 700;
}

.btn-sw-business-clear,
.btn-sw-business-clear.active{
	color: #584337;
	font-weight: 700;
	font-size: 16px;
}

.btn-sw-business-clear .fa,
.btn-sw-business-clear.fa{
	font-size: 26px;
	color: #31db9e;
}

/* Tabs */

.sw-business-tab .tabs {
	padding      : 0;
	margin       : 0;
	display      : table;
	width        : 100%;
}

.sw-business-tab .tabs li {
	float             : left;
	margin-right      : 3px;
	list-style        : none;
	height            : 100%;
}

.sw-business-tab .tabs li:first-child {
	margin-left: 0;
}

.sw-business-tab .tabs li a {
	height               : 35px;
	text-decoration      : none;
	color                : #6D6D6D;
	text-decoration      : none;
	color                : #6D6D6D;
	display              : block;
	width                : 100%;
	padding              : 8px 20px;
	background           : #F8F8F8;
	border               : 1px solid #E4E4E4;
	
	.border-radius (20px);
	.transition (all 0.2s);
}

.sw-business-tab .tabs li a.active {
	height     : 40px;
	margin-top : -5px;
	padding-top: 11px;
	font-weight: bold;
	color      : #1BCAE2;
	background : #FFF;
}

.sw-business-tab .tabs li:hover a {
	background: #fff;
}


.sw-business-tab .view {
	padding    : 10px;
	padding-top: 20px;
}

/*Estilo del diseñador de las encuestas*/

.editing-field-wrapper {
	position  : relative;
	top       : 0;
	left      : 0;
	background: #FFF;
	width     : 100%;
	
	[type="text"]{
		font-size: 24px;
		font-weight: 700;
	}
}

.editing-field-wrapper .btn {
	position: absolute;
	bottom  : -36px;
	right   : 0;
	height  : 35px;
	width   :  40px;
	top     : initial;
}

.editing-field-wrapper .btn.confirm_editable_action {
	right                             : 41px;
	border-left-width: 1px;
	right: -30px;
	width: 100px;
	top: 0;
	height: 46px;
	line-height: 26px;
}

.editing-field-wrapper .btn.cancel_editable_action {
	-moz-border-bottom-left-radius   : 0;
	-moz-border-top-left-radius      : 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius   : 0;
	border-bottom-left-radius        : 0;
	border-top-left-radius           : 0;
}

.editing-field-wrapper input,
.editing-field-wrapper select,
.editing-field-wrapper textarea {
	width: 100%;
	height: 100%;
	display: block;
}

.group-list {
	list-style: none;
	margin: 0 0 20px;
	padding: 0 0;
}

.group-list .create-question-form, .group-list .update-question-form {
	margin-top: 10px;
	background: #e9e9e9;
	margin: 0 -10px;
	padding: 20px 10px 20px 10px;
	color: #3b4657;
	
	[type="text"],
	textarea,
	select{
		background: #fff;
		border: 0 none;
	}
}

.group-list .group-title {
	font-size: 24px;
}

.group-list .group-title.empty-tile {
	font-style: italic;
}

.question-list {
	display           : block;
	position          : relative;
	
	.border-radius( 2px);
	.transition (all 0.2s);
}

.question-content{
	position: relative;
	margin-top: 16px;
	padding-top: 16px;
	
	.block-title{
		display: block;
		background: #3b4657;
		color: #fff;
		font-size: 18px;
		padding: 10px 30px;
		margin-top: 0;
		
		form{
			margin: -10px -30px;
			background-color: #F3F3F3;
			padding-right: 110px;
			
			[type="text"]{
				margin-bottom: 0;
			}
			
			.cancel_editable_action{
				display: none
			}
		}
	}
}

.question-list + .question-list{
	margin-top: 0;
	border-top: 0;
	
	.question-content{
		border-top: 1px solid #e9e9e9;
	}
}

.question-content > .numbering {
	width                         : 34px;
	height                        : 34px;
    line-height					  : 34px;
	background                    : #20DC9C;
	display                       : block;
	color                         : #3b4657;
	font-size					  : 14px;
	font-weight					  : 700;
	text-align                    : center;
	position                      : absolute;
	top                           : 34px;
	left                          : 0px;
	
	.border-radius(100%);
}

.question-list.new-added,
.question-list li.new-added {
	border-color: #7ADD7A;
	background-color: #F9FFF9;
}

.question-list.removed,
.question-list li.removed {
	border-color    : #DD7A86;
	background-color: #FFF9F9;
}

.question-list.btn-sw-business-green {
	padding: 0;
	border: none;
}

.question-list .add-group .btn {
	margin-top: 20px;
	padding: 20px;
	font-weight: 700;
	color: #333;
	background: #fff;
}

.question-list ul {
	list-style: none;
}

.question-list ul ul{
	padding: 0 0;
}

.question-list > ul > li {
	padding      : 18px 15px;
	border-bottom: 1px solid #E7E7E7;
}

.question-list .new-question-li {
	border    : none;
	margin-top: 20px;
}

.question-list .new-question-li,
.question-list .delete-block-action {
	.opacity(0);
	.transition (all 0.2s);
}

.question-list .delete-block-action,
.question-list li .delete-question-action,
.question-list li  .question-conditioned-action {
	.opacity(0.5);
}

.question-list:hover li.new-question-li,
.question-list:hover .delete-block-action,
.question-list li:hover .delete-question-action,
.question-list li:hover .question-conditioned-action {
	.opacity(1);
}

.create-question-form + .new-question-li , .update-question-form + .new-question-li{
	display: none;
}

.new-option-container {
	position: relative;
	top: 0;
	left: 0;
}

.new-option-container .file-option {
	position: relative;
	top: 0;
	left: 0;
	padding-right: 40px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.new-option-container .input-option {
	position: relative;
	top: 0;
	left: 0;
	padding-right: 40px;
}

.options-list .option {
	padding      : 10px 20px;
	background   : #E2E2E2;
	color        : #6B6B6B;
	border-radius: 4px;
	display      : table;
	margin-bottom: 3px;
}

.create-question-form .options-list .option, .update-question-form .options-list .option {
	background: #00C481;
	color     : #FFF;
}

.options-list .option a {
	margin-left: 10px;
}

.options-list .option a .fa:before {
	margin-right: 0;
	color: #6F5442;
}

.options-list .option p {
	margin-bottom: 0;
}

.options-list {
	margin-bottom: 10px;
}

.options-list .option:last-child {
	margin-bottom: 0;
}

.condition-question,
.edit-option,
.delete-option
{
    opacity: 0;
}                                    

.option-answer:hover .condition-question, 
.option-answer:hover .edit-option,
.option-answer:hover .delete-option 
{
    opacity: 1;
    filter : alpha(opacity=100);
}

.image-thumbnail {
	max-width: 100px;
	max-height: 100px;       
}

.question-sort{
	background: #fff;
	padding: 0 10px;
	border-radius: 4px;
}

.question-sort > li{
	position: relative;
	padding: 20px 60px;
	
	.editing-field-wrapper form{
		padding-right: 110px;
	}
	
	.editing-field-wrapper .btn.confirm_editable_action{
		right: 0;
	}
	
	.editing-field-wrapper .cancel_editable_action{
		display: none;
	}
}

.question-sort > li.count{
	counter-increment: step-counter;
}

.question-sort > li.count + li.count{
	border-top: 1px solid #f3f3f3;
}

.question-sort > li.count:before{
	content: counter(step-counter);
	width                         : 34px;
	height                        : 34px;
    line-height					  : 34px;
	background                    : #20DC9C;
	display                       : block;
	color                         : #3b4657;
	font-size					  : 14px;
	font-weight					  : 700;
	text-align                    : center;
	position                      : absolute;
	top                           : 34px;
	left                          : 16px;
	
	.border-radius(100%);
}

.preview-file{
	max-width: 100px;
	max-height: 100px;
}

.preview-file {
	max-width: 100px;
	max-height: 100px;
}

//Sortable
.ui-state-highlight { 
    
    height: 5em;
    line-height: 1.2em;
    background-color: #20dc9c;
    opacity: .4; 
    border-style: dotted;   
}


// reportes

.resume-report {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 16px 0 0;
	margin-bottom: 16px;

	#main-date {
		text-decoration: none;
	}
}

.report-card{
	background: #fff;
	.border-radius(4px);
	.box-shadow(0 0 2px 2px #ededed);
	
	header{
		background: #e9e9e9;
		padding: 20px;
		
		.border-radius(4px 4px 0 0);
		
		.title{
			color: #3b4657;
			font-size: 14px;
			font-weight: 700;
		}
		
		.subtitle{
			color: #7a6b62;
			font-size: 13px;
		}
		
		p{
			margin: 0 0;
		}
	}
	
	.report-content{
		padding: 50px 10px;
		font-size: 19px;
		color: #3b4657;
	}
	
	.big-number{
		color: #2bce92;
		font-size: 87px;
		font-weight: 300;
	}
	
	footer{
		background: #3b4657;
		text-align: center;
		
		.border-radius(0 0 4px 4px);
		
		a{
			color: #fff;
			display: block;
			padding: 10px;
		}
	}
}

.fullreport-content{
	background: #fff;
	padding: 20px;
	
	.border-radius(4px);
	.box-shadow(0 0 2px 2px #ededed);	
}

.graph-container {
	width                : 100%;
	min-height           : 100px;
	display              : block;
	background           : #F8F8F8;
	border               : 1px solid rgb(231, 231, 231);
	padding              : 20px;

	.border-radius(4px);
	
	.empty-container{
		text-align: center;
		width     : 100%;
		display   : block;
		margin-top: 20px;
	}
	
	.report-content{
		background: #fff;
	}
	
	.graph-content{
		padding: 10px;
	}
	
	.graph-question {
		width     : 100%;
		min-height: 30px;
		display   : block;
		height    : 450px;
	}

	h2 {
		margin-bottom: 20px;
		color        : #20DC9C;
	}
	
	h3 {
		margin: 0 0;
		margin-bottom: 10px;
		font-size    : 15px;
		color: #3b4657;
		background: #ebebeb;
		padding: 10px 20px;
	}
	
	& > ul {
		padding: 0;
		
		& > li {
			list-style: none;
			margin-bottom: 16px;
		}
	}
	
	.legend > div:first-child {
		background-color : #f8f8f8 !important;
		
		.border-radius(4px);
	}
	
	.legend{
		table {
			width: auto;
		}
		
		tr {
			display: table;
		}
		
		td{
			padding: 4px 10px;
		}
		
		.legendLabel {
		}
	}

	.legendColorBox{
		& > div {
			border-color: #fff !important;
		}
		
		div {
			border-radius: 100%;
		}
	}

	.pieLabel div {
		color: #ffffff !important;
		font-weight: bold;
		font-size: 11px !important;
	}
	
	.table{
		background: #fff;

		th{
			background: #3b4657;
			color: #fff;
		}
	}
}

.filters-container{
	select,
	.select2-container {
		width: 450px;
	}
	
	.report-filter-search {
		margin-top: 10px;
		display: block;
	}
}

.graph-tooltip {
	display              : none;
	padding              : 4px 10px;
	background           : rgb(32, 220, 156);
	position             : absolute;
	top                  : 0;
	left                 : 0;
	color                : #fff;
	font-weight          : bold;
	
	.border-radius(4px);
}

.answers-list {
	width     : 100%;
	overflow  : auto;
	height    : 240px;
	list-style: inside decimal;
	
	li {
		padding   : 7px 10px;
		border-bottom: 1px solid #ccc;
	}
}

.no-items{
	padding: 10px;
}

[type="file"]{
	width: 100%;
	overflow:hidden;
}

.operation_question{
    
	right: 0;
	top: 0;
	z-index: 100;
        text-align: right;
        margin-right: -60px;
        
}

.whiteBackground{
	background: #fff;
}

.white-container{
	background: #fff;
	margin: 20px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	
	.border-radius(2px);
}

.height-auto{
	min-height: inherit!important;
}

.alarm-field, .option-field {
	margin-top: 10px;
  	margin-bottom: 5px;
}

@media print{    
    .no-print, .no-print *{
        display: none !important;
    }
}

#user-form .sendActivation input {
	color: #ffffff !important;
	border: 1px solid #00dca2;
}

.radios-inline{
	[type="radio"]{
		display: inline-block;
		position: static;
		cursor: pointer;
	}
	
	label{
		padding-right: 20px;
		cursor: pointer;
	}
}

/*Informacion de las graficas del reporte*/

.user-answered, .gender-percentage, .age-percentage {
    display       : none;
    padding       : 4px 10px;
    background    : #ebebeb;
    color         : #3b4657;
    font-weight   : bold;
	vertical-align: top;
	
	h4 {
		margin       : 0 0;
		margin-bottom: 10px;
		color        : #fff;
		background   : #3b4657;
		padding      : 10px 20px;
		text-align   : center;
	}
}

.gender-percentage, .age-percentage {
    border   : 1px solid #fff;
	max-width: 136px;
	padding  : 0;
}

.user-answered {
    max-width    : 250px;
    min-width    : 240px;
}

.gender-type span, .age-range span {
    color: #2e8773;
}

.question-answered {
    overflow-x: hidden; /*for hiding horizontal scroll bar*/
    overflow-y: auto; /*for vertical scroll bar*/
    min-height: 20px;
    max-height: 280px;
}

.age-percentage .question-answered {
    max-height: none;
}

.question-answered div.interviewee-name, 
.question-answered div.gender-type, 
.question-answered div.age-range {
    padding      : 3px 10px;
    border-bottom: 1px solid #ccc;
	text-align   : left;
}

.interviewee-name:hover {
    color     : #2e8773;
    background: #ebebeb;
    cursor    : pointer;
}

.question-answered .popover-content,
.answers-list .popover-content, 
.question-title .popover-content {
    color      : #2e8773;
    font-weight: 400;
    min-width  : 275px;
    padding    : 3px 15px;
}

.percentages {
    display       : none;
    max-width     : 275px;
	min-width	  : 160px;
    vertical-align: top;
    background    : #ebebeb;
    padding       : 4px 11px;
	
	h4 {
        margin       : 0;
        margin-bottom: 10px;
        color        : #fff;
        background   : #3b4657;
        padding      : 10px 20px;
        text-align   : center;
	}
}

.selected-option {
    display       : none;
    color         : #3b4657;
    font-weight   : bold;
    text-align    : center;
    vertical-align: top;
}

.selected-option h4 {
    margin       : 0 0;
    margin-bottom: 10px;
    color        : #fff;
    padding      : 10px 20px;
}

#display-request tbody {
    height    : 385px;
    overflow-x: hidden;
    overflow-y: auto;
}
#display-request thead, 
#display-request tbody {
    display: block;
}

.request-name {
    width: 36%;
}

.request-birthday {
    width: 11%;
}
.request-email {
    width: 20%;
}
.request-gender {
    width: 9%;
}

.request-phone {
    width: 11%;
}

.application-date {
    width: 13%;
}

.description-question {
    opacity: 0.5;
}

.description-question:hover {
    opacity: 1;
    cursor : pointer;
}

//Boton para realizar la carga de imagenes.

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 120%;
    min-height: 100%;
    margin-left: -10px;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: hidden;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control-custom {
    
    height: 34px;
    
}

#nameImage{
    
    font-size: 12px;
    background-color: #31db9e;
    padding: 2px;
    margin-top: -11px;
    float: left;
    width: 50%;
    text-align: center;
    margin-left: 32%;
    
}

.img-preview{
    
    width : 30%;
    height: 30%;
    margin: 2%;
    
}
/// Boton switch

    .bootstrap-switch-sw_business{
        
        background-color: #31db9e;
        color:#fff;
        
    }
    
    .switch-middle{
        
        margin-left:21%; 
        margin-top:3%; 
        color:#3b4657; 
        
    }
    

    #container_filter{
        
        background-color: #fff;
        padding: 15px;
        margin-top: -6px;
       
    }

/*Leyenda de grafica*/

.image-legend {
    max-width: 50px;
    max-height: 50px;       
}

.legend-container {
    background-color: #f8f8f8;
    padding: 2px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin: auto;
}


.btn-without-margin{
    
    margin: 0px; 
    
}


// Actualización de la pregunta. 
.group-list .update-question-form{
    background: #e9e9e9;
    width: 86%; 
    padding: 20px 10px 20px 10px;
    color: #3b4657;
    margin-left: .5%;
}


.container-form-update{
    
    display:none; 
    min-width: 20px;
    
}


    
// Aplicación de la encuesta
        
            
#content-apply{
    
    display: table;
    background-color: #FFF;
    height: 100%;
    width: 100%;
        
}
    
.wraper-content{
    
    height: 100%;
    
}

.header-apply{
    
    width: 100%;
    line-height: 38px;
    font-weight: 300;
    background-color: #01DCA2;
    color:#fff !important;
    
}

#title-head-survey{

    font-size: 35px;

}

#title-head-block{

    font-size:30px;
    font-style: italic;

}

.vcenter {
    
    display: inline-block;
    vertical-align: middle;
    float: none;
    
}

.img-swap{
    
    width: 40%;
    
}

.title-block{
    
    color: #FFF;
    font-weight: 300;
    
}

.container-form{
    
    margin-top: 40px;
}

.buttons-apply{
    
    margin-top: 10px;
    
}

.option-img{

    width: 100px;
    height: 100px;

}

.question-info{

        background-color: #3b4657;
        color:#fff;
        padding: 5px;
        font-size: 20px;

}

#wrapper-apply .popover-title{

        background-color: #3b4657;
        color:#FFF;

}

#wrapper-apply .popover-content{

    padding: 2px;

}

.label-option{

    font-size: 1.7em;
    font-weight: 300;


}

.question-info:hover, .option-img:hover, .each-option:hover{

    cursor: pointer;

}

.single-option:hover{

        background-color: #31db9e;
        color : #fff;

}

.option_selected{

    background-color: #31db9e !important;
    color:#fff !important;

}

.option_selected input, textarea{

    background: #FFF !important;

}

.each-option{

    background-color: #FFF;
    color:#31db9e;
    padding: 5px;
    /*border: 1px solid #ccc;*/
}

.errors{

    color : #FF3300;

}

.fa-spinner{

    font-size: 2em;
    color:#3b4657;

}

.container-option img{

     margin-top: 10px; 

 }

 .margin{

     margin-top: 3px;

 }

 .colors-block{
     
    background-color:#01DCA2 !important;
    color:#FFF !important;
     
 }
 
 .colors-form{
     
      background-color:#f3f3f3 !important;
 }
 


 /* Large desktops and laptops*/ 
@media (min-width: 1200px) {
    
    .header-apply{

        line-height: 35px;
        padding-top: 10px;

    }

    .img-swap{
    
        width: 30%;
    
    }
    
    .title-block{
    
    font-size: 60px;

    }
    
}


/*Landscape tablets and medium desktops*/ 
@media (min-width: 992px) and (max-width: 1199px) {
    
    .header-apply{

        line-height: 35px;
        padding-top: 10px;

    }

    .title-block{
    
    font-size: 45px;

    }
    
}

 
/*Portrait tablets and small desktops*/ 
@media (min-width: 768px) and (max-width: 991px) {
    
    .header-apply{

        line-height: 35px;
        padding-top: 10px;

    }

    .title-block{
    
    font-size: 40px;

    }

}


/*Landscape phones and portrait tablets*/ 
@media (max-width: 767px) {
    
    .header-apply{

        line-height: 25px;
        padding-top: 5px;
    }

    #title-head-survey{

        font-size: 25px;

    }

    #title-head-block{

        font-size: 20px;

    }
    
    .title-block{
    
    font-size: 35px;

    }

}

/*Portrait phones and smaller*/ 
@media (max-width: 480px) {
    
.header-apply{
    
        line-height: 20px;
        padding-top: 5px;    
}
    
#title-head-survey{
    
    font-size: 20px;

}

#title-head-block{
    
    font-size: 15px;

}

.img-swap{
    
    width: 60%;
    
}

.title-block{
    
    font-size: 30px;

}

 
}


    .link-shared{
       
        background-color:white;
        padding: 10px;
        border: 1px dashed #3b4657;
      
    }
    
    .link-shared .row{
        
        margin-top: 5px;
        
    }
    
    .spinner-button{
        
        padding: 6px;
        margin-bottom: 10px;
        
    }

