/*! main 1.1.6.4 */
@cdn: "https://d224v694zcq7e8.cloudfront.net";
@fontFamily: 'Open Sans', sans-serif;;
@import 'modulos/mixins.less';
@import 'modulos/select2.less';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600);
@import url('@{cdn}/themes/default/css/main.css');

a{
    &:hover{
        text-decoration: none;
    }
}

.hide {
    display: none;
}

.clearfix {
    clear: both;
	display: block;
}

.container-fluid {
    max-width: 1200px;
}

.btn{
    border-radius: 0;
    color: #fff;
    font-weight: 700;

    &.btn-green,
    &.btn-swap-green{
        background: #20dc9c;
    }

    &.btn-cancel{
        background: #d5d5d5;
        color: #878787;
    }

    &.btn-dark-blue{
        background: #3b4658;

        &:hover{
            color: #ccc;
        }
    }

    &.btn-red{
        background: #e84e52;

        &:hover{
            color: #ccc;
        }
    }

    &.btn-full-size{
        width: 100%;
    }

    &.btn-default{
        background: #d2d3d3;
    }

    .fa{
        margin: 0 4px;
    }

    .phantom-btn{
        color:#000;
    }
}

.acciones{
    width: 100px;
    height: 100%;
    vertical-align: middle;

    .btn{
        white-space: inherit;
    }

    .number{
        font-size: 60px;
        font-weight: 700;
        padding-top: 50px;
    }

    .label{
        font-size: 14px;
    }
}

.single-action-full-size{
    position: relative;
    padding: 0!important;
    width: 100px;
    height: 100%;

    .btn-full-size{
        height: 100%!important;
        padding: 2px 6px;
    }
}

.fake-col{
    display: table-cell;
}

.uppercase{
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 10px 0;
}

.wrapper{
    overflow-x: hidden;
    display: block;
    font-size: 13px;
    height: 100%;
    outline-style: none;
    outline-width: 0px;
}

.main-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 66px;
    background: #fff;
    z-index: 1;

    .logo-content{
        float: left;
        margin-right: 5px;
    }

    h2{
        font-size: 18px;
        margin: 0 0;
        padding: 0 0;
        color: #333334;
        font-weight: 700;
    }

    .view-name{
        margin: 0 0;
        color: #c1c2c2;
        text-transform: uppercase;
    }

    .col-left{
        font-size: 9px;
        padding: 17px 0;
        float: left;
    }

    .col-right{
        float: right;
    }

    .control-panel{
        height: inherit;
        padding: 0;

        .user-name .name{
            display: block;
            padding: 22px 10px;
            margin: 0 10px;
            border-left: 1px solid #d2d3d3;
            border-right: 1px solid #d2d3d3;
        }

        .navbar-right{
            margin-right: 0;
        }	

        .btn-default{
            background: #d2d3d3;
            border: 0 none;
            padding: 8px;

            img{
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }
        }
    }
}

[role="main"]{
    border-top: 4px solid #e8e9e9;
    margin-top: 64px;
    padding: 26px 50px 160px;
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    margin-right: 20px;
    color: #595959;
    font-size: 14px;
    padding: 16px 50px 16px 124px;

    a{
        color: #595959;
    }

    p{
        margin: 0 0;
    }

    .col-1{
        float: left;
    }

    .col-2{
        float: right;
    }
}

body {
    font-family: @fontFamily;
    font-weight: 400;
    font-size: 1.2em;
    color: #444242;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    background: #f5f6f8;
}

.outer-wrapper {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
}

#adminmenuback{
    width: 75px;
    height: 100%;
    background-color: #333334;
    top: 0px;
    bottom: 0px;
    color: rgb(68, 68, 68);
    display: block;
    font-size: 13px;
    outline-color: rgb(68, 68, 68);
    outline-style: none;
    outline-width: 0px;
    position: absolute;
}

.menu-lateral{
    width: 75px;
    position: relative;
    float: left;
    background-color: #333334;
    z-index: 2;
    top: 66px;

    ul{
        clear: left;
        padding: 0;
        list-style: none;

        a{
            display: block;
            height: 68px;
            line-height: 68px;
            width: 100%;
            text-align: center;
            border-left: 2px solid #333334;
            padding-right: 2px;
            position: relative;

            &:hover{
                background: #3b4658;
                border-left: 2px solid #20dc9c;

                &:after {
                    left: 100%;
                    top: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(59, 70, 88, 0);
                    border-left-color: #3b4658;
                    border-width: 8px;
                    margin-top: -8px;
                }
            }

            &.logo-content{
                height: auto;
                line-height: initial;
                border: 0 none;
                padding: 0 0;

                &:hover{
                    border: 0 none;

                    &::after{
                        display: none;
                    }
                }
            }

            span.legend{
                font-size:10px;
                font-weight: 300;
                position:absolute;
                text-align: center;
                height:100%;
                width:100%;
                left:0;
                top:25px;
            }
        }		
    }

    .fa{
        color: #fff;
        &:before {
            margin-right: 0;
        }
    }
}

.control-panel:hover .user-info p,
.control-panel:hover .user-info a,
.control-panel:hover .user-info .fa {
    color: #333!important;
}

.content-links{
    font-size: 12px; 
    font-weight: 700;
    margin-bottom: 24px;

    .nav-tabs {
        border-bottom: 0 none;
    }

    .nav-tabs > li > a{
        padding-left: 0;
        border: 0;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus{
        background-color: transparent;
        border: 0 none;

        text-decoration: none;

        &:after {
            content: '';
            display: block;
            width: 50%;
            border-top: 3px solid #000;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    a{
        color: #3b4658;
        text-transform:uppercase;
        margin-right: 20px;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }
}

.underline{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 32px;

    &:after {
        content: '';
        display: block;
        width: 70px;
        border-top: 3px solid #000;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

textarea{
    width: 100%;
    background: #fafafa;
    border: 1px solid #e9e9e9;
}

[type=text],
[type=password],
[type=date],
[type=number],
[type=url],
[type=email],
select,
textarea {
    font-family: @fontFamily;
    background: #fafafa;
    border: 1px solid #e9e9e9;

    font-size: 12px;
    padding: 4px 8px;
    border-radius: 0;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.device{

    &.device-create{
        background: #fff;
        display: table;
        width: 100%;
        height: 100%;
        margin-bottom: 32px;

        .description{
            padding: 10px 30px 20px;
        }

        textarea{
            height: 64px;
            resize: none;
        }
    }	
}

.fa-2{
    font-size: 20px;
}


.coupon,
.reward{
    height: 100%;
    background: #fff;
    margin-bottom: 5px;
    display: table;
    width: 100%;
	padding: 15px 0;

    figure{
        text-align: center;
   	 	position: relative;
    	margin: 0 auto 16px;

        img{
            max-width: 200px;
            max-height: 200px;
        }

        &:after{
            content: '';
            position: absolute;
            width: 90%;
            height: 90%;
            left: 5%;
            top: 5%;
            border: 1px dashed #fff;
        }
    }

    .image-actions{
        text-align: center;
    }

    footer{
        hr{
            margin: 0 15px;
        }

        a{
            color: #a3a3a3;
        }

        i{
            color: #20dc9c;;
        }
    }

    .coupon-content,
    .reward-content {
        padding: 10px 20px;
        vertical-align: top;
        font-size: 12px;
        color: #a3a3a3;
        width: 100%;

        h2{
            font-size: 16px;
            color: #3b4658;
            font-weight: 700;
            margin: 0 0 10px;
            max-height: 16px;
            overflow: hidden;
        }
    }

    &.coupon-create,
    &.reward-create{
        margin-bottom: 32px;

        figure{
            position: relative;
            cursor: pointer;

            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;
                padding: 10px;
                display: table;
                color: #3b4658;
                line-height: initial;

                .fa{
                    font-size: 36px;
                }

                .content{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        textarea{
            height:80px;
            resize: none;
        }

        .fake-row{
            .btn{
                width: 100%;
            }
        }

        .single-action-full-size {
            width: 82px;
        }

        .coupon-content,
        .reward-content{
            h2{
                overflow: initial;
                max-height: initial;
            }
        } 
    }

    &.coupon-approval,
    &.reward-approval{
        .fake-row{
            .btn{
                width: 100%;
                height: 80px;
            }
        }

        .coupon-content,
        .reward-content {
            .creation-date{
                color: #1cc08a;
                margin: 0 0 10px;
                font-weight: 700;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    width: 50px;
                    border-top: 1px solid #d5d5d5;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            .description{
                margin-bottom: 10px;
                max-height: 50px;
                overflow: hidden;
            }
            p{
                margin:0 0;
            }
        }
    }
}

.custom-table-swap{
    margin: 10px 0;
    font-size: 13px;
    color: #959595;

    table{
        background: #fff;
    }

    thead{
        background: #d9d9d9;
        color: #3b4658;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;

        th{
        }
    }

    table{
        background: #fff;
    }

    strong{
        color: #333334;
        font-size: 14px;
        font-weight: 700;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td{
        padding: 5px;
    }

    .figure{
        width: 92px;

        figure{
            margin: -5px;
        }
    }

    p{
        margin: 0 0;
    }
}

.title{
    font-weight: 700;
    color: #3b4658;
    font-size:12px;
    text-transform: uppercase;
}

.title-underscore{
    font-size: 16px;
    font-weight: 700;
    color: #3b4658;
    position: relative;
    margin-bottom: 14px;

    &:after {
        content: '';
        display: block;
        width: 50px;
        border-top: 1px solid #d5d5d5;
        position: absolute;
        bottom: -6px;
        left: 0;
    }
}

.white-panel{
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 5px;
}

.modal-backdrop{
    z-index: 1030;
}

.button-coupon {
    text-align: center;
}

.menu-lateral ul li a{
    color:#FFF;
}

.credit-amount{
    margin: 0 2px;
    font-size: 20px;
    font-weight: bold;
    height: 66px;
    line-height: 66px;
    vertical-align: middle;

    .currency{
        font-size: 12px;
    }

    img{
        width: 20px;
        height: 20px;
    }
}

.summary-statistics{
    text-align: center;
    margin-bottom: 32px;

    .content{
        background: #fff;
        position: relative;
        padding: 14px;
        border: 14px solid #fff;
        color: #3b4658;

        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: 1px dashed #20dd9d;
        }

        .number{
            font-size: 46px;
            font-weight: 300;
            line-height: 128px;

            &.credits{
                height: 128px;
                font-size: 40px;
                background: url("@{cdn}/themes/default/img/credit-reverse.png") no-repeat center center;
                background-size: contain;
            }
        }

        .label{
            font-size: 16px;
            color: #3b4658;
            font-weight: 700;
        }
    }

    footer{
        background: #20dd9d;
        padding: 10px;
        color: #fff;
        font-weight: 600;
    }
}

.button-coupon{
    width: 100%;
    height: 100%;
    line-height: 100px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.accept{
    background-color: rgb(32,220,156);
    color: rgb(50,70,68);

}

.cancel{
    background-color: rgb(213,213,213);
    color: rgb(135,135,135);
}

.last-col{
    color: #fff;
    background-color: rgb(32, 220, 156);
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    width: 100px;
}

.select2-container--krajee{
    margin-bottom: 5px;

    .select2-dropdown{
        z-index: 10000;
    }

    .select2-search.select2-search--inline{
        float: none;
        width: initial;
    }
}

.dropdown{
    .separator {
        height: 1px;
        background: #e6e6e6;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    h2{
        padding: 3px 20px;
        font-size: 14px;
    }
}

body.body-iframe,
html.iframe{
    background: #fff;
    height: initial;
}

/* Estilos reporte */

@colorFemale: #ed1c24;
@colorMale: #3a7db7;

.color-female{
    color: @colorFemale;
}

.color-male{
    color: @colorMale;
}

.bgcolor-female{
    background-color: @colorFemale;
}

.bgcolor-male{
    background-color: @colorMale;
}

.report-container{

    .table-head,
    .table-report th{
        font-size: 14px!important;
        background: #e7e7e7!important;
        padding: 4px 10px!important;
    }

    .table-report{
        h1, h2, h3, h4, h5, h6{
            margin: 0 0;
        }
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td{
        border-top: 0!important;
        border-bottom: 1px solid #ddd!important;
    }

    .fw-normal{
        font-weight: 400;
    }

    .title-green{
        color: #20dc9c;
        margin-top: 32px;
    }

    .affiliate_logo{
        width: 36px;
        border-radius: 100%;
    }

    .coupon_sumary{
        width: 100%;

        tr{
            background: #fff;
            border-bottom: 10px solid #EDEDED;
        }

        td{
            padding: 10px;
            vertical-align: top;

            &.separador-gris{
                border-left: 2px solid #ededed;
            }

            &.separador-verde{
                border-left: 3px solid #20dc9c;
            }
        }

        .col-1{
            width: 100px;
        }

        .col-3{
            width: 110px;
        }
    }

    .coupon_sumary .coupon-image,
    .table-report .coupon-image{
        max-width: 80px;
        outline: 2px dotted white;
        outline-offset: -5px;
    }

    .graph-bar{
        position: relative;
        height:10px;

        .bar{
            height:10px;
            float:left;
        }
    }

    .credit-coin-small{
        width: 20px;
    }

    .no-margin{
        margin: 0 0;
    }

    .fa-star.green{
        color: #20dc9c;
    }

    .table-ages{
        tr td:last-child{
            font-weight: 700;
        }

        td,
        th{
            padding: 4px 8px;
            text-align: center;
        }

        .graph-bar{
            width: 100px;
        }
    }

    .fa-big{
        font-size: 75px;
    }
}

.phantom-btn {
    color:#000;

    &:hover{
        color:#20dc9c;
    }
}

div.solutions,
div.solution-square {
    height: 66px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .coupon {
        height: auto;
        display: block;

        figure {
            width: 100%;
            height: auto;
            line-height: initial;

            &::after {
                width: initial;
                height: initial;
                left: 5px;
                top: 5px;
                bottom: 5px;
                right: 5px;
            }

            img {
                max-height: none;
            }
        }
    }

    .fake-col{
        display: block;
    }

    .acciones,
    .single-action-full-size,
    .last-col{
        width: 100%;
    }

    .acciones .number{
        font-size: 30px;
        padding: initial;
        margin: 0 0;
    }

    .coupon.coupon-create{	
        .fake-col {
            display: block;
        }

        .acciones,
        .single-action-full-size{
            width: 100%;
        }
    }

    .menu-lateral{
        width: 100%;
        float: none;
        height: 66px;

        ul{
            width: 100%;
            margin: 0 0;

            li{
                float:left;
                width: 25%;

                a{
                    height: 66px;
                    border-left: 0;
                    padding-right: 0;

                    &:hover {
                        border-left: 0;
                    }

                    &:hover:after{
                        left: 50%;
                        top: 100%;
                        border-color: rgba(59,70,88,0);
                        border-top-color: #3b4658;
                        margin-top: 0;
                        margin-left: -8px;
                    }
                }
            }
        } 
    }

    .main-header{
        z-index: initial;
        background: #20dc9c;
        color: #fff;

        .dropdown-menu{
            right: 0;
            left: inherit;
        }

        .control-panel .btn-default{
            background: #20dc9c;
        }

    }

    .main-footer {
        margin-right: 0;
        padding: 10px;
    }

    #adminmenuback{
        display: none;
    }

    [role="main"]{
        margin-top: 64px;
        padding: 26px 15px 160px;
    }

    .credit-amount{
        font-size: 16px;
    }

    .nmt{
        table, 
        thead, 
        tbody, 
        th, 
        td, 
        tr{ 
            display: block; 
        }
        
        table{
            border: 0;
        }
        
        thead tr{ 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr{
            border: 1px solid #ccc;
            margin-bottom: 16px;
        }
        
        td{ 
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%!important; 
            white-space: normal;
            text-align:left;
        }
        
        td:before { 
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            text-align:left;
            font-weight: bold;
        }
        
        td:before{
            content: attr(data-title);
        }
    }
}

#btn-dropdown-menu-solutions{
    background: transparent;
    border: none;
    height: 66px;
}

.dropdown-menu-solutions .link-solution > img {
    width: 32px;
}

a.link-solution {
    display: block;
    height: 100%;
    padding: 0 8px;
    vertical-align: middle;
    line-height: 66px;
    border-right: 1px solid #cecdcd;
}

.solution-label{
    width: 0;
    visibility: hidden;
    display: inline-block;
}

.link-solution:hover .solution-label,
.link-solution.current .solution-label{
    width: initial;
    visibility: visible;
}

body.view-affiliate-selector{
    .main-header {
        border-bottom: 2px solid #20dc9c;
        background: #fff;

        .col-left{
            display: none;
        }

        .control-panel .btn-default{
            padding: 7px;
        }
    }

    [role="main"] {
        padding: 26px 0 60px;
    }

    .menu-lateral,
    #adminmenuback
    {
        display: none;
    }
}

.ico-custom {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: center center;
    vertical-align: top;
    background-repeat: no-repeat;

    &.ico-clock {
        background-image: url(https://d224v694zcq7e8.cloudfront.net/themes/coupon/img/ico-reloj.png);
    }

    &.ico-device{
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-device-small.png");
    }

    &.ico-subsidiaries{
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-subsidiaries.png");
    }

    &.ico-admins{
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-admins.png");
    }

    &.ico-solution-coupon{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-coupon.png");
    }

    &.ico-solution-business{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-business.png");
    }

    &.ico-solution-rewards{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background-image: url("@{cdn}/themes/admin/img/ico-solution-rewards.png");
    }
}

.comming-soon{
    position: relative;
}

.comming-soon .overlay{
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    display: none;
    text-align: center;
    position: absolute;
    line-height: 300%;
}

.comming-soon:hover .overlay{
    display: block;
    background: #20dc9c;
    color: #fff;
}


.card{
    display: block;
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;

    &.card-btn{
        border-left: 4px solid #fff;
        border-right: 4px solid #fff;
        font-weight: 300;
        color: #7d7d7d;
        font-size: 14px;

        strong{
            font-weight: 500;
        }

        &:hover{
            border-left-color: #20dc9c;
        }
    }

    .fa::before{
        margin-right: 0;
    }

    .card-header{
        .fa{
            font-weight: 300;
            color:#20dc9c;
        }

        .dropdown button{
            background: none;
            border: 0;
        }
    }

    .card-figure{
        border: 1px solid #20dc9c;
        overflow: hidden;
        border-radius: 100%;
        padding: 4px;
        background: #fff;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 0 auto;

        .figure{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            overflow: hidden;
            background: #f7f8f9;
            display: inline-block;
        }

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card-figure.small{
        width: 60px;
        height: 60px;
    }

    .card-title{
        font-size: 13px;
        text-align: center;
        color: #7d7d7d;
        margin: 5px 0;
    }

    .card-meta-info{
        text-align: center;
        color: #20dc9c;
        font-weight: 300;
        font-size: 21px;

        label{
            font-size: 8px;
            color: #747474;
            font-style: italic;
        }

        &.small{
            font-size: 10px;
        }
    }
}

.preview-affiliate{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-create-affilate{
    height: 392px;
    padding: 136px 0;

    .figure{
        text-align: center;
        font-size: 52px;
        color: #20dc9c;
        font-weight: 300;
        line-height: 90px;
    }
}

.welcome-dashboard{
    font-size: 20px;
    color: #969696;
    font-weight: 300;
    font-style: italic;

    span{
        color: #20dc9c;
    }
}

.btn-create-subsidiary{
    text-align: center;
    height: 373px;

    .border{
        border: 2px solid #20dc9c;
        padding: 3px;
        height: 100%;
    }

    a{
        display: block;
        background: #f7f8f9;
        height: 100%;
        font-size: 14px;
        padding: 80px 0;
        color: #7d7d7d;

        .figure{
            font-size: 80px;
            font-weight: 100;
            color: #20dc9c;
        }
    }
}

.card-subsidiary{
    color: #7d7d7d;
    min-height:390px;

    &.disable{
        opacity: 0.5;
    }

    .map-holder{
        height: 150px;
        background: #7d7d7d;
    }

    h2{
        font-size: 13px;
        font-weight: 500;
        max-height: 16px;
        overflow: hidden;
    }

    .card-data{
        font-size: 10px;
        font-weight: 300;
        font-style: italic;

        label{
            color: #20dc9c;
            font-weight: 300;
            font-style: normal;
            margin-bottom: 0;
        }

        .row{
            margin: 0 -10px;
            margin-bottom: 5px;

            [class^="col-lg-"],
            [class^="col-md-"],
            [class^="col-sm-"],
            [class^="col-xs-"] {
                padding: 0 10px;
            }
        }

        .row-phone,
        .row-description{
            height: 30px;
            overflow: hidden;
        }

        .row-admins{
            height: 42px;
            overflow: hidden;
        }
    }

    .user-figure{
        width: 24px;
        height: 24px;
        border-radius: 100%;
        overflow: hidden;
        display: inline-block;

        & + .user-figure{
            margin-left: -10px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.card-actions{
    &.row{
        margin: 0 -1px;

        [class^="col-lg-"],
        [class^="col-md-"],
        [class^="col-sm-"],
        [class^="col-xs-"] {
            padding: 0 1px;
        }
    }

    .fa{
        color: #20dc9c;
    }
}

.search-input{
    position: relative;

    [type="text"]{
        padding-right: 30px;
    }

    .fa.fa-search {
        color: #20dc9c;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}


.user-heading{
    margin-bottom: 20px;

    h1 {
        margin-bottom: 5px;
    }

    .user-avatar-profile {
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        .border-radius(100%);

        img {
            width: 100%;
            height: 100%;
        }

        .overlay{
            cursor:  pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: #fff;
            font-size: 18px;
            background: rgba(0,0,0,.7);
            opacity: 0;

            p{
                width: 100%;
                position: absolute;
                top: 50%;
            }

            &:hover{
                opacity: 1;
            }
        }
    }

    .user-block{
        padding:30px 0;
    }

    .aside-block{
        margin: 0 -15px;
    }

    .wrapper-avatar{
        border: 1px solid #20dc9c;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        padding: 4px;

        .border-radius(100%);
    }

    .user-avatar-profile {
        width: 90px;
        height: 90px;
        overflow: hidden;
        position: relative;

        .border-radius(100%);

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .overlay{
            cursor:  pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: #fff;
            font-size: 18px;
            background: rgba(0,0,0,.7);
            opacity: 0;

            p{
                width: 100%;
                position: absolute;
                top: 50%;
                font-size: 12px;
                .transform(translateY(-50%));
            }

            &:hover{
                opacity: 1;
            }
        }
    }

    .user-block{
        padding:30px 0;
    }

    .aside-block{
        margin: 0 -15px;
    }

    .form-control {
        border-left: 0;
        border-top: 0;
        border-right: 0;
        box-shadow: none;
    }

    .control-label{
        font-size: 15px;
        font-weight: 300;
        color: #24e0b0;
    }

    [type=text], [type=password], [type=date], [type=number], [type=url], [type=email], select, textarea {
        border: 1px solid #dfdfdf;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: none;
        background: transparent;
        .border-radius(4px);
    }

    select{
        border-radius: 0;
        border: 1px solid!important;
    }

    .has-success .form-control,
    .has-error .form-control{
        box-shadow: none;
    }

    .affiliate-menu{
        list-style-type: none;
        margin: 0 0 16px;
        padding: 0 0;
        border-top: 1px solid #f0f0f0;

        li{
            border-bottom: 1px solid #f0f0f0;;
            padding: 10px 5px;

            a{
                display: block;
            }
        }
    }

    .logo-affiliate{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .select2-container,
    .select2-container .select2-choice,
    .select2-container-multi .select2-choices{
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #dfdfdf;

        .border-radius(4px);
    }

    .select2-container-multi .select2-choices li.select2-search-choice{
        .border-radius(4px);
    }

    .select2-container.form-control{
        border-bottom: 0;
    }
}

.btn-swap-white, .btn-proces-white {
    color: #00C481;
    background: #fff;
    border: 1px solid #e7e7e7;
}

.upload-input {
    cursor: pointer;
    overflow: hidden;
    height: 50px;

    .fa{
        font-size: 30px;
        margin: 0 4px;
    }

    .fa:before {
        margin-right: 0!important;
    }
}

.new-content-links{
    margin-top: 50px;
    margin-bottom: 0;

    .nav-tabs > li{
        background: #e0e7ea;
    }

    .nav-tabs > li > a{
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 0;
    }

    .nav-tabs > li.active > a:after,
        .nav-tabs > li > a:hover:after,
        .nav-tabs > li > a:focus:after,
        .nav-tabs > li.active:first-child:before,
        .nav-tabs > li.active:last-child:after{
        display: none;
    }

    .nav-tabs > li:first-child{
        border-top-left-radius: 2px;
    }

    .nav-tabs > li:last-child{
        border-top-right-radius: 2px;
    }

    .nav-tabs > li.active{
        background: #fff;
        z-index: 1;
        padding-top: 2px;
        margin-top: -2px;
    }

    .nav-tabs > li.active:before,
        .nav-tabs > li.active:after{
        content: '';
        display: block;
        width: 16px;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: #fff;
        z-index: -1;
    }

    .nav-tabs > li.active:after {
        right: -8px;
        transform: skew(20deg);
    }

    .nav-tabs > li.active:before {
        left: -8px;
        transform: skew(-20deg);
    }
}

.tab-content-links{
    background: #fff;
    padding: 10px;

    .custom-table-swap thead{
        background: transparent!important;
        color: #20dc9c;
    }

    .table-bordered{
        border: 0;
    }

    .table-striped > tbody > tr:nth-of-type(odd){
        background: trasparent;
    }

    .custom-table-swap thead{
        th{
            border: 0!important;
            text-transform: none;
            font-weight: 400;
        }

        a{
            color: #20dc9c;
            text-transform: none;
            font-weight: 400;
        }
    }
}

.card.card-btn.active{
    border-left-color: #20dc9c;
}

.view-recharge .credit-amount{
    text-align: center;
    font-size: 40px;
    color: #555555;
    background: #fff;
    margin: 0 0 10px;
    padding: 40px 5px;
    height: auto;
}

.item-payment-system{
    height: 70px;
    width: 100%;
    display: table;

    .item{
        display: table-cell;
        vertical-align: middle;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}


.btn-add-role-user{
    text-align: center;
    padding: 40px 0 16px;

    .border{
        .figure{
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: 2px solid #20dc9c;
            margin-bottom: 24px;
            display: inline-block;
            line-height: 28px;
            font-size: 30px;
            color: #20dc9c;
            font-weight: 300;
        }
    }
}

.ui-autocomplete{
    z-index: 10000;

    .ui-menu-item{
    }

    .user-avatar-mini{
        width: 30px;
        height: 30px;
    }
}

ul.carousel.flickity-enabled.is-draggable{
    overflow-x: hidden;
    height: 80px;
}

.hasDatepicker{
	width: 100%;
}