html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -201px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 200px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #wrap{
    margin: 0 auto -0px;
  }

  #footer {
    height:initial;
  }
}