body {
    color: #2e8773;
    background:#f3f4f6;
    font-family: @fontFamilyOpenSans;
    font-weight: 400;
    font-size: 13px;
    display: block;
    height: 100%;
}

a{
    color: #20DC9C;

    &:hover, &:focus {
        color: #594537;
        text-decoration: none;
    }
}

input,
select,
textarea,
label,
.ui-spinner,
.form-control{
    font-family: @fontFamilyOpenSans;
    color: #919191;
}

label{
    display: block;
}

[type=text],
[type=password],
[type=date],
[type=number],
[type=url],
[type=email],
select,
textarea{
    background: white;
    border: 1px solid #dfdfdf;
    font-size: 13px;
    padding: 8px 10px;
    width: 100%;

    &:focus{
        border-color: #D1D1D1;
        outline: none;
    }
}

textarea{
    height: 100px;
    resize: vertical;
}

select{
    border-bottom-width: 2px;
    border-top-width: 1px;

    &[multiple],
    &[size] {
        height: 100px;
        resize: vertical;
    }
}

/* ##################### OVERWRITING COMPONENTS ##################### */

/* Form elements */

input:focus {
    color: #666;
}

.form-control {
    height: 35px;
}

.form-group {
    display: table;
    width: 100%;
}

.upload-input {
    cursor: pointer;
    overflow: hidden;
    height: 50px;

    .fa {
        margin-top: 9px;
    }

    [type="file"] {
        position: absolute;
        top: 0;
        left: -1901px;
        font-size: 200px;
        cursor: pointer;
        z-index: 2;

        .opacity(0);
    }
}

.errorMessage {
    background: #FC4747;
    color: #FFF;
    padding: 5px 10px;
    height: 25px;
    font-size: 13px;
    display: table;
    margin-bottom: 10px;
    margin-top: 10px;

    .border-radius(20px);	
}

.has-error{
    input,
    select,
    textarea,
    .select2-choice,
    .select2-container-active .select2-choice {
        border-color: #E4B4B4;
        color: #9E3333;
    }

    .select2-choice .select2-arrow {
        border-color: #E4B4B4;
    }

    input:focus,
        select:focus,textarea:focus {
        border-color: #DB7979;
    }
}

.has-success {
    input,
    select,
    textarea,
    .select2-choice,
    .select2-container-active .select2-choice {
        border-color: #B4E4C1;
        color: #585;
    }

    .select2-choice .select2-arrow {
        border-color: #B4E4C1;
    }

    input:focus, select:focus, textarea:focus {
        border-color: #4AC06F;
    }
}

label span.required {
    color: red;
}

/* Icons */

.fa.approved-icon {
    font-size: 21px;
}

.fa {
    color: #594537;

    &:before {
        margin-right: 10px;
    }
}

/* Buttons */

.btn {
    padding: 8px 12px;

    .border-radius(20px);

    .fa{
        vertical-align: middle;
    }
}

.btn-swap-white,
.btn-swap-aqua,
.btn-swap-brown{
    position: relative;
    top: 0;

    .transition (all 0.2s);
    .box-shadow(none);	
}

.btn-swap-white,
.btn-proces-white{
    color: #00C481;
    background: #fff;
    border: 1px solid #E7E7E7;

    &.active,
    &:focus {
        color: #00C481;
        outline: none;
        background: #fff;		
        position: relative;
        top: 0;
        border: 1px solid #E7E7E7;
    }
}

.phantom-btn {
    border: 1px solid transparent;
    background: none;

    &.active,
    &:focus {
        border: 1px solid transparent;
        background: none;
    }
}

.btn-swap-white {
    &:hover {
        color: #00C481;
        outline: none;
        background: #fff;
        top: -2px;
        border: 1px solid #D3D3D3;

        .box-shadow(0 -3px #DFDFDF inset);
    }

    &:active {
        outline: none;
        top: 0;

        .box-shadow(0 3px #DFDFDF inset);
    }

    .fa,
    &.fa {
        color: #00C481;
    }
}


.btn-swap-brown {
    outline: none;
    background: #594337;
    color: #fff;
    border: 1px solid #594337;
    position: relative;
    top: 0;

    .transition(all 0.2s);	
    .box-shadow(none);

    .fa{
        color: #fff!important;
        font-size: 20px;
    }

    &:hover {
        background: #6F5442;

        .box-shadow(0 -4px #553E2E inset);
    }

    &.active,
    &:focus {
        outline: none;
        top: 0;
        background: #594337;
        color: #fff;
        border: 1px solid #594337;

        .box-shadow(0 4px #553E2E inset);
    }
}

.btn-swap-aqua{
    background: #5edbc7;
    color: #fff;
    font-weight: 700;

    outline: none;
    position: relative;
    top: 0;

    .transition(all 0.2s);

    &:hover,
        &:active,
        &:focus{
        outline: none;
        color: #5edbc7;
        background: #fff;
        top: -2px;
        border: 1px solid #5edbc7;

        .box-shadow(0 -3px #5edbc7 inset);
    }

    &:focus{
        top: 0;
    }
}

.btn-swap-brown:hover{
    color: #fff;
    outline: none;
    top: -2px;
}

.btn-swap-green .fa,
.btn-swap-brown .fa,
.btn-swap-aqua .fa {
    color: #fff;
}

/* Tabs */

.swap-tab {
    .tabs {
        padding: 0;
        margin: 0;
        display: table;
        width: 100%;

        li {
            float: left;
            margin-right: 3px;
            list-style: none;
            height: 100%;

            &:first-child {
                margin-left: 0;
            }

            a {
                height: 35px;
                text-decoration: none;
                color: #6D6D6D;
                text-decoration: none;
                color: #6D6D6D;
                display: block;
                width: 100%;
                padding: 8px 20px;
                background: #F8F8F8;
                border: 1px solid #E4E4E4;

                .transition(all 0.2s);
                .border-radius(20px);

                &.active {
                    height: 40px;
                    margin-top: -5px;
                    padding-top: 11px;
                    font-weight: bold;
                    color: #1BCAE2;
                    background: #FFF;
                }
            }

            &:hover a {
                background: #fff;
            }
        }
    }

    .view {
        padding: 10px;
        padding-top: 20px;
    }
}

/* Select 2 */
.select2-result {
    .choosen_create,
    .choosen_item {
        padding: 5px 15px;
        width: 100%;
        display: block;
    }

    p.choosen_item {
        margin: 0;
    }
}

.select2-container p.choosen_item {
    margin: 0;
    line-height: 20px;
}

.select2-container-active .select2-choice {
    border-color: #CFCFCF;
}

.select2-results {
    .choosen_create .add-icon {
        background-image: url(../img/add-icon-gray.png);
    }
    .select2-highlighted .choosen_create .add-icon {
        background-image: url(../img/add-icon.png);
    }
}

.select2-search .choosen_create {
    position: absolute;
    top: 3px;
    right: 7px;
    text-indent: -9999px;
    width: 25px;
    height: 27px;
}

.select2-drop-above .select2-search .choosen_create {
    top: 7px;
}

/* Select 2 Multiple */

.select2-container-multi {
    &.select2-container-active {
        .box-shadow(none);
    }

    .select2-choices, &.select2-container-active .select2-choices {
        border: 1px solid #D8D8D8;
        background: #fff;

        .border-radius(20px);
        .box-shadow(none);
    }

    &.select2-dropdown-open .select2-choices {
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-bottom-right-radius: 0;
        -moz-border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.select2-container-active .select2-choices {
        border-color: #C4C4C4;
    }

    &.permission-select .select2-choices {
        height: 70px !important;
    }

    .select2-choices li {
        &.select2-search-choice {
            background: #F8F8F8;
            border-color: #CACACA;
            color: #6D6D6D;
            padding: 4px 8px 4px 18px;

            .border-radius(20px);
            .box-shadow(none);
        }

        &.select2-search-choice-focus {
            background: #D50101;
            color: #fff;
            border-color: #AD0000;
        }

        &.select2-search-choice p {
            margin-bottom: 0;
        }
    }
}

.vertical-select2 {
    .select2-choices li.select2-search-choice {
        float: none;
        margin-right: 5px;
        margin-top: 6px;
    }
    &.select-with-icon {
        .select2-choices li.select2-search-choice:before {
            content: "";
            width: 13px;
            height: 14px;
            display: block;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            margin-left: 3px;
        }

        &.document-icon .select2-choices li.select2-search-choice:before {
            content: "\f0c6";
            font-size: 16px;
            font-family: 'FontAwesome';
        }
    }
}

/* ##################### CUSTOM COMPONENTS ##################### */

.drop-list {
    display: none;
    background: #FFF;
    border: 1px solid #ECEBEB;
    right: 0;
    padding: 10px 0px;
    position: absolute;
    top: 60px;
    z-index: 5;

    .border-radius(5px);	
    .box-shadow(0px 1px 4px 0px rgba(0, 0, 0, 0.1));

    ul {
        min-width: 150px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: none;
            width: 100%;
            color: #9E9E9E;
            white-space: nowrap;
            line-height: 34px;
            height: 34px;
            margin: 0;

            a {
                color: #9E9E9E;
                white-space: nowrap;
                line-height: 34px;
                height: 34px;
                margin: 0;

                padding: 0 20px;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                display: block;
                text-decoration: none;

                &:hover {
                    background: #20DC9C;
                    color: #FFF;

                    .fa {
                        color: #fff;
                    }
                }
            }

            &.separator {
                height: 1px;
                background: #E6E6E6;
                margin-top: 2px;
                margin-bottom: 2px;
            }

            &.text-item {
                padding: 0 17px;
                height: 22px;
                line-height: 27px;
                color: #B8B8B8;
                margin-bottom: 3px;
            }
        }
    }

    span.arrow {
        border-bottom: 10px solid #E2E2E2;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        display: block;
        height: 0;
        position: absolute;
        width: 0;
        top: -10px;
        right: 18px;

        &:after {
            content: " ";
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            display: block;
            height: 0;
            position: absolute;
            width: 0;
            top: 1px;
            right: -10px;
        }
    }
}

/* ##################### Login ##################### */

body.body-login {
    background: no-repeat center #00dca2;
    height: 100%;
}

.login-container {
    max-width: 690px;
    min-width: 450px;
    margin-top: 140px;
    overflow: hidden;

    .logo-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.buttons-col {
    margin-top: 60px;
}

.fields-container {
    overflow: hidden;
    background: #fff;

    .border-radius(4px);

    input {
        background: none;

        .box-shadow(none);
    }

    .form-group {
        border: none;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 0;
    }

    .form-control {
        height: 45px;
    }

    .form-group:last-child {
        border: none;
    }

    .input-group-addon {
        background: none;
        border: none;
        color: #BEBDBD;
        width: 50px;

        .fa {
            width: 20px;
            text-align: center;
            &:before {
                margin-right: 0;
            }
        }
    }

    .form-group input {
        border: none;
        width: 300px;
    }
}

.login-container input[type="submit"] {
    margin-top: 20px;
    height: 40px;
    border: none;
    background: #594537;
    color: #FFF;

    &:hover {
        background: #6F5442;
    }
}

.footer-login {
    text-align: center;
    padding-top: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 40px;
}

.error-login {
    padding: 5px 10px;
    height: 25px;
    font-size: 13px;
    display: block;
    float: left;
    background: #FC4747;
    margin-bottom: 6px;
    color: #FFF;
    position: absolute;
    right: 5px;
    top: 12px;

    .border-radius(20px);
}

.login-separator {
    margin: 0;
    border-bottom: 1px solid #51F5CA;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;

    span {
        background: #00DCA2;
        color: #FFF;
        position: absolute;
        left: 50%;
        top: -7px;
        width: 117px;
        display: block;
        text-align: center;
        margin-left: -58px;
    }
}

.facebook-login {
    background-color: #4E69A2;
    border-color: #435A8B #3C5488 #334C83;
    color: #fff;
    margin: 0 auto;
    display: block;
    margin-top: 5px;

    &:hover {
        color: #fff;
        background: #536EA8;
    }

    .fa {
        width: 20px;
        text-align: left;
        margin-right: 5px;
        border-right: 1px solid #334C83;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

/* ##################### HEADER ##################### */

.navbar-wrapper {
    width: 100%;
    display: block;
    background: #20dc9c;
    margin-bottom: 0px;
    padding-right: 0;
    border: none;

    .border-radius(0);
}

.navbar-head {
    max-width: 1170px;
    height: auto!important;
    margin: 0 auto;
    display: block;

    #home_url{
        float: left;
    }

    .control-panel{
        &:hover{
            background: #3b4859;
            .box-shadow(inset 1px 0 3px 0px #000);
        }
    }	

    .user-avatar {
        width: 42px;
        height: 42px;
        overflow: hidden;

        .border-radius(100%);

        img {
            height: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .user-info {
        text-align: right;
        padding-top: 8px;
        height: 100%;
        width: 100%;

        .user-name {
            font-size: 13px;
            margin: 0;
            margin-right: 10px;
            margin-top: 13px;

            .fa::before{
                margin-right: 0;
            }
        }

        .name{
            display:none;
        }
    }

    p,
    a {
        color: #fff;
    }

    .navbar-brand {
        height: 53px;
        padding: 0 15px;
        margin-top: 7px;
    }

    .container-messages-notifications{
        float: right;
        margin-right: 1px;

        .container-messages{
            float:left;
            position: relative;
            margin-right: 1px;
        }
    }



    .navbar-buttons {
        padding: 20px 22px;
        text-align: center;
        position: relative;
        cursor: pointer;
        float: left;
        background:#1cc08a;

        .transition(all 0.2s);


        &:hover,
            &.actual{
            background: #3b4859;

            .box-shadow(inset 1px 0 3px 0px #000);

            .fa{
                color:#fff;
            }
        }

        .fa {
            color: #594337;
            font-size: 19px;

            &::before{
                margin-right: 0;
            }
        }

        .label {
            position: absolute;
            padding: 2px;
            right: 8px;
            top: 8px;
            width: 20px;
            height: 20px;
            line-height: 18px;
            font-size: 11px;
            font-weight: 700;
            color: #eea831;
            text-align: center;
            background: #333736;

            .box-shadow(0 0 2px #000);
            .transition(all 0.2s);
            .border-radius(100%);
        }

        &:hover .label {
            background: #20dc9c;
            color: #fff;
        }
    }
}

.user-winks {
    .border-radius(20px);

    text-align: center;
    border: 1px solid;
    padding: 4px;
    margin-bottom: 16px;
    border: 1px solid #20dc9c;
    margin: 15px;
	
	.fa {
		color: #38dfa6;
	}
}

.control-panel {
    cursor: pointer;
    height: 59px;
    padding: 0 10px;
    background: #1cc08a;
    position: relative;

    &:hover {
        .user-info {
            p,
            a,
            .fa	{
                color: #fff;
            }
        }
    }

    .drop-list {
        width: 200px;
        li .fa:before {
            margin-right: 7px;
        }
    }
}

/* Menu */

.menu-bar {
    width: 100%;
    margin: 0 auto;
    display: table;
    background: #11CA8B;

    ul {
        clear: left;
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 50%;
            list-style: none;

            a {
                text-align: center;
                padding: 11px;
                cursor: pointer;
                width: 100%;
                display: block;
                color: #FFF;

                .border-radius(3px);

                &:hover {
                    text-decoration: none;
                    background: #594537;
                    color: #FFF;
                }

                .fa {
                    color: #fff;
                    bottom: -3px;
                    position: relative;
                }
            }

            &:first-child a {
                border-right: none;

                -webkit-border-top-right-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-top-right-radius: 0;
                -moz-border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child a {
                -webkit-border-top-left-radius: 0;
                -webkit-border-bottom-left-radius: 0;
                -moz-border-top-left-radius: 0;
                -moz-border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            a .fa:before {
                font-size: 22px;
            }
        }
    }
}

.swap-breadcrumbs {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1170px;

    .separator {
        margin-left: 10px;
    }

    a:last-child {
        color: #594337;
        font-weight: bold;
    }
}

/* ##################### CONTENT ##################### */

.content {
    min-height: 550px;
    margin: 0 auto;
    padding: 15px 0;

    h2 {
        font-size: 17px;
        font-weight: bold;

        .fa:before {
            margin-right: 5px;
            font-weight: normal;
        }

        + .details-row {
            border-top: 1px solid #E4E4E4;
            padding-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    .content {
        margin-top: 0px;
    }
}

h1 {
    color: #594537;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.5;
    margin-top: 0;
    padding: 3px 0;

    .border-radius(2px);
}

h2, h3, h4, h5, h6{
    color: #3b4859;
}

.details-row {
    margin-bottom: 10px;
}

.labeling {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Rewards profile */

.reward-picture-profile {
    width: 220px;
    height: 220px;
    overflow: hidden;

    .border-radius(100%);

    img {
        height: 100%;
    }
}

.reward-codes-list ul {
    margin-top: 4px;
    list-style: none;
    padding: 0;

    li {
        width: 100%;
        border: 1px solid #E7E7E7;
        margin-bottom: 4px;
        padding: 7px 15px;

        .border-radius(30px);

        &.used {
            .opacity(0.7);
        }
    }
}

/* Error page */

.error-container {
    margin-top: 30px;
    margin-left: 70px;
    width: 47%;

    h1 {
        font-size: 70px;
        font-weight: bold;
        margin-bottom: 10px;

        + p {
            font-size: 20px;
        }
    }
}

/* Reward Thumbs list */

#list-reward {
    .items {
        display: block;
        clear: both;
    }

    .pager {
        margin: 5px 0 0 0;
        display: block;
        float: none;
        clear: both;
        text-align: center;
        margin-top: 20px;
    }
}

.items .row {
    margin: 0;
}

.pager ul {
    a {
        color: #00C481;
        font-weight: normal;
        border: none;
        border: 1px solid #E7E7E7;
        position: relative;
        top: 0;

        .transition(all 0.2s);
        .border-radius(100%);

        &:hover {
            color: #00C481;
            outline: none;
            background: #fff;
            top: -2px;
            border: 1px solid #D3D3D3;

            .box-shadow(0 -3px #DFDFDF inset);
        }

        &:active,
            &:focus{
            outline: none;
            top: 0;

            .box-shadow(0 3px #DFDFDF inset);
        }

        &:link,
            &:visited {
            color: #00C481;
            font-weight: normal;
            border: 1px solid #E7E7E7;
            position: relative;
            top: 0;

            .transition(all 0.2s);
            .border-radius(100%);
        }
    }

    .page a {
        width: 40px;
        height: 40px;
        line-height: 37px;
    }

    .selected a {
        background: #20DC9C;
        color: #FFF;
        font-weight: bold;
        border: none;
        cursor: default;

        &:hover,
            &:active,
            &:focus{
            border: none;
            top: 0;

            .box-shadow(none);
        }
    }

    .next a,
    .previous a {
        color: #fff;
        background: #594337;
        border: 1px solid #594337;
        font-size: 14px;
        padding: 10px 15px;

        .border-radius(20px);

        &:hover{
            color: #fff;
            background: #6F5442;

            .box-shadow(0 -4px #553E2E inset);
        }

        &:active,
            &:focus{
            outline: none;
            top: 0;

            .box-shadow(0 4px #553E2E inset);
        }
    }

    .last a,
    .first a {
        display: none !important;
    }

    .next a .fa,
    .previous a .fa {
        color: #fff;
    }

    .next a {
        .fa:before {
            margin-right: 0;
            margin-left: 5px;
        }
    }
}

.pager{
    clear: both;
    text-align: center!important;
}

.yiiPager {
    .next {
        position: absolute;
        bottom: 0px;
        right: 15px;
    }

    .previous {
        position: absolute;
        bottom: 0px;
        right: 15px;
        right: initial;
        left: 15px;
    }

    .next.hidden,
    .previous.hidden {
        display: inline !important;
        visibility: visible !important;

        .opacity(0.6);
    }

    .next.hidden a:hover,
        .previous.hidden a:hover,
        .next.hidden a:active,
        .previous.hidden a:active,
        .next.hidden a:active:focus,
        .previous.hidden a:active:focus {
        top: 0;
        background: #594337;
        cursor: default;

        .box-shadow(none);
    }
}

.thumb-item {
    cursor: pointer;
    color: inherit;
    display: block;
    padding: 10px;

    .border-radius(4px);
    .transition(all 0.2s);

    .thumb-details {
        margin-top: 32px;
        max-height: 55px;
        overflow: hidden;

        h3 {
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin: 0;
            overflow: hidden;
            background: #3b4859;
            color: #fff;
            margin: 0 20px;
            padding: 5px;

            .border-radius(20px);
        }
    }

    .thumb-image {
        width: 100%;
        background: #F8F8F8;
        overflow: hidden;
        position: relative;

        .border-radius(100%);

        .thumb-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(32, 220, 156, 0.71);

            .transition(all 0.2s);
            .border-radius(100%);
            .opacity(0);

            .fa {
                font-size: 26px;
                color: #fff;
                text-align: center;

                .transition(all .2s);

                &:before {
                    margin-right: 0;
                }
            }

            p {
                text-align: center;
                position: absolute;
                width: 100%;
                top: 50%;
                color: #FFF;
                font-size: 26px;
                font-weight: bold;
                margin: 0 0;

                text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
            }
        }
        .unavailable {
            background: rgba(158, 158, 158, 0.71);
        }

        img {
            width: 100%;
        }
    }


    &.selected{
        background: rgb(207, 207, 207);
    }

    &.last-item {
        margin-right: 0;
    }

    &:hover {
        background: #fff;
        border-color: #d4d4d4;
        text-decoration: none;
        color: inherit;

        h3 {
            color: #20DC9C;
        }

        .thumb-image .thumb-overlay {
            .opacity(1);
        }
    }

    &:active {
        border-bottom-width: 1px;
        border-top-width: 3px;
    }
}

.index_surveys_list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        a {
            width: 100%;
            padding: 10px;
            height: 80px;
            border-bottom: 1px solid #E2E2E2;
            display: block;
        }

        .type_survey {
            font-size: 40px;
            float: left;
            margin-right: 20px;
            width: 15%;
            text-align: center;
            margin-top: 10px;
        }

        .heading {
            float: left;
            width: 65%;

            h3 {
                margin: 0;
                margin-bottom: 5px;
                margin-top: 4px;
                color: #20DC9C;
                font-size: 22px;
            }
        }

        .heading p {
            margin: 0;
            color: #808080;
        }

        .remaining_status {
            float: left;
            width: 5%;
        }

        .winks {
            float: left;
            width: 15%;
            color: #20DC9C;
            margin-top: 19px;
            margin-bottom: 0;
            font-size: 16px;

            .fa {
                margin-left: 5px;
            }
        }

        &:hover {
            color: #fff;
            background: #20DC9C;
            border-bottom-color: #20DC9C;

            .winks {
                color: #fff;
                .fa {
                    color: #fff;
                }
            }

            .heading p,
            .heading h3,
            .type_survey{
                color: #fff;
            }
        }
    }
}

.user-heading{
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;

    h1 {
        margin-bottom: 5px;
    }
	
    .wrapper-avatar{
        border: 1px solid #20dc9c;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        padding: 4px;

        .border-radius(100%);
    }

    .user-avatar-profile {
        width: 90px;
        height: 90px;
        overflow: hidden;
        position: relative;

        .border-radius(100%);

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .overlay{
            cursor:  pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: #fff;
            font-size: 18px;
            background: rgba(0,0,0,.7);
            opacity: 0;

            p{
                width: 100%;
                position: absolute;
                top: 50%;
				font-size: 12px;
				.transform(translateY(-50%));
            }

            &:hover{
                opacity: 1;
            }
        }
    }

    .user-block{
        padding:30px 0;
    }

    .aside-block{
        margin: 0 -15px;
    }
	
	.form-control {
		border-left: 0;
		border-top: 0;
		border-right: 0;
		box-shadow: none;
	}
	
	.nav-tabs{
		margin-top: 20px;
		float: right;
		
		> li{
			position: relative;
		}
		
		> li:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			border-left: 1px solid #f0f0f0;;
			z-index: 1;
		}
		
		> li.first:after{
			display: none;
		}

		> li > a {
			border: none;
			background-color: transparent;
			padding:4px 10px;
			text-align: center;
			font-size: 15px;
			margin: 0;
			color: #20dc9c;
			width: 100%;
			border-radius: 0;
			border: 1px solid transparent;
			z-index: 2;
		}
		
		> li.active > a,
		> li.active > a:hover,
		> li.active > a:focus,
		> li >a:hover,
		> li >a:focus{
			border: 1px solid #20dc9c!important;
			background-color: transparent!important;
			color: #20dc9c!important;
		}
	}
	
	.control-label{
		font-size: 15px;
		font-weight: 300;
		color: #24e0b0;
	}
	
	[type=text], [type=password], [type=date], [type=number], [type=url], [type=email], select, textarea {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		box-shadow: none;
	}
	
	select{
		border-radius: 0;
		border: 1px solid!important;
	}
	
	.has-success .form-control,
	.has-error .form-control{
		box-shadow: none;
	}
	
	.affiliate-menu{
		list-style-type: none;
		margin: 0 0 16px;
		padding: 0 0;
		border-top: 1px solid #f0f0f0;
		
		li{
			border-bottom: 1px solid #f0f0f0;;
			padding: 10px 5px;
			
			a{
				display: block;
			}
		}
	}
	
	.logo-affiliate{
		width: 30px;
		height: 30px;
		overflow: hidden;
		border-radius: 100%;
		display: inline-block;
		vertical-align: middle;
		
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.fa.green,
.fa.fa-pencil.perfil{
	color: #20dc9c;
	margin: 0;
}

.big-winks{
	font-size: 32px;
	font-weight: 300;
}

.btn{
	border-radius: 0;
}

.aside-block{
    text-align: center;
    padding: 30px;
    font-weight: 700;
    font-size: 20px;
    color: #3b4859;

    .fa{
        color: #3b4859;
        display: block;

        &::before{
            margin-right: 0;
        }
    }

    .number-block{
        font-size: 40px;
        font-weight: 300;
        color: #24dd9e;

    }

    .winks{
        background: #24dd9e;
        color: #fff;

        .fa{
            color: #fff;
        }

        .number-block{
            color: #3b4859;
        }
    }
}

.winks{
    background: #24dd9e;
    color: #fff;

    .fa{
        color: #fff;
    }

    .number-block{
        color: #3b4859;
    }
}

.user-avatar-mini {
    width: 50px;
    height: 50px;

    .border-radius(100%);
}


/* ##################### FOOTER ##################### */

.footer-wrapper {
    padding: 20px 0;
    width: 100%;
    font-size: 13px;
    color: #FFF;
    background: #1ACF91;
}

.footer {
    max-width: 1170px;
    display: block;
    height: 100%;
    padding: 0;
    margin: 0 auto;

    .list-inline {
        margin: 0;
        padding: 0;
    }

    a {
        color: #fff;
    }
}

/*** CONTENT ***/

.grid-view {
    padding: 0;

    .button-column {
        width: 190px;
        padding: 3px 17px;
        padding-top: 6px;

        .fa:before{
            margin-right: 0;
        }
    }

    .pager{
        text-align:center!important;
    }
}

table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;

    th {
        font-size: 14px;
        padding: 18px 16px;
        border-bottom-width: 1px;
    }
}

.table > thead > tr > th {
    font-size: 14px;
    padding: 18px 16px;
    border-bottom-width: 1px;
}

th a {
    color: #594337;
}

.table > tbody > tr td {
    padding: 14px 17px;
}

a {
    &.asc {
        padding-right: 10px;
        background: url(../img/up.gif);
        background-position: right;
        background-repeat: no-repeat;
    }
    &.desc {
        padding-right: 10px;
        background: url(../img/down.gif);
        background-position: right;
        background-repeat: no-repeat;
    }
}

.check-yes .fa {
    color: #33CC33;
}

.check-no .fa {
    color: #E4E4E4;
}

.status-uploaded {
    border-left: #CC0033 3px solid;
}

.status-reviewed {
    border-left: #FFCC66 3px solid;
}

.status-approved {
    border-left: #33CC33 3px solid;
}

.popover-content {
    padding: 0px;
}

/* crop avatar */

.content-resize-avatar {
    margin: 0 0;
    padding: 0 0;
    background-color: #fff;
}

.avatar-original {
    float: left;
    width: 366px;

    img {
        max-width: 100%;
    }
}

.avatar-preview {
    border: 1px #e5e5e5 solid;
    float: left;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.upload-input input[type="file"] {

    left: 0px !important;
    font-size: 30px !important;
    height:55px;
    margin-top:-3px; 
    width:98%;
    background-color:red;

}

/*mensajes*/

.visiblehide {
    display: none;
}

#viewMessage {
    overflow-x: hidden;
    overflow-y: auto;
    height: 250px;
    width: 100%;

    .view {
        padding: 15px 15px 15px 75px;
        word-break: break-word;

        .user-avatar{
            float: left;
            margin-left: -60px;

            img{
                width: 45px;
                height: 45px;

                .border-radius(100%);
            }
        }

        .user-name {
            color: #3b4658;
            font-size: 14px;
            font-weight: 500;
        }

        .message{
            color: #2e8773;
        }

        .date{
            float: right;
            font-size: 12px;
        }
    }

    .myself{
        background: #f3f3f3;
    }
}

#userGridMessages_c0 {
    display: none;
}

#userGridMessages {
    color: #fff;

    .avatar-container {
        width: 25px;

        img {
            width: 25px;
            height: 25px;
            border-radius: 100%;
        }
    }

    .user-name{
        font-size: 14px;
        font-weight: 500;
        color: #3b4658;
    }

    .last-message{
        color: #2e8773;
    }

    tr{
        background: #f3f3f3;

        &:hover{
            td{
                color: #fff;
                background: #3b4658!important;
            }

            .user-name,
            .last-message{
                color: #fff;
            }
        }
    }

    tr:nth-child(even){
        background: #fff;

        td:nth-child(odd){
            background: #fff;
        }
    }
}

.messages-user-list h2 {
    margin-top: 0;
    padding-top: 20px;
    color: #fff;
}

/* login */

.colorWhite {
    color: #fff;

    a,
    &:hover {
        color: #fff;
    }
}

.drop-listx {
    width: 200px;
}

.cursor-pointer {
    cursor: pointer;
}

/* ESTILOS FINALES 1.0 */

.header-block{
    color: #2e8773;
    margin-bottom: 20px;

    h2{
        margin:0 0;
        font-size: 45px;
        color: #1cc08a;
        font-weight: 300;
    }
}

.header-destacado{
    background: #3b4658;
    padding: 15px 0;

    h2{
        margin: 0 0;
        font-size: 20px;
        color: #fff;
        line-height: 30px;
    }
}

.input-search{
    line-height: 30px;
    position: relative;

    input{
        height:30px;
        padding-right: 50px;
    }

    .fa{
        border-left: 1px solid;
        position:absolute;
        top: 0;
        right: 0;
        width: 46px;

        &::before{
            margin-left:10px;
        }
    }
}

.table{
    td{
        border-top: 0 none!important;
    }

    td:nth-child(odd){
        background: #f3f3f3;
    }

    tr:nth-child(even){
        background: #f3f3f3;

        td:nth-child(odd){
            background: #e8e8e8;
        }
    }
}

.style-table{
    font-size: 14px;
    color: #2e8773;

    p{
        margin: 0 0;
    }

    strong{
        font-size: 18px;
        font-weight: 500;
        color: #3b4658;
    }

    small{
        color: #3b4658;
        font-weight: 500;
    }

    .icon.fa{
        font-size: 25px;
        color: #384454;

        &::before{
            margin-right:0px;
        }
    }

    .fa.fa-star{
        font-size: 25px;
        color: #eea831;
    }

    .fa.fa-clock-o{
        font-size: 25px;
        color: #1cc08a;
    }

    td{
        &.td-icon{
            width: 70px;
            text-align: center;
            vertical-align: middle;
        }

        &.td-winks{
            width: 180px;
            text-align: center;
        }

        &.td-time{
            width: 250px;
        }
    }
}

.container-afiliates{
    text-align: center;

    .list-afiliates{
        margin: 0 0;
        padding:0 0;
        list-style-type: none;
        font-size: 15px;

        li{
            border-top: 1px solid #f3f3f3;
            padding: 15px;
        }

        a{
            color: #858585;
        }
    }
}

.content-friend-avatar{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #3b4658;
    height: 100px;
    padding: 10px 0;
    overflow: hidden;

    img{
        width: 64px;
        height: 64px;

        .border-radius(100%);
    }
}

.tabpanel-user-view{
    .nav-tabs{
        border-bottom: 0;

        li + li{
            border-left: 1px solid #fff;
        }

        > li{
            width: 33%;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            color: #858585;
            background: #e4e9e9;

            a{
                color: #858585;
                border: 0 none;
            }

            &:hover{
                a{
                    border: 0 none;
                }
            }

            &.active{
                background: #3b4859;
                >a,
                >a:hover,
                    >a:focus{
                    background: none;
                    border: 0 none;
                    color: #fff;
                }

                a{
                    &:after {
                        bottom: 0;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: #fff;
                        border-width: 10px;
                        margin-left: -10px;
                    }
                }
            }
        }		
    }

    .tab-pane{
        padding: 16px;
    }
}

.panel-footer,
.panel-body{
    .alert{
        margin-bottom: 0;
    }
}

.category-filters{
    ul{
        margin: 0 0 16px;
        padding:0 0;
        list-style-type: none;
    }

    .filters{
        .title{
            padding: 10px 5px;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            color: #2aa07f;
            border-top: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3;
        }

        .filter{
            position: relative;
            display: block;
            padding: 5px 40px;
            background: #f3f3f3;
            color: #3b4859;
            font-weight: 500;
            font-size: 14px;
            margin: 0 10% 10px;

            .border-radius(20px);

            .fa-close{
                position: absolute;
                right: 10px;
                top: 7px;

                &::before{
                    margin-right: 0;
                }
            }
        }

        li{
            text-align: center;
        }
    }

    .category-list{

    }
}

.header-message{
    background: #3b4658;
    padding: 16px 0;
    color: #20dc9c;
    font-weight: 700;
    font-size: 20px;

    .to-user{
        overflow: hidden;
        padding: 5px 0;
    }

    .btn{
        font-size: 12px;
    }
}

#formTextArea{
    padding: 30px;
    background: #f3f3f3;
}

.title-bold{
    margin: 0 0!important;
    padding: 20px 0;
    display: block;
    font-size: 20px!important;
    font-weight: 700!important;
    color: #20dc9c!important;
}

.header-underline{
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 32px;
}

.table-friend-list{
    .user-avatar{
        width:64px;

        img{
            width: 64px;
            height: 64px;
        }
    }

    .user-name{
        padding-top: 30px;
        padding-bottom: 30px;
        a{
            color: #3b4658;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .button-column{
        text-align: center;
        vertical-align: middle!important;
    }

    .btn{
        margin:0 5px;
    }

    tr,
    td{
        background: #fff!important;
    }

    tr + tr	td{
        border-top: 1px solid #f3f3f3!important;
    }	
}

.addthis_sharing_toolbox{
    text-align: center;
}


/*Estilo del diseñador de las encuestas*/

.editing-field-wrapper {
    position  : relative;
    top       : 0;
    left      : 0;
    background: #FFF;
    width     : 100%;
}

.editing-field-wrapper .btn {
    position: absolute;
    bottom  : -36px;
    right   : 0;
    height  : 35px;
    width   :  40px;
    top     : initial;
}

.editing-field-wrapper .btn.confirm_editable_action {
    right                             : 41px;
    -moz-border-bottom-right-radius   : 0;
    -moz-border-top-right-radius      : 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius   : 0;
    border-bottom-right-radius        : 0;
    border-top-right-radius           : 0;
    border-left-width: 1px;
}

.editing-field-wrapper .btn.cancel_editable_action {
    -moz-border-bottom-left-radius   : 0;
    -moz-border-top-left-radius      : 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius   : 0;
    border-bottom-left-radius        : 0;
    border-top-left-radius           : 0;
}

.editing-field-wrapper input,
.editing-field-wrapper select,
.editing-field-wrapper textarea {
    width: 100%;
    height: 100%;
    display: block;
}

.group-list {
    list-style: none;
    padding: 0;
}

.group-list .create-question-form {
    margin-top   : 10px;
    background   : #E9E9E9;
    border-radius: 9px;
}

.group-list .group-title {
    font-size: 24px;
}

.group-list .group-title.empty-tile {
    font-style: italic;
}

.question-list {
    border            : 1px solid #E7E7E7;
    border-radius     : 6px;
    padding           : 35px 20px 20px 20px;
    margin-top        : 20px;
    -moz-transition   : all .2s;
    -webkit-transition: all .2s;
    -ms-transition    : all .2s;
    transition        : all .2s;
    display           : block;
    position          : relative;
    top               : 0;
    left              : 0;
}

.question-list > .numbering {
    width                         : 35px;
    height                        : 36px;
    background                    : #20DC9C;
    display                       : block;
    color                         : #FFF;
    text-align                    : center;
    padding                       : 10px;
    position                      : absolute;
    top                           : -1px;
    left                          : -1px;
    -moz-border-radius            : 100%;
    -webkit-border-radius         : 100%;
    border-radius                 : 100%;
    -moz-border-top-left-radius   : 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius        : 6px;
}

.question-list.new-added,
.question-list li.new-added {
    border-color: #7ADD7A;
    background-color: #F9FFF9;
}

.question-list.removed,
.question-list li.removed {
    border-color    : #DD7A86;
    background-color: #FFF9F9;
}

.question-list.btn-questionmex-green {
    padding: 0;
    border: none;
}

.question-list .add-group .btn {
    padding: 20px;
    color: #fff;
}

.question-list ul {
    list-style: none;
    padding-left: 0;
}

.question-list > ul > li {
    padding      : 18px 15px;
    border-bottom: 1px solid #E7E7E7;
}

.question-list .new-question-li {
    border    : none;
    margin-top: 20px;
}

.question-list .new-question-li,
.question-list .delete-block-action {
    opacity           : 0;
    filter            : alpha(opacity=0);
    -webkit-transition: all .3s;
    -moz-transition   : all .3s;
    -o-transition     : all .3s;
    transition        : all .3s;
}

.question-list .delete-block-action {
    opacity: .5;
    filter : alpha(opacity=50);
}

.question-list:hover li.new-question-li,
.question-list:hover .delete-block-action {
    opacity: 1;
    filter : alpha(opacity=100);
}

.create-question-form + .new-question-li {
    display: none;
}

.question-list li .delete-question-action,.question-list li  .question-conditioned-action {
    opacity: .5;
    filter : alpha(opacity=50);
}

.question-list li:hover .delete-question-action, .question-list li:hover .question-conditioned-action {
    opacity: 1;
    filter : alpha(opacity=100);
}

.new-option-container {
    position: relative;
    top: 0;
    left: 0;
}

.new-option-container .input-option {
    position: relative;
    top: 0;
    left: 0;
    padding-right: 40px;
}

.new-option-container .add-option {
    position: absolute;
    top: 1px;
    right: 0;
}

.new-option-container .add-option .fa:before {
    margin-right: 0;
}

.options-list .option {
    padding      : 10px 20px;
    background   : #E2E2E2;
    color        : #6B6B6B;
    border-radius: 35px;
    display      : table;
    margin-bottom: 3px;
}

.create-question-form .options-list .option {
    background: #00C481;
    color     : #FFF;
}

.options-list .option a {
    margin-left: 10px;
}

.options-list .option a .fa:before {
    margin-right: 0;
    color: #6F5442;
}

.options-list .option p {
    margin-bottom: 0;
}

.options-list {
    margin-bottom: 10px;
}

.options-list .option:last-child {
    margin-bottom: 0;
}

.condition-question,
.edit-option,
.delete-option
{
    opacity: 0;
}                                   

.option-answer:hover .condition-question, 
.option-answer:hover .edit-option,
.option-answer:hover .delete-option 
{
    opacity: 1;
    filter : alpha(opacity=100);
}

/* Find friends Browser*/

.clearable {
    background: #fff url(http://p.yusukekamiyamane.com/icons/search/fugue/icons/cross.png) no-repeat right -20px center;
    transition: background 0.4s;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    font-size: 13px;
    padding: 8px 10px;
    width: 100%;
}

.clearable.x { 
    background-position: right 5px center; /*Show icon */
}

.clearable.onX { 
    cursor: pointer; 
}

/* Upload and preview of files and photos*/
div.fileinputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    top     : 0px;
    left    : 0px;
    z-index : 1;
}

div.fakefile{
    width		 : 150px;
    border-radius: 20px;
    border       : 1px solid #00dca2;
    padding      : 3px 3px 3px 20px;
}

div.fileinputs input.file {
    position    : relative;
    text-align  : right;
    -moz-opacity: 0;
    filter      : alpha(opacity=0);
    opacity     : 0;
    z-index     : 2;
    width       : 150px;
    cursor      : pointer;
}

.photo-preview {
    height               : 120px;
    border               : 1px solid #00dca2;
    -moz-border-radius   : 20px;
    -webkit-border-radius: 20px;
    border-radius        : 20px;
}

.photo-item {
    cursor  : pointer;
    color   : inherit;
    display : inline-block;
    overflow: hidden;
    margin  : 3px;
    position: relative;
}

.photo-item .photo-close {
    opacity : 0;
    filter  : alpha(opacity=0);
    position: absolute;
    right   : 10px;
    top     : 5px;
}

.photo-item:hover .photo-close {
    opacity: 1;
    filter : alpha(opacity=100);
}

.photo-item .photo-close .fa:before {
    margin-right: 0;
}

.file-item {
    cursor      : pointer;
    color       : inherit;
    display     : block;
    overflow    : hidden;
    margin-right: 20px;
    position    : relative;
}

.file-item .file-close {
    opacity : 0;
    filter  : alpha(opacity=0);
    position: absolute;
    right   : -15px;
    top     : 0px;
}

.file-item:hover .file-close {
    opacity: 1;
    filter : alpha(opacity=100);
}

.file-item .file-close .fa:before {
    margin-right: 0;
}

.close-radius{
    background-color     : #594337;
    -moz-border-radius   : 100%;
    -webkit-border-radius: 100%;
    border-radius        : 100%;
    color                : #fff;
}

.progress_bar {
    margin            : 10px 0;
    padding           : 3px;
    border            : 1px solid #000;
    font-size         : 14px;
    clear             : both;
    opacity           : 0;
    -moz-transition   : opacity 1s linear;
    -o-transition     : opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    position          : absolute;
    width             : 100%;
}

.progress_bar.loading {
    opacity : 1.0;
    position: relative;
}

.progress_bar .percent {
    background-color: #99ccff;
    height          : auto;
    width           : 0;
}

.message-photo-view {
    height               : 120px;
    width                : 120px;
    border               : 1px solid #00dca2;
    -moz-border-radius   : 20px;
    -webkit-border-radius: 20px;
    border-radius        : 20px;
    background-size      : cover;
    background-repeat    : no-repeat;
    background-position  : center center;
    display              : inline-block
}

#background-photo {
    display   : none;
    position  : fixed;
    height    : 100%;
    width     : 100%;
    top       : 0;
    left      : 0;
    left      : 0;
    right     : 0;
    background: #000000;	
    z-index   : 70;
}

#container-photo {
    display              : none;
    top                  :30px;
    position             : absolute;		
    background           : #FFFFFF;	
    padding              : 5px;
    z-index              : 71;
    min-height           : 200px;
    min-width            : 200px;
    color                : #336699;
    -moz-border-radius   : 10px;
    -webkit-border-radius: 10px;
    border-radius        : 10px;
}

#close-photo {
    position        : absolute;
    top             : 20px;
    right           : 26px;
    background-color: none;
    width           : 18px;
    height          : 18px;
    z-index         : 172;
    cursor          : pointer;
    background-image: url(../img/close.png); 
}

.answers-list {
    width     : 100%;
    overflow  : auto;
    height    : 240px;
    list-style: inside decimal;

    li {
        padding   : 7px 10px;
        border-bottom: 1px solid #ccc;
    }
}

.preview-file{
    max-width: 100px;
    max-height: 100px;
}


.whiteBackground{
    background: #fff;
}

.height-auto{
    min-height: inherit!important;
}

.emoticons-container.dropdown-menu {
    border-radius: 5px;
    border-color: #20dc9c;
    width: 100% !important;
    margin: 0px;
    padding: 10px;

    li {
        position: relative !important;
        float: left;
        text-align: center;
        margin: 4px;
    }

    .emoji-list{
        list-style-type: none;
        margin: 0 0;
        padding: 0 0;
    }

    img{
        max-width: 30px;
        max-height: 30px;
    }

    .option-field {

        margin-top: 10px;
        margin-bottom: 5px;

    }
}

.emojione{
    font-size:inherit;
    height:3ex;
    width:3.1ex;
    min-height:20px;
    min-width:20px;
    display:inline-block;
    margin:-.2ex .15em .2ex;
    line-height:normal;
    vertical-align:middle;

    img&{
        width:auto
    }
}

/*label required de formularios*/
div.required label:after {
    content: " *";
    color  : red;
}


@media only screen and (max-width: 650px) {
    .navbar-head .container-messages-notifications {
        clear: inherit;
        width: auto;
    }

    .navbar-head .container-messages-notifications .container-messages{
        width: auto;
    }
}


.navbar-head .container-messages-notifications .fa{
    height: 42px;
    line-height: 42px;
}

.navbar-head .navbar-buttons {
    padding: 9px 20px 8px
}

.navbar-head .drop-list ul li{
    line-height: 2em;
    height: auto;
}

.navbar-head .drop-list ul li a{
    height: auto;
    white-space: initial;
    line-height: inherit;
}

.navbar-head .drop-list ul li.separator{
    height: 1px!important;
}

.navbar-head .drop-list h2{
    font-size: 16px;
    padding: 0 20px;
    margin: 0 0;
    line-height: 34px;
}

.body-login .footer-login{
    position: static;
    height: 50px;
    margin-top: -50px;
}

html{
    height: 100%;
}

.header-cat h2{
    font-size:20px;
    font-weight: 400;
    color: #20dc9c;
    margin: 0 0;
}

h2.title-section-coupons{
    font-size: 20px;
    font-weight: 400;
    margin: 8px 0;
}


body.body-iframe,
html.iframe{
    background: #fff;
    height: auto!important;
}

/* coupon affiliate view*/

.affiliate-view{
    color: #464646;

    .fa{
        color: #20dc9c;
    }

    .fa:before{
        margin-right: 0;
    }

    .affiliate-logo{
        img{
            width: 94px;
            border-radius: 100%;
        }
    }

    .affiliate-name{
        font-size: 22px;
        font-weight: 400;
        color: #00dca2;
    }

    .affiliate-description{
        font-size: 20px;
        font-weight: 300;
    }

    .affiliate-contact-info{
        color: #3b4658;
        font-size: 16px;
        margin-top: 32px;
    }

    .affiliate-subsidiaries{
        font-size: 16px;
        color: #3b4658;

        h2{
            font-size: 22px;
            font-weight: 500;
            margin: 32px 0;
        }

        h5{
            font-size: 16px;
            color: #24e0b0;
            font-weight: 400;
        }

        a{
            color: #3b4658;
        }

        .fa{
            padding: 0 10px;
            display: inline-block;
        }

        .loadSubsidiary {
            border: 1px solid #ccc;
            border-top: 0;
            border-bottom: 0;
        }

        .affiliate-map{
            margin: 20px 0;
        }
    }
}

/* coupon view */

.ico-save-coupon{
    display: inline-block;
    width: 22px; 
    height: 22px;
    background: url('@{cdn}/themes/coupon/img/ico-save-coupon.png') center center no-repeat;
    vertical-align: middle;
}

.fa.my-coupons{
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url('@{cdn}/themes/coupon/img/ico-canjeados.png') no-repeat top left;	
    margin-right: 5px;
}

/* datepicker custom styles */

.ui-datepicker{

    .ui-datepicker-header{
        background: #00DCA2;

        select {
            border: 0;
            border-radius: 0;
            padding: 0;
        }

        .ui-datepicker-prev,
        .ui-datepicker-next{
            .ui-icon{
                display: none;
            }

            &:after{
                font-family: FontAwesome;
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                width: 1.8em;
                height: 1.8em;
                line-height: 1.8em;
                text-align: center;
            }
        }

        .ui-datepicker-prev:after{
            content: '\f053';
        }

        .ui-datepicker-next:after{
            content: '\f054';
        }

        .ui-datepicker-prev-hover,
        .ui-datepicker-next-hover{
            background: #fff;

            &:after{
                color: #5df4c1;
            }
        }
    }

    .ui-datepicker-calendar{
        .ui-state-highlight{
            background: #00DCA2;
            color: #fff;
        }
    }
}

.site-signup .signup-button{
    border-radius: 0;
}

.coupon-content-preview.history{

	border-bottom: 1px solid #f0f0f0;

	.coupon-info-container{
		color: #a3a3a3;
		
		.title-text{
			font-size: 15px;
			color: #a3a3a3;
			margin: 0;
		}
		
		.description-text{
			margin-top: 0;
			font-size: 12px;
                        white-space: pre-line;
                        word-break: break-word;
		}
	}
	
}

.table-winks-history{
	.table-bordered{
		border-top: 2px solid #00dca2;
		border-right: 0;
		border-left: 0;
	}
	
	.table tr:nth-child(even) {
		background: transparent;
	}
	
	.table tr:nth-child(even) td:nth-child(odd) {
		background: transparent;
	}
	
	.table td:nth-child(odd) {
		background: transparent;
	}
}

.important-text{
	color: #00dca2;
	font-size: 15px;
	font-weight: 400;
}


.dropdown-menu.tool-tip{
    background: #1b2d4c;
    color: #fff;
    width: 230px;
    padding: 10px;
    font-size: 13px;
    text-align: justify;
    top: 22px;
    right: -1px;
}

.color-wink{
    color:#00dca2;
}

.question-mark{
    color: #00dca2;
    border-radius: 100%;
    background: none;
    border: 1px solid #00dca2;
    width: 17px;
    height: 17px;
    line-height: 1px;
}

.arrow_box:after {
    bottom: 100%;
    left: initial;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #1b2d4c;
    border-width: 6px;
    margin-left: -6px;
    right: 3px;
}

.btn-swap-white{
    white-space: initial;
}

.navbar-head .container-messages-notifications .container-messages .box-messages {
	z-index: 10;
}